@font-face {
	font-family: 'iconic';
	src:url('fonts/iconic.eot');
	src:url('fonts/iconic.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconic.woff') format('woff'),
		url('fonts/iconic.ttf') format('truetype'),
		url('fonts/iconic.svg#iconic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconic';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-byui-logo, .icon-lds-church, .icon-vcard, .icon-export, .icon-graduation, .icon-book, .icon-megaphone, .icon-briefcase, .icon-pictures, .icon-install, .icon-book-2, .icon-triangle-left, .icon-triangle-down, .icon-triangle-up, .icon-triangle-right, .icon-angle-left, .icon-angle-down, .icon-angle-up, .icon-angle-right, .icon-home, .icon-office, .icon-phone, .icon-address-book, .icon-keyboard, .icon-radio-unchecked, .icon-radio-checked, .icon-flashlight, .icon-play, .icon-pushpin, .icon-chat, .icon-chat-alt-stroke, .icon-chat-alt-fill, .icon-comment-alt1-stroke, .icon-comment-alt1-fill, .icon-comment-stroke, .icon-comment-fill, .icon-comment-alt2-stroke, .icon-comment-alt2-fill, .icon-checkmark, .icon-check-alt, .icon-x, .icon-x-altx-alt, .icon-denied, .icon-cursor, .icon-rss, .icon-rss-alt, .icon-wrench, .icon-dial, .icon-cog, .icon-calendar, .icon-calendar-alt-stroke, .icon-calendar-alt-fill, .icon-share, .icon-mail, .icon-heart-stroke, .icon-heart-fill, .icon-movie, .icon-document-alt-stroke, .icon-document-alt-fill, .icon-document-stroke, .icon-document-fill, .icon-plus, .icon-plus-alt, .icon-minus, .icon-minus-alt, .icon-pin, .icon-link, .icon-bolt, .icon-move, .icon-move-alt1, .icon-move-alt2, .icon-equalizer, .icon-award-fill, .icon-award-stroke, .icon-magnifying-glass, .icon-trash-stroke, .icon-trash-fill, .icon-beaker-alt, .icon-beaker, .icon-key-stroke, .icon-key-fill, .icon-new-window, .icon-lightbulb, .icon-spin-alt, .icon-spin, .icon-curved-arrow, .icon-undo, .icon-reload, .icon-reload-alt, .icon-loop, .icon-loop-alt1, .icon-loop-alt2, .icon-loop-alt3, .icon-loop-alt4, .icon-transfer, .icon-move-vertical, .icon-move-vertical-alt1, .icon-move-vertical-alt2, .icon-move-horizontal, .icon-move-horizontal-alt1, .icon-move-horizontal-alt2, .icon-arrow-left, .icon-arrow-left-alt1, .icon-arrow-left-alt2, .icon-arrow-right, .icon-arrow-right-alt1, .icon-arrow-right-alt2, .icon-arrow-up, .icon-arrow-up-alt1, .icon-arrow-up-alt2, .icon-arrow-down, .icon-arrow-down-alt1, .icon-arrow-down-alt2, .icon-cd, .icon-steering-wheel, .icon-microphone, .icon-headphones, .icon-volume, .icon-volume-mute, .icon-play-2, .icon-pause, .icon-stop, .icon-eject, .icon-first, .icon-last, .icon-play-alt, .icon-fullscreen-exit, .icon-fullscreen-exit-alt, .icon-fullscreen, .icon-fullscreen-alt, .icon-iphone, .icon-battery-empty, .icon-battery-half, .icon-battery-full, .icon-battery-charging, .icon-compass, .icon-box, .icon-folder-stroke, .icon-folder-fill, .icon-at, .icon-ampersand, .icon-info, .icon-question-mark, .icon-pilcrow, .icon-hash, .icon-left-quote, .icon-right-quote, .icon-left-quote-alt, .icon-right-quote-alt, .icon-article, .icon-read-more, .icon-list, .icon-list-nested, .icon-book-3, .icon-book-alt, .icon-book-alt2, .icon-pen, .icon-pen-alt-stroke, .icon-pen-alt-fill, .icon-pen-alt2, .icon-brush, .icon-brush-alt, .icon-eyedropper, .icon-layers-alt, .icon-layers, .icon-image, .icon-camera, .icon-aperture, .icon-aperture-alt, .icon-chart, .icon-chart-alt, .icon-bars, .icon-bars-alt, .icon-eye, .icon-user, .icon-home-2, .icon-clock, .icon-lock-stroke, .icon-lock-fill, .icon-unlock-stroke, .icon-unlock-fill, .icon-tag-stroke, .icon-tag-fill, .icon-sun-stroke, .icon-sun-fill, .icon-moon-stroke, .icon-moon-fill, .icon-cloud, .icon-rain, .icon-umbrella, .icon-star, .icon-map-pin-stroke, .icon-map-pin-fill, .icon-map-pin-alt, .icon-target, .icon-download, .icon-upload, .icon-cloud-download, .icon-cloud-upload, .icon-fork, .icon-paperclip {
	font-family: 'iconic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-byui-logo:before {
	content: "\e000";
}
.icon-lds-church:before {
	content: "\e001";
}
.icon-vcard:before {
	content: "\e002";
}
.icon-export:before {
	content: "\e003";
}
.icon-graduation:before {
	content: "\e005";
}
.icon-book:before {
	content: "\e006";
}
.icon-megaphone:before {
	content: "\e007";
}
.icon-briefcase:before {
	content: "\e009";
}
.icon-pictures:before {
	content: "\e00b";
}
.icon-install:before {
	content: "\e00c";
}
.icon-book-2:before {
	content: "\e00d";
}
.icon-triangle-left:before {
	content: "\e00e";
}
.icon-triangle-down:before {
	content: "\e00f";
}
.icon-triangle-up:before {
	content: "\e010";
}
.icon-triangle-right:before {
	content: "\e011";
}
.icon-angle-left:before {
	content: "\e012";
}
.icon-angle-down:before {
	content: "\e013";
}
.icon-angle-up:before {
	content: "\e014";
}
.icon-angle-right:before {
	content: "\e015";
}
.icon-home:before {
	content: "\e01a";
}
.icon-office:before {
	content: "\e01b";
}
.icon-phone:before {
	content: "\e01c";
}
.icon-address-book:before {
	content: "\e01d";
}
.icon-keyboard:before {
	content: "\e01f";
}
.icon-radio-unchecked:before {
	content: "\e022";
}
.icon-radio-checked:before {
	content: "\e023";
}
.icon-flashlight:before {
	content: "\e025";
}
.icon-play:before {
	content: "\e02f";
}
.icon-pushpin:before {
	content: "\e030";
}
.icon-chat:before {
	content: "\e004";
}
.icon-chat-alt-stroke:before {
	content: "\e008";
}
.icon-chat-alt-fill:before {
	content: "\e00a";
}
.icon-comment-alt1-stroke:before {
	content: "\e016";
}
.icon-comment-alt1-fill:before {
	content: "\e017";
}
.icon-comment-stroke:before {
	content: "\e018";
}
.icon-comment-fill:before {
	content: "\e019";
}
.icon-comment-alt2-stroke:before {
	content: "\e01e";
}
.icon-comment-alt2-fill:before {
	content: "\e020";
}
.icon-checkmark:before {
	content: "\e021";
}
.icon-check-alt:before {
	content: "\e024";
}
.icon-x:before {
	content: "\e026";
}
.icon-x-altx-alt:before {
	content: "\e027";
}
.icon-denied:before {
	content: "\e028";
}
.icon-cursor:before {
	content: "\e029";
}
.icon-rss:before {
	content: "\e02a";
}
.icon-rss-alt:before {
	content: "\e02b";
}
.icon-wrench:before {
	content: "\e02c";
}
.icon-dial:before {
	content: "\e02d";
}
.icon-cog:before {
	content: "\e02e";
}
.icon-calendar:before {
	content: "\e031";
}
.icon-calendar-alt-stroke:before {
	content: "\e032";
}
.icon-calendar-alt-fill:before {
	content: "\e033";
}
.icon-share:before {
	content: "\e034";
}
.icon-mail:before {
	content: "\e035";
}
.icon-heart-stroke:before {
	content: "\e036";
}
.icon-heart-fill:before {
	content: "\e037";
}
.icon-movie:before {
	content: "\e038";
}
.icon-document-alt-stroke:before {
	content: "\e039";
}
.icon-document-alt-fill:before {
	content: "\e03a";
}
.icon-document-stroke:before {
	content: "\e03b";
}
.icon-document-fill:before {
	content: "\e03c";
}
.icon-plus:before {
	content: "\e03d";
}
.icon-plus-alt:before {
	content: "\e03e";
}
.icon-minus:before {
	content: "\e03f";
}
.icon-minus-alt:before {
	content: "\e040";
}
.icon-pin:before {
	content: "\e041";
}
.icon-link:before {
	content: "\e042";
}
.icon-bolt:before {
	content: "\e043";
}
.icon-move:before {
	content: "\e044";
}
.icon-move-alt1:before {
	content: "\e045";
}
.icon-move-alt2:before {
	content: "\e046";
}
.icon-equalizer:before {
	content: "\e047";
}
.icon-award-fill:before {
	content: "\e048";
}
.icon-award-stroke:before {
	content: "\e049";
}
.icon-magnifying-glass:before {
	content: "\e04a";
}
.icon-trash-stroke:before {
	content: "\e04b";
}
.icon-trash-fill:before {
	content: "\e04c";
}
.icon-beaker-alt:before {
	content: "\e04d";
}
.icon-beaker:before {
	content: "\e04e";
}
.icon-key-stroke:before {
	content: "\e04f";
}
.icon-key-fill:before {
	content: "\e050";
}
.icon-new-window:before {
	content: "\e051";
}
.icon-lightbulb:before {
	content: "\e052";
}
.icon-spin-alt:before {
	content: "\e053";
}
.icon-spin:before {
	content: "\e054";
}
.icon-curved-arrow:before {
	content: "\e055";
}
.icon-undo:before {
	content: "\e056";
}
.icon-reload:before {
	content: "\e057";
}
.icon-reload-alt:before {
	content: "\e058";
}
.icon-loop:before {
	content: "\e059";
}
.icon-loop-alt1:before {
	content: "\e05a";
}
.icon-loop-alt2:before {
	content: "\e05b";
}
.icon-loop-alt3:before {
	content: "\e05c";
}
.icon-loop-alt4:before {
	content: "\e05d";
}
.icon-transfer:before {
	content: "\e05e";
}
.icon-move-vertical:before {
	content: "\e05f";
}
.icon-move-vertical-alt1:before {
	content: "\e060";
}
.icon-move-vertical-alt2:before {
	content: "\e061";
}
.icon-move-horizontal:before {
	content: "\e062";
}
.icon-move-horizontal-alt1:before {
	content: "\e063";
}
.icon-move-horizontal-alt2:before {
	content: "\e064";
}
.icon-arrow-left:before {
	content: "\e065";
}
.icon-arrow-left-alt1:before {
	content: "\e066";
}
.icon-arrow-left-alt2:before {
	content: "\e067";
}
.icon-arrow-right:before {
	content: "\e068";
}
.icon-arrow-right-alt1:before {
	content: "\e069";
}
.icon-arrow-right-alt2:before {
	content: "\e06a";
}
.icon-arrow-up:before {
	content: "\e06b";
}
.icon-arrow-up-alt1:before {
	content: "\e06c";
}
.icon-arrow-up-alt2:before {
	content: "\e06d";
}
.icon-arrow-down:before {
	content: "\e06e";
}
.icon-arrow-down-alt1:before {
	content: "\e06f";
}
.icon-arrow-down-alt2:before {
	content: "\e070";
}
.icon-cd:before {
	content: "\e071";
}
.icon-steering-wheel:before {
	content: "\e072";
}
.icon-microphone:before {
	content: "\e073";
}
.icon-headphones:before {
	content: "\e074";
}
.icon-volume:before {
	content: "\e075";
}
.icon-volume-mute:before {
	content: "\e076";
}
.icon-play-2:before {
	content: "\e077";
}
.icon-pause:before {
	content: "\e078";
}
.icon-stop:before {
	content: "\e079";
}
.icon-eject:before {
	content: "\e07a";
}
.icon-first:before {
	content: "\e07b";
}
.icon-last:before {
	content: "\e07c";
}
.icon-play-alt:before {
	content: "\e07d";
}
.icon-fullscreen-exit:before {
	content: "\e07e";
}
.icon-fullscreen-exit-alt:before {
	content: "\e07f";
}
.icon-fullscreen:before {
	content: "\e080";
}
.icon-fullscreen-alt:before {
	content: "\e081";
}
.icon-iphone:before {
	content: "\e082";
}
.icon-battery-empty:before {
	content: "\e083";
}
.icon-battery-half:before {
	content: "\e084";
}
.icon-battery-full:before {
	content: "\e085";
}
.icon-battery-charging:before {
	content: "\e086";
}
.icon-compass:before {
	content: "\e087";
}
.icon-box:before {
	content: "\e088";
}
.icon-folder-stroke:before {
	content: "\e089";
}
.icon-folder-fill:before {
	content: "\e08a";
}
.icon-at:before {
	content: "\e08b";
}
.icon-ampersand:before {
	content: "\e08c";
}
.icon-info:before {
	content: "\e08d";
}
.icon-question-mark:before {
	content: "\e08e";
}
.icon-pilcrow:before {
	content: "\e08f";
}
.icon-hash:before {
	content: "\e090";
}
.icon-left-quote:before {
	content: "\e091";
}
.icon-right-quote:before {
	content: "\e092";
}
.icon-left-quote-alt:before {
	content: "\e093";
}
.icon-right-quote-alt:before {
	content: "\e094";
}
.icon-article:before {
	content: "\e095";
}
.icon-read-more:before {
	content: "\e096";
}
.icon-list:before {
	content: "\e097";
}
.icon-list-nested:before {
	content: "\e098";
}
.icon-book-3:before {
	content: "\e099";
}
.icon-book-alt:before {
	content: "\e09a";
}
.icon-book-alt2:before {
	content: "\e09b";
}
.icon-pen:before {
	content: "\e09c";
}
.icon-pen-alt-stroke:before {
	content: "\e09d";
}
.icon-pen-alt-fill:before {
	content: "\e09e";
}
.icon-pen-alt2:before {
	content: "\e09f";
}
.icon-brush:before {
	content: "\e0a0";
}
.icon-brush-alt:before {
	content: "\e0a1";
}
.icon-eyedropper:before {
	content: "\e0a2";
}
.icon-layers-alt:before {
	content: "\e0a3";
}
.icon-layers:before {
	content: "\e0a4";
}
.icon-image:before {
	content: "\e0a5";
}
.icon-camera:before {
	content: "\e0a6";
}
.icon-aperture:before {
	content: "\e0a7";
}
.icon-aperture-alt:before {
	content: "\e0a8";
}
.icon-chart:before {
	content: "\e0a9";
}
.icon-chart-alt:before {
	content: "\e0aa";
}
.icon-bars:before {
	content: "\e0ab";
}
.icon-bars-alt:before {
	content: "\e0ac";
}
.icon-eye:before {
	content: "\e0ad";
}
.icon-user:before {
	content: "\e0ae";
}
.icon-home-2:before {
	content: "\e0af";
}
.icon-clock:before {
	content: "\e0b0";
}
.icon-lock-stroke:before {
	content: "\e0b1";
}
.icon-lock-fill:before {
	content: "\e0b2";
}
.icon-unlock-stroke:before {
	content: "\e0b3";
}
.icon-unlock-fill:before {
	content: "\e0b4";
}
.icon-tag-stroke:before {
	content: "\e0b5";
}
.icon-tag-fill:before {
	content: "\e0b6";
}
.icon-sun-stroke:before {
	content: "\e0b7";
}
.icon-sun-fill:before {
	content: "\e0b8";
}
.icon-moon-stroke:before {
	content: "\e0b9";
}
.icon-moon-fill:before {
	content: "\e0ba";
}
.icon-cloud:before {
	content: "\e0bb";
}
.icon-rain:before {
	content: "\e0bc";
}
.icon-umbrella:before {
	content: "\e0bd";
}
.icon-star:before {
	content: "\e0be";
}
.icon-map-pin-stroke:before {
	content: "\e0bf";
}
.icon-map-pin-fill:before {
	content: "\e0c0";
}
.icon-map-pin-alt:before {
	content: "\e0c1";
}
.icon-target:before {
	content: "\e0c2";
}
.icon-download:before {
	content: "\e0c3";
}
.icon-upload:before {
	content: "\e0c4";
}
.icon-cloud-download:before {
	content: "\e0c5";
}
.icon-cloud-upload:before {
	content: "\e0c6";
}
.icon-fork:before {
	content: "\e0c7";
}
.icon-paperclip:before {
	content: "\e0c8";
}
