
<div class="quick-guide open" id="quick-guide">
  <h1 class="top">Quick Guide to BYU-I</h1>
  <div class="close-btn" ></div>
  <h1>Early Stage</h1>
  <div class="menu-box" >
    <div class="title">Identify Your Educational Strategy</div>
    <div class="items">
      <div class="item">
        <div class="descript">Assess your Competencies</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
      <div class="item">
        <div class="descript">Research &amp; Select a Career</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
      <div class="item">
        <div class="descript">Early Stage Career Services</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
    </div>
  </div>

  <div class="menu-box">
    <div class="title">Select a Degree For Your Straregy</div>
    <div class="items">
      <div class="item">
        <div class="descript">Assess your Competencies</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
      <div class="item">
        <div class="descript">Research &amp; Select a Career</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
      <div class="item">
        <div class="descript">Early Stage Career Services</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
    </div>
  </div>

  <h1>Middle Stage</h1>
  <div class="menu-box">
    <div class="title">Tailor Courses Within Your Degree</div>
    <div class="items">
      <div class="item">
        <div class="descript">Assess your Competencies</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
      <div class="item">
        <div class="descript">Research &amp; Select a Career</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
      <div class="item">
        <div class="descript">Early Stage Career Services</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
    </div>
  </div>

  <div class="menu-box">
    <div class="title">Assess Growth &amp; Use Study Helps</div>
    <div class="items">
      <div class="item">
        <div class="descript">Assess your Competencies</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
      <div class="item">
        <div class="descript">Research &amp; Select a Career</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
      <div class="item">
        <div class="descript">Early Stage Career Services</div>
        <button type="button" class="btn btn-primary btn-xs">Read</button>
        <button type="button" class="btn btn-primary btn-xs">Act</button>
      </div>
    </div>
  </div>

  <h1>Late Stage</h1>
  <div class="menu-box">
    <div class="title">Find the Right Job</div>
  </div>
  <div class="menu-box">
    <div class="title">Transition to Graduate School</div>
  </div>

  <div class="full-guide" >
    <a href="#">View Full Guide</a>
  </div>
</div>

<script src="/assets/js/quick-guide.js" charset="utf-8"></script>
