<footer role="contentinfo" class="global-footer">

    <div class="footer-graphic jumbotron"></div>

    <div class="footer-audience">
        <div class="container">
            <nav class="audience-nav text-center">
                <a href="http://www.byui.edu/future-students/" class="btn btn-primary btn-sm">Future Students</a>
                <a href="https://my.byui.edu/ics" class="btn btn-primary btn-sm">Current Students</a>
                <a href="https://my.byui.edu/ics" class="btn btn-primary btn-sm">Employees</a>
                <a href="http://beta.byui.edu/parents" class="btn btn-primary btn-sm">Parents and Family</a>
                <a href="http://www.byuiconnect.com/s/1085/07-idaho/idaho-start.aspx?gid=4&amp;pgid=61" class="btn btn-primary btn-sm">Alumni</a>
            </nav>
            <!-- /.audience-nav -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-audience -->

    <div class="footer-links">
        <div class="container">
            <div id="footerAccordion" class="">
                <div class="row">
                    <nav class="footer-column col-all-12 col-xs-6 col-sm-3 pull-left">
                        <a class="footer-column-heading" data-toggle="collapse" data-parent="#footerAccordion" href="#collapseContact">Contact <b class="caret"></b></a>
                        <address class="no-margin">
                      <ul id="collapseContact" class="no-margin collapse">
                        <li>
                          <span aria-hidden="true" class="icon icon-office">&#160;</span>525 South Center St.<br/>
                          Rexburg, ID, 83460
                        </li>
                        <li>
                          <span aria-hidden="true" class="icon icon-phone">&#160;</span><a href="tel:12084961411">(208) 496-1411</a>
                        </li>
                        <li>
                          <span aria-hidden="true" class="icon icon-mail">&#160;</span><a href="mailto:ask@byui.edu">ask@byui.edu</a>
                        </li>
                        <li>
                          <span aria-hidden="true" class="icon icon-chat">&#160;</span><a href="http://www.byui.edu/feedback/?cid=fli:192">Feedback</a>
                        </li>
                      </ul>
                    </address>
                    </nav>
                    <!-- /.footer-column -->
                    <nav class="footer-column col-all-12 col-xs-6 col-sm-3 pull-left">
                        <a class="footer-column-heading" data-toggle="collapse" data-parent="#footerAccordion" href="#collapseFollow">Follow <b class="caret"></b></a>
                        <ul id="collapseFollow" class="footer-social no-margin collapse">
                            <li><span aria-hidden="true" class="icon icon-facebook">&#160;</span><a href="http://www.byui.edu/social-media/facebook">Facebook</a>
                            </li>
                            <li><span aria-hidden="true" class="icon icon-twitter">&#160;</span><a href="http://www.byui.edu/social-media/twitter">Twitter</a>
                            </li>
                            <li><span aria-hidden="true" class="icon icon-youtube">&#160;</span><a href="http://www.byui.edu/social-media/youtube">Youtube</a>
                            </li>
                            <li><span aria-hidden="true" class="icon icon-linkedin">&#160;</span><a href="http://www.byui.edu/social-media/linkedin">LinkedIn</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.footer-column -->
                    <nav class="footer-column col-all-12 col-xs-6 col-sm-3 pull-left">
                        <a href="#collapsePopular" class="footer-column-heading" data-toggle="collapse" data-parent="#footerAccordion">Popular <b class="caret"></b></a>
                        <ul id="collapsePopular" class="no-margin collapse">
                            <li><a href="https://web.byui.edu/devotionalsandspeeches/#/">Devotionals</a>
                            </li>
                            <li><a href="http://www.byui.edu/financial-services/my-personal-account/i-card">ID Cards</a>
                            </li>
                            <li><a href="http://www.byui.edu/human-resources/employment-opportunities">Jobs and Employment</a>
                            </li>
                            <li><a href="http://byui.universitytickets.com/user_pages/event_listings.aspx">Ticket Office</a>
                            </li>
                            <li><a href="http://web.byui.edu/WardsAndStakes/UnitInfo">Wards and Stakes</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.footer-column -->
                    <nav class="footer-column col-all-12 col-xs-6 col-sm-3 pull-left">
                        <a href="#collapseHelp" class="footer-column-heading" data-toggle="collapse" data-parent="#footerAccordion">Help <b class="caret"></b></a>
                        <ul id="collapseHelp" class="no-margin collapse">
                            <li><a href="http://www.byui.edu/ask/live-chat/?cid=hli:109">Ask BYUI</a>
                            </li>
                            <li><a href="http://www.byui.edu/disabilities/">Disability Services</a>
                            </li>
                            <li><a href="http://www.byui.edu/information-technology">Technical Help Desk</a>
                            </li>
                            <li><a href="http://www.byui.edu/student-support">Student Support</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.footer-column -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-links -->

    <div class="footer-brand">
        <div class="container">
            <div class="school-branding row text-center">
                <p>
                    <a href="http:///www.byu.edu/">BYU Provo</a>&#160;&#160;|&#160;&#160;
                    <a href="http:///www.byuh.edu/">BYU Hawaii</a>&#160;&#160;|&#160;&#160;
                    <a href="http://www.ldsbc.edu/">LDS Business College</a>&#160;&#160;|&#160;&#160;
                    <a href="http://www.byui.edu/online/pathway">Pathway</a>
                </p>
            </div>
            <!-- /.school-branding -->

            <div class="copyright row text-center">
                <a href="http://www.byui.edu/copyright/policy/terms-of-use/?cid=fli:190">Copyright ©2013</a>&#160;&#160;|&#160;&#160;<a href="http://www.byui.edu/legal">Legal Notices</a>
            </div>
            <!-- /.copyright -->

            <div class="church-branding row text-center">
                <p>
                    <a href="http://www.lds.org/"><span class="icon icon-lds-church"></span><span class="sr-only">The Church of Jesus Christ of Latter-Day Saints</span></a>
                </p>
            </div>
            <!-- /.church-branding -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-brand -->

    <!--
            BEGIN INTRUSIVE FEEDBACK BUTTON:
            THIS BUTTON SHOULD BE REMOVED
            AS SOON AS YOU CAN DO SO
            WITHOUT LOSING YOUR JOB
          -->
    <style>
        .feedback-toggle {
            position: fixed;
            bottom: -3px;
            right: -4px;
            display: none;
            border: 1px solid #fff;
        }
    </style>
    <script>
        $(function () {
            $(".feedback-toggle").show();
        });
    </script>

    <!-- Button trigger modal -->
    <a data-toggle="modal" href="#feedbackModal" class="feedback-toggle btn btn-primary hidden-xs"><span class="icon-chat pull-left"></span><span class="pull-left visible-lg visible-xl">&#160;Feedback</span></a>

    <!-- Modal -->
    <div class="feedback-modal modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#215;</button>
                    <h4 class="modal-title">We want to hear from you!</h4>
                </div>
                <!-- /.modal-header -->
                <div class="modal-body">
                    <p>BYU-Idaho values suggestions and ideas that can improve the university. Use our Feedback Form to let us know what you think.</p>
                </div>
                <!-- /.modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="http://www.byui.edu/feedback/" type="button" class="btn btn-primary"><span class="icon-chat">&#160;</span>Give Feedback</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END INTRUSIVE FEEDBACK BUTTON -->
</footer>
<!-- /.global-footer -->