<div class="contactContainer">
    <div class="contact" itemscope itemtype="http://schema.org/Person">
        <!--contact info-->

        <span class="personTitle">Professor John</span>
        <span class="personName" itemprop="givenName">John Link</span>

        <table class="contactTable">
            <tr>
                <td>
                    email
                    <div class="dot"></div>
                    <p itemprop="email">
                        abc@abc.com
                    </p>
                </td>
                <td>phone
                    <div class="dot"></div>
                    <p itemprop="telephone">
                        555-555-5555
                    </p>
                </td>
                <td>location
                    <p itemprop="workLocation">
                        Biddulph 326
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="contact" itemscope itemtype="http://schema.org/Person">
        <!--contact info-->

        <span class="personTitle">Professor John</span>
        <span class="personName" itemprop="givenName">John Link</span>

        <table class="contactTable">
            <tr>
                <td>
                    email
                    <div class="dot"></div>
                    <p itemprop="email">
                        abc@abc.com
                    </p>
                </td>
                <td>phone
                    <div class="dot"></div>
                    <p itemprop="telephone">
                        555-555-5555
                    </p>
                </td>
                <td>location
                    <p itemprop="workLocation">
                        Biddulph 326
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="contact" itemscope itemtype="http://schema.org/Person">
        <!--contact info-->

        <span class="personTitle">Professor John</span>
        <span class="personName" itemprop="givenName">John Link</span>

        <table class="contactTable">
            <tr>
                <td>
                    email
                    <div class="dot"></div>
                    <p itemprop="email">
                        abc@abc.com
                    </p>
                </td>
                <td>phone
                    <div class="dot"></div>
                    <p itemprop="telephone">
                        555-555-5555
                    </p>
                </td>
                <td>location
                    <p itemprop="workLocation">
                        Biddulph 326
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="contact" itemscope itemtype="http://schema.org/Person">
        <!--contact info-->

        <span class="personTitle">Professor John</span>
        <span class="personName" itemprop="givenName">John Link</span>

        <table class="contactTable">
            <tr>
                <td>
                    email
                    <div class="dot"></div>
                    <p itemprop="email">
                        abc@abc.com
                    </p>
                </td>
                <td>phone
                    <div class="dot"></div>
                    <p itemprop="telephone">
                        555-555-5555
                    </p>
                </td>
                <td>location
                    <p itemprop="workLocation">
                        Biddulph 326
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>
