<style>
    .emergency-base {
        background-color: #db520c;
        border: 0 solid;
        border-color: #a73e09;
        color: #FFF;
        padding-left: 30px;
        padding-bottom: 10px;
        padding-top: 10px
    }
    .emergency-wrapper {
        background-color: #FFF;
        border: 10px solid #db520c;
        color: #FFF;
        margin-top: -1.5em;
        padding-left: 30px;
        padding-bottom: 10px;
        padding-top: 10px
    }
    #EmergencyTitle {
        text-align: center
    }
    #EmergencyTitle p {
        width: 270px;
        margin: 0 10px;
        float: left;
        color: #000;
        text-align: left
    }
    #EmergencyTitle p+p {
        border-left: 1px solid #DDD;
        padding-left: 20px
    }
    #EmergencyTitle h2 {
        background-color: #db520c;
        width: 650px;
        color: #FFF;
        font-size: 22px;
        text-transform: uppercase;
        margin: -10px auto 10px auto
    }
</style>

<div class="emergency-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat itaque ullam, assumenda beatae inventore nobis. Eligendi veniam dignissimos sint fugiat. Magni doloribus itaque dicta vitae perspiciatis perferendis doloremque. Temporibus?        </div>