---
layout: MainLayout
---

{% include breadcrumb/breadcrumb.html %}

<section class="employee" itemscope itemtype="https://schema.org/Person">
    <!-- can also use generic title component -->
    {% include employee-title/employee-title.html %}

    <div class="row">

        <section class="col-all-12 pull-left">

            <figure class="employee col-xs-3 pull-left">
                <img src="//www.fillmurray.com/200/300" alt="Photo of Bill Murray" class="employee-img img-thumbnail">
                <figcaption>
                    <ul class="contact-info">
                        <li>
                            <span aria-hidden="true" class="icon icon-office">&nbsp;</span>
                            <a href="http://www.byui.edu/maps#SMI">417 HLYWD</a>
                        </li>
                        <li>
                            <span aria-hidden="true" class="icon icon-phone">&nbsp;</span>
                            <a href="tel:12084963767">(555) 555-5555</a>
                        </li>
                        <li>
                            <span aria-hidden="true" class="icon icon-mail">&nbsp;</span>
                            <a href="mailto:#">asdf@asdf.com</a>
                        </li>
                        <li>
                            <span aria-hidden="true" class="icon icon-home">&nbsp;</span>
                            <a href="#">www.fillmurray.com</a>
                        </li>
                    </ul>
                </figcaption>
            </figure>
            <section class="employee-qualifications col-xs-9 pull-left">
                <h2>Education</h2>
                <ul>
                    <li>MSCIS, University of Phoenix</li>
                    <li>B.S. in Physical Science, Southern Utah State University</li>
                </ul>

                <h2>Interests</h2>
                <ul>
                    <li>Taking long walks on the beach.</li>
                    <li>Dressing up like a zombie to hang out with friends.</li>
                </ul>

                <h2>Current Courses Taught</h2>
                <ul>
                    <li>
                    <a href="#">http://www.fillmurray.com</a>
                    </li>
                </ul>

                <h2>Optional Item</h2>
                <p>Seconday Education Instructor (Math, Chemistry, Physics, Geology)</p>

                <h2>Optional Item</h2>
                <p>Seconday Education Instructor (Math, Chemistry, Physics, Geology)</p>
            </section>

        </section>

    </div>
</section>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/employee-info.min.css" />