.container.full-width { width:100%; padding-right:0; padding-left:0; }

@media (min-width: 768px) {
  .container.full-width   { width:100%; padding-right:0; padding-left:0;
    .sub-container        { width: 750px; margin:0 auto; padding-left: 15px; padding-right: 15px;}
  }
}
@media (min-width: 992px) {
  .container.full-width   { width:100%; padding-right:0; padding-left:0;
    .sub-container        { width: 970px; margin:0 auto; padding-left: 15px; padding-right: 15px; }
  }
}
