//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Brand colors
// -------------------------

@brand-primary:         #056cb6;
@brand-dark: 			darken(@brand-primary, 10%); // #044f84
@brand-success:         #129f47;


// Typography
// -------------------------

@font-family-sans-serif:  "BYUI Open Sans", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
@font-family-serif:       "BYUI Merriweather", "Merriweather", "Palatino Linotype", "Book Antiqua", Palatino, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@headings-font-family:    @font-family-serif;
@font-family-open-sans-light:					  "BYUI Open Sans Light";
@font-family-open-sans-semibold:				  "BYUI Open Sans Semibold";
@font-family-open-sans-bold:					  "BYUI Open Sans", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;


@font-size-h3:	20px;
@font-size-h4:	17px;
@font-size-h5:	15px;
@font-size-h5:	14px;

@font-size-open-sentence: 24px;
@font-size-open-paragraph: 16px;





// Grid system
// --------------------------------------------------

// Number of columns in the grid system
@grid-columns:              12;

// Point at which the navbar stops collapsing
@grid-float-breakpoint:     @screen-sm-min;


// Navbar
// -------------------------

@navbar-default-bg:                #fff;
@navbar-default-border:            darken(@navbar-default-bg, 15%);

// Inverted navbar
//
// Reset inverted navbar basics
@navbar-inverse-color:                      @gray-lighter;

// Inverted navbar links
@navbar-inverse-link-color:                 @gray-lighter;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
