//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Brand colors
// -------------------------

@brand-primary:         #056cb6;
@brand-dark: 			      darken(@brand-primary, 10%); // #044f84
@brand-success:         #129f47;


// Typography
// -------------------------


@headings-font-family:    @font-family-serif;


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
@grid-columns:              12;

// Point at which the navbar stops collapsing
@grid-float-breakpoint:     @screen-sm-min;


// Navbar
// -------------------------

@navbar-default-bg:                #fff;
@navbar-default-border:            darken(@navbar-default-bg, 15%);

// Inverted navbar
//
// Reset inverted navbar basics
@navbar-inverse-color:                      @gray-lighter;

// Inverted navbar links
@navbar-inverse-link-color:                 @gray-lighter;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
