<script type="text/javascript" src="{{ site.baseurl }}/assets/js/enquire.min.js"></script>

<div class="row">
    <div id="right-content" class="col-sm-7 col-md-8">
        <div class="gallery-container">
            <div id="main-tile">
                <p>
                    <img src="{{ site.baseurl }}/assets/placeholders/cs-fall13-article.jpg" />
                </p>
            </div>
            <div id="gallery-caption" style="display: none;">

            </div>
            <div id="mobile-arrow-container">
                <span id="left-mobile-arrow" class="mobile-arrow icon-angle-left"></span>
                <span id="right-mobile-arrow" class="mobile-arrow icon-angle-right"></span>
                <section style="clear:both;"></section>
            </div>
            <div id="thumbnail-container">
                <div class="small-tile" data-value="<p><img alt=&quot;Cool clouds above the BYU-I Center&quot; src=&quot;{{ site.baseurl }}/assets/placeholders/cs-fall13-article.jpg&quot; /></p>" style="display: block;">
                    <p>
                        <img alt="Cool clouds above the BYU-I Center" src="{{ site.baseurl }}/assets/placeholders/cs-fall13-thumb.jpg">
                    </p>
                </div>
                <div class="small-tile" data-value="<p><img src=&quot;{{ site.baseurl }}/assets/placeholders/eldergray-article.jpg&quot; /></p>" style="display: block;">
                    <p>
                        <img src="{{ site.baseurl }}/assets/placeholders/eldergray-thumb.jpg">
                    </p>
                </div>
                <div class="small-tile" style="display: block; background-image: url(http://cdn.kaltura.com/p/1297091/thumbnail/entry_id/0_244wrkaf/width/%20149/height/100/type/1/quality/100); background-repeat: no-repeat;" data-value="<p><iframe frameborder=&quot;0&quot; height=&quot;285&quot; id=&quot;kaltura_player&quot; src=&quot;http://www.kaltura.com/p/1297091/sp/129709100/embedIframeJs/uiconf_id/16234582/partner_id/1297091?iframeembed=true&amp;amp;playerId=16687322&amp;amp;entry_id=0_244wrkaf&amp;amp;wid=0_1opsjmvb&amp;amp;flashvars[mediaProtocol]=rtmp&amp;amp;flashvars[streamerType]=rtmp&amp;amp;flashvars[streamerUrl]=rtmp://www.kaltura.com:1935&amp;amp;flashvars[rtmpFlavors]=1&amp;amp;&quot; width=&quot;400&quot;></iframe></p>">
                    <img src="{{ site.baseurl }}/assets/images/play.svg" class="vidIcon">
                </div>
                <div class="small-tile" data-value="<p><img src=&quot;{{ site.baseurl }}/assets/placeholders/inl-article.jpg&quot; /></p>" style="display: block;">
                    <p>
                        <img src="{{ site.baseurl }}/assets/placeholders/inl-article.jpg">
                    </p>
                </div>
                <div class="small-tile" data-value="<p><img src=&quot;{{ site.baseurl }}/assets/placeholders/nashville-article.jpg&quot; /></p>" style="display: none;">
                    <p>
                        <img src="{{ site.baseurl }}/assets/placeholders/nashville-article.jpg">
                    </p>
                </div>

            </div>
            <div id="left-arrow" class="gallery-arrow">
                <span class="icon-angle-left"></span>
            </div>
            <div id="right-arrow" class="gallery-arrow">
                <span class="icon-angle-right"></span>
            </div>
        </div>
    </div>
</div>
