<script type="text/javascript" src="{{ site.baseurl }}/assets/js/enquire.min.js"></script>
<div id="gallery-container container">
    <div id="main-tile">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil alias, magnam eaque! Ipsam quas labore, neque consequatur odit doloremque. Aperiam incidunt quam repellendus at quod! Qui natus doloremque fuga nobis.
    </div>
    <div id="gallery-caption">

    </div>
    <div id="mobile-arrow-container">
        <span id="left-mobile-arrow" class="mobile-arrow icon-angle-left"></span>
        <span id="right-mobile-arrow" class="mobile-arrow icon-angle-right"></span>
        <section style="clear:both;"></section>
    </div>
    <div id="thumbnail-container">
        <div class="small-tile" style="background-image:url('{{ site.baseurl }}/assets/placeholders/eldergray-thumb.jpg'); background-repeat:no-repeat;" data-value="1">
            <img src="{{ site.baseurl }}/assets/images/play.svg" class="vidIcon" />
        </div>
        <div class="small-tile" data-value="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vero minima minus odit distinctio saepe sit, officia atque explicabo. Quis ab reiciendis aperiam sint fuga excepturi fugiat, ullam sed, consectetur.">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vero minima minus odit distinctio saepe sit, officia atque explicabo. Quis ab reiciendis aperiam sint fuga excepturi fugiat, ullam sed, consectetur.
        </div>
        <div class="small-tile" style="background-image:url('{{ site.baseurl }}/assets/placeholders/inl-thumb.jpg'); background-repeat:no-repeat;" data-value="3">
            <img src="{{ site.baseurl }}/assets/images/play.svg" class="vidIcon" />
        </div>
        <div class="small-tile" data-value="        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, numquam! Ea corrupti soluta accusamus quisquam suscipit ut. Minima aliquam magni odio voluptatibus, consectetur voluptates, reprehenderit saepe pariatur similique, quis molestias.">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, numquam! Ea corrupti soluta accusamus quisquam suscipit ut. Minima aliquam magni odio voluptatibus, consectetur voluptates, reprehenderit saepe pariatur similique, quis molestias.
        </div>
        <div class="small-tile" style="background-image:url('{{ site.baseurl }}/assets/placeholders/patriots-thumb.jpg'); background-repeat:no-repeat;" data-value="5">
            <img src="{{ site.baseurl }}/assets/images/play.svg" class="vidIcon" />
        </div>
    </div>
    <div id="left-arrow" class="gallery-arrow">
        <span class="icon-angle-left"></span>
    </div>
    <div id="right-arrow" class="gallery-arrow">
        <span class="icon-angle-right"></span>
    </div>

</div>

