.footer-audience {
  background-color: #eee;
  border-top: 1px solid #ddd;
  margin: 0;
  border-radius: 0;
  padding: .675em;
  .btn {
    margin: .2em;
  }
}
.audience-nav {
  text-align: center;
}
.footer-graphic {
  margin: 0;
  padding: 0;
  background: #fff;
  background: url('http://www.byui.edu/prebuilt/stylenew/images/foot/taylor_graphic.png') no-repeat;
  background-position: center;
  height: 146px;
  margin-bottom: -11px;
}
.footer-links {
  font-size: 1em;
  color: #fff;
  background-color: @brand-primary;
  border-top: 1px solid darken(@brand-primary, 10%);

  border-bottom: 1px solid lighten(@brand-primary, 10%);
  padding: 3em 0 1em;
  h4 {
    // text-transform: uppercase;
    
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin-bottom: .75em;
  }
  a {
    color: #fff;
    &:hover {
      /*color: #ddd;*/
    }
  }
}
.footer-column {
  margin-bottom: 2em;
  .collapse {
    @media (min-width:@screen-sm) {
      display:block;
      height: auto;
    }
  }
}
.footer-column-heading {
  border-bottom: 1px solid #fff;
  display: block;
  padding-bottom: .3em;
  margin-bottom: 1em;
  font-size: 18px;
  font-family: @font-family-sans-serif;
  position: relative;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
    position: absolute;
    right: 0;
    bottom: .5em;
    @media (min-width:@screen-sm) {
      display:none;
    }
  }
}
.footer-social {
  li {
    min-height: 2em;
  }
}
.footer-brand {
  background: #000;
  border-top: 1px solid #666;
  color: #aaa;
  padding-top: 2em;
  a {
    color: #ccc;
    &:hover, &:focus {
      // text-decoration: none;
      color: #fff;
    }
  }
}
.church-branding {
  padding: 2em 0;
  a {
    text-decoration: none;
    display: block;
    text-indent: -9999px;
    height: 125px;
    background: url(../images/lds-logo.png) no-repeat center;
    background-size: 250px 125px;
  }
}