// GLOBAL STYLES PARTIAL
/* HEADER STYLES */
body {
  margin-bottom: -50px;
}
.site-banner {
  background: @brand-primary;
  color: #fff;
  padding: 1em 0;
  margin: 0;
}
.page-title {
  margin: 0;
  padding: 0;
  font-size: 32px !important;
}
.site-navigation {
  margin: 0;
  border-radius: 0;
  z-index: 1020;
  .navbar-nav {
    margin-left: -20px;
  }
}
.search {
  padding-left: 0;
}
.desktop-search {
  float: right;
  margin-top: 9px;
  margin-right: -20px;
  width: 40%;
}
.department-nav {
  z-index: 1010;
}

.site-logo {
  text-decoration: none;
  color: #fff;
  font-size: 75px;
  margin-top: -26px;
  margin-bottom: -26px;
  margin-left: -15px;
  &:hover {
    color: #aaa;
  }
}
.site-title {
  font-size: 1.8em;
  float: left;
  position: relative;
  top: .3em; 
  border-left: 1px solid #efefef;
  padding-left: 1em;
  margin-left: .3em;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
    }
  }
}
.sign-in {
  margin-right: -20px;
}
.site-content {
  padding-top: 20px;
}
