@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-8k8p81');
	src:url('../fonts/icomoon.eot?#iefix-8k8p81') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-8k8p81') format('truetype'),
		url('../fonts/icomoon.woff?-8k8p81') format('woff'),
		url('../fonts/icomoon.svg?-8k8p81#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-export:before {
	content: "\e602";
}
.icon-graduation:before {
	content: "\e603";
}
.icon-megaphone:before {
	content: "\e604";
}
.icon-pictures:before {
	content: "\e605";
}
.icon-triangle-left:before {
	content: "\e606";
}
.icon-triangle-down:before {
	content: "\e607";
}
.icon-triangle-up:before {
	content: "\e608";
}
.icon-triangle-right:before {
	content: "\e609";
}
.icon-angle-left:before {
	content: "\e60a";
}
.icon-angle-down:before {
	content: "\e60b";
}
.icon-angle-up:before {
	content: "\e60c";
}
.icon-angle-right:before {
	content: "\e60d";
}
.icon-home:before {
	content: "\e60e";
}
.icon-office:before {
	content: "\e60f";
}
.icon-phone:before {
	content: "\e610";
}
.icon-address-book:before {
	content: "\e611";
}
.icon-keyboard:before {
	content: "\e612";
}
.icon-radio-unchecked:before {
	content: "\e613";
}
.icon-radio-checked:before {
	content: "\e614";
}
.icon-flashlight:before {
	content: "\e615";
}
.icon-pushpin:before {
	content: "\e616";
}
.icon-checkmark:before {
	content: "\e617";
}
.icon-x:before {
	content: "\e618";
}
.icon-denied:before {
	content: "\e619";
}
.icon-cursor:before {
	content: "\e61a";
}
.icon-wrench:before {
	content: "\e61b";
}
.icon-cog:before {
	content: "\e61c";
}
.icon-calendar:before {
	content: "\e61d";
}
.icon-mail:before {
	content: "\e61f";
}
.icon-heart:before {
	content: "\e620";
}
.icon-movie:before {
	content: "\e621";
}
.icon-document:before {
	content: "\e622";
}
.icon-document2:before {
	content: "\e623";
}
.icon-plus:before {
	content: "\e624";
}
.icon-minus:before {
	content: "\e625";
}
.icon-link:before {
	content: "\e626";
}
.icon-bolt:before {
	content: "\e627";
}
.icon-award:before {
	content: "\e628";
}
.icon-magnifying-glass:before {
	content: "\e629";
}
.icon-key:before {
	content: "\e62a";
}
.icon-new-window:before {
	content: "\e62b";
}
.icon-lightbulb:before {
	content: "\e62c";
}
.icon-arrow-left:before {
	content: "\e631";
}
.icon-arrow-right:before {
	content: "\e632";
}
.icon-arrow-up:before {
	content: "\e633";
}
.icon-arrow-down:before {
	content: "\e634";
}
.icon-play:before {
	content: "\e635";
}
.icon-compass:before {
	content: "\e636";
}
.icon-box:before {
	content: "\e637";
}
.icon-folder:before {
	content: "\e638";
}
.icon-at:before {
	content: "\e639";
}
.icon-info:before {
	content: "\e63a";
}
.icon-hash:before {
	content: "\e63c";
}
.icon-left-quote:before {
	content: "\e63d";
}
.icon-right-quote:before {
	content: "\e63e";
}
.icon-read-more:before {
	content: "\e63f";
}
.icon-book:before {
	content: "\e640";
}
.icon-book-open:before {
	content: "\e641";
}
.icon-layers:before {
	content: "\e642";
}
.icon-image:before {
	content: "\e643";
}
.icon-camera:before {
	content: "\e644";
}
.icon-chart:before {
	content: "\e645";
}
.icon-user:before {
	content: "\e646";
}
.icon-clock:before {
	content: "\e647";
}
.icon-tag-fill:before {
	content: "\e648";
}
.icon-star:before {
	content: "\e649";
}
.icon-map-pin:before {
	content: "\e64a";
}
.icon-download:before {
	content: "\e64b";
}
.icon-upload:before {
	content: "\e64c";
}
.icon-pen:before {
	content: "\e650";
}
.icon-lock:before {
	content: "\e652";
}
.icon-unlock:before {
	content: "\e653";
}
.icon-file-pdf:before {
	content: "\e654";
}
.icon-file-word:before {
	content: "\e655";
}
.icon-file-excel:before {
	content: "\e656";
}
.icon-facebook:before {
	content: "\e657";
}
.icon-twitter:before {
	content: "\e658";
}
.icon-feed:before {
	content: "\e659";
}
.icon-youtube:before {
	content: "\e65a";
}
.icon-linkedin:before {
	content: "\e65b";
}
.icon-books:before {
	content: "\e65c";
}
.icon-library:before {
	content: "\e65d";
}
.icon-map:before {
	content: "\e65e";
}
.icon-food:before {
	content: "\e65f";
}
.icon-spinner:before {
	content: "\e660";
}
.icon-clipboard:before {
	content: "\e661";
}
.icon-code:before {
	content: "\e662";
}
.icon-earth:before {
	content: "\e663";
}
.icon-suitcase:before {
	content: "\e664";
}
.icon-chat:before {
	content: "\e665";
}
.icon-bell:before {
	content: "\e666";
}
.icon-popup:before {
	content: "\e667";
}
.icon-network:before {
	content: "\e668";
}
.icon-archive:before {
	content: "\e669";
}
.icon-bookmark:before {
	content: "\e66a";
}
.icon-byui-logo:before {
	content: "\e000";
}
.icon-sharepoint:before {
	content: "\e62d";
}
.icon-menu:before {
	content: "\e61e";
}
