// GLOBAL STYLES PARTIAL
/* HEADER STYLES */
    .site-navigation .navbar-header {
      padding: 7px 18px;
    }
    .mobile-main {
      padding: 4px 12px;
    }
    .navbar-header .icon-menu {
      font-size: 20px;
      position: relative;
      top: 1px;
    }
    .mobile-dropdown-toggle {
      color: #fff;
      background: transparent;
      border-radius: 20px;
      width: 35px;
      height: 34px;
      margin-right: 10px;
      text-align: left;
      font-size: 20px;
    }
    .mobile-dropdown-toggle:hover, .mobile-dropdown-toggle:active, .mobile-dropdown-toggle:focus {
      background: @btn-primary-border;
      color: #fff;
      border-color: darken(@btn-primary-border, 10%);
    }
    .mobile-search .icon {
      position: relative;
      right: 6px;
      top: -2px;
    }
    .mobile-main {
      width: 50px;
      border-radius: 4px;
      margin: 0;
    }
    .mobile-main .icon {
      position: relative;
      top: 0px;
      font-size: 24px;
    }
    .mobile-login .icon {
      position: relative;
      right: 3.5px;
      top: -2px;
    }
    .mobile-logo {
      color: #fff;
      font-size: 48px;
      position: absolute;
      left: 15px;
      top: -7px;
    }
    .mobile-logo:hover {
      text-decoration: none;
      color: darken(@btn-primary-border, 12%);
    }
    .site-navigation.navbar-inverse {
      background-color: #056cb6;
      border-color: #045d9d;
      border-left: none;
      border-right: none;
      @media (min-width: @screen-sm-min) {
        background-color: #222222;
        border-color: #080808;
      }
    }
    .site-navbar-collapse {
      background-color: #222222;
      border-color: #080808;
    }