/* CONTENT PAGE */
.quicklinks {
    border-top: 1px solid #eeeeee;
        margin-top: 2em;
}
.quicklinks-title {
    font-size: 1.25em;
}
@media (max-width: @screen-sm) {
    .right-column {
        margin-top: 2em;
    }
}