#breadcrumbs{
	display: none;
}
#image_main{
	width: 100%;
	display: block;
}
#body_header{
	width: 100%;
}
#body_header div{
	float: left;
}
#body_header #SectionTitle{
	height: 38px;
	width: 650px;
	margin: 0 0 6px 0;
	display: block;
	font-size: 20px;
	color: #363636;
	border-top: 1px dotted #363636;
	border-bottom: 1px dotted #363636;
}
#body_header #SectionTitle h2{
	font-size: 16px;
	margin: 0 0 0 10px;
	display: block;
	padding: 10px 0 0 0;
}
#image_main h4{
	font-size: 12px;
	margin: 10px 0 0px 63px;
	color: #00679E;
}
#image_index_top{
	width: 890px;
	display: block;
	height:  365px;
	margin: 0 auto 15px auto;
}
.featuredGallery {
	float: left;
	width: 222px;
	padding: 15px 33px 0 33px;
	height: inherit;
}
.featuredGallery .cellContent{
	cursor: pointer;
}
.featuredGallery:hover{
	background-color: #dbdbdb;
}
.featuredGallery .cellContent img{
	width: 222px;
	height: 182px;
}
.featuredGallery .cellContent h2 {
	margin: 7px 0;
	height: 16px;
	font-size: 12px;
	width: 222px;
	font-weight: bold;
	text-transform: uppercase;
}
.featuredGallery .cellContent h2 a{
	text-decoration: none;
	color: #666666;
}
.featuredGallery .cellContent h2 a:hover{
	text-decoration: none;
}
.featuredGallery .cellContent p{
	width: 222px;
	font-size: 12px;
}
.featuredGallery .cellContent p a{
	text-decoration: none;
	color: #666666;
}
.featuredGallery .cellContent p a:hover{
	text-decoration: none;
}
#image_index_bottom {
	border-bottom: 1px #363636 dotted;
	border-top: 1px #363636 dotted;
	padding: 20px 0;
}
#image_index_bottom ul{
	display: block;
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}
#image_index_bottom ul li{
	float: left;
	width: 120px;
	overflow: hidden;
	display: block;
	float: left;
	list-style-type: none;
	margin: 0 30px;
}
#image_index_bottom ul li a img{
	opacity: .7;
}
#image_index_bottom ul li:hover a img{
	opacity: 1;
}
#image_index_bottom ul li a {
	color: #666666;
}
#image_index_bottom ul li p{
	text-align: center;
}
#image_index_bottom ul li:hover a{
	text-decoration: underline;
	color: #00679E;
}
#image_index_bottom li span{
	background-color: black;
	color: white;
	opacity: .7;
	height: 20px;
	width: 120px;
	z-index: 9999;
	position: relative;
	top: -20px;
	padding: 0 0 0 10px;
}
#image_main #webcam{
	text-transform: uppercase;
	color: #8a8a8a;
	float: right;
	font-size: 20px;
	margin: 0 0 10px 0;
}
#image_main #webcam h4 a{
	color: #00679E;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
}
#image_main #webcam h4 a:hover{
	text-decoration: underline;
}