<div class="social-panel">
    <div class="panel panel-default clearfix">
        <div class="panel-heading">Stay Connected <span class="icon-user pull-right"></span>
        </div>
        <div class="panel-body">
            <div class="div"><span class="icon-facebook">&nbsp;</span><a href="#">Facebook</a>
            </div>
            <div class="div"><span class="icon-youtube">&nbsp;</span><a href="#">Youtube</a>
            </div>
            <div class="div"><span class="icon-linkedin">&nbsp;</span><a href="#">Linked In</a>
            </div>
            <div class="div"><span class="icon-feed">&nbsp;</span><a href="#">RSS Feed</a>
            </div>

        </div>

    </div>
</div>