<div class="panel recent-publications panel-default clearfix">
    <div class="panel-heading">Recent Publications</div>
    <ul class="list-group media-list">
        <li class="list-group-item no-margin media col-all-12">
            <a href="#" class="col-all-4 col-sm-2 col-md-4 no-pad">
                <img class="pull-left img-responsive" alt="Bill Murray" src="//fillmurray.com/300/300">
            </a>
            <div class="media-body col-xs-8 col-sm-10 col-md-8">
                <a class="item_title" href="#" target="_blank">Life of a candle</a><br>
                <date class="text-muted">September 8, 2014</date>
            </div>
        </li>
        <li class="list-group-item no-margin media col-all-12">
            <a href="#" class="col-all-4 col-sm-2 col-md-4 no-pad">
                <img class="pull-left img-responsive" alt="Bill Murray" src="//fillmurray.com/300/300">
            </a>
            <div class="media-body col-xs-8 col-sm-10 col-md-8">
                <a class="item_title" href="#" target="_blank">Life of a candle</a><br>
                <date class="text-muted">September 8, 2014</date>
            </div>
        </li>
        <li class="list-group-item no-margin media col-all-12">
            <a href="#" class="col-all-4 col-sm-2 col-md-4 no-pad">
                <img class="pull-left img-responsive" alt="Bill Murray" src="//fillmurray.com/300/300">
            </a>
            <div class="media-body col-xs-8 col-sm-10 col-md-8">
                <a class="item_title" href="#" target="_blank">Life of a candle</a><br>
                <date class="text-muted">September 8, 2014</date>
            </div>
        </li>
        <li class="list-group-item no-margin media col-all-12">
            <a href="#" class="col-all-4 col-sm-2 col-md-4 no-pad">
                <img class="pull-left img-responsive" alt="Bill Murray" src="//fillmurray.com/300/300">
            </a>
            <div class="media-body col-xs-8 col-sm-10 col-md-8">
                <a class="item_title" href="#" target="_blank">Life of a candle</a><br>
                <date class="text-muted">September 8, 2014</date>
            </div>
        </li>        
    </ul>
</div>