<nav class="department-nav navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".local-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">Menu</a>
    </div>
    <div class="navbar-collapse local-collapse collapse" style="height: 1px;">
        <ul class="nav navbar-nav">
            <li class="dropdown clearfix">
                <a href="#" class="dropdown-link">Normal page with Children</a>
                <a href="#" class="dropdown-toggle dropdown-button" data-toggle="dropdown">
                    <span class="badge">
                        <span class="caret"></span>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Activities Content</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">
                    No Children
                </a>
            </li>
            <li class="dropdown clearfix">
                <a href="#" class="dropdown-link">External Link Component</a>
                <a href="#" class="dropdown-toggle dropdown-button" data-toggle="dropdown">
                    <span class="badge">
                        <span class="caret"></span>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Activities Content</a>
                    </li>
                    <li>
                        <a href="#">External Link Component Child</a>
                        <ul class="dropdown-menu-2">
                            <li>
                                <a href="#">Triple Nested External</a>
                            </li>
                            <li>
                                <a href="#">Activities Content</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">External link three</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="byui-guide" id="byui-guide-show-btn">
          Guide to BYUI-I
        </div>
    </div>
</nav>
