<!-- Local Navigation -->
<nav class="department-nav navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".local-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">Newsroom</a>
    </div>
    <div class="collapse navbar-collapse local-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">About BYU-Idaho</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">University Blog <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-homepage"><a href="#">University Blog</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Recent Posts</a>
                    </li>
                    <li>
                        <a href="#">Archive</a>
                        <ul class="dropdown-menu-2">
                            <li><a href="#">July 2014</a>
                            </li>
                            <li><a href="#">June 2014</a>
                            </li>
                            <li><a href="#">May 2014</a>
                            </li>
                            <li><a href="#">April 2014</a>
                            </li>
                            <li><a href="#">March 2014</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">News Archive</a>
            </li>
            <li>
                <a href="#">Journalist Guidelines</a>
            </li>
        </ul>
    </div>
</nav>
