<div class="homepage-photo list-group">
    <a href="http://www.byui.edu/newsroom" class="list-group-item homepage-heading panel-heading">Photos</a>
    <a href="#" class="list-group-item">
        <div class="photo-thumbnail">
            <img class="pull-left media-object" alt="Bill Murray" src="//www.fillmurray.com/128/128">
        </div>

        <div class="media-body">
            <p class="media-heading">Back to School Gallery: Fall 2014</p>
        </div>
        <span class="icon-angle-right visible-xs"></span>
    </a>
</div>