<div class="homepage-photo list-group">
    <a href="http://www.byui.edu/newsroom" class="list-group-item homepage-heading panel-heading">
        Photos
        <span class="hidden-xs panel-sub-heading">Photo Galleries <span class="icon-angle-right"></span></span> 
    </a>
    <a href="#" class="list-group-item">
        <div class="photo-thumbnail">
            <img class="pull-left media-object" alt="Bill Murray" src="//www.fillmurray.com/128/128">
        </div>

        <div class="media-body">
            <div class="media-content">
                <p class="media-heading">Back to School Gallery: Fall 2014</p>
            </div>
        </div>
        <span class="icon-angle-right visible-xs"></span>
    </a>
</div>