<style>

</style>
<nav class="department-nav navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".local-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand visible-xs visible-sm" href="#">Menu</a>
  </div>
	<div class="collapse navbar-collapse local-collapse">
  		<ul class="nav navbar-nav">
        <li>
          <a href="#">Apply</a>
        </li>
  			<li>
  				<a href="#">Costs</a>
  			</li>
        <li>
          <a href="#">Deferment</a>
        </li>
        <li>
          <a href="#">Fast Grad</a>
        </li>
        <li>
          <a href="#">Graduate</a>
        </li>
        <li>
          <a href="#">Missionaries</a>
        </li>
        <li>
          <a href="#">Transfer</a>
        </li>
        <li>
          <a href="#">Withdraw</a>
        </li>
  		</ul>
  </div>
</nav>