<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
    <li data-target="#carousel-example" data-slide-to="3"></li>
    <li data-target="#carousel-example" data-slide-to="4"></li>
    <li data-target="#carousel-example" data-slide-to="5"></li>
    <li data-target="#carousel-example" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://www.byui.edu/images/Colleges_and_Departments/Performing and Visual Arts/FA 100/PicsforBanner/081114DanceAlliance_28.jpg" alt="" title="">
    </div>
    <div class="item">
      <img src="http://www.byui.edu/images/Colleges_and_Departments/Performing and Visual Arts/FA 100/PicsforBanner/100312Extravadance_047.jpg" alt="" title="">
    </div>
    <div class="item">
      <img src="http://www.byui.edu/images/dance/Fossey 2.jpg" alt="" title="">
    </div>
    <div class="item">
      <img src="http://www.byui.edu/images/dance/tap banner(0).jpg" alt="" title="">
    </div>
    <div class="item">
      <img src="http://www.byui.edu/images/dance/CollegiateDancers_2.jpg" alt="" title="">
    </div>
    <div class="item">
      <img src="http://www.byui.edu/images/dance/World Banner.jpg" alt="World Dance Hindu " title="">
    </div>
    <div class="item">
      <img src="http://www.byui.edu/images/theatre-dance/121116_Extravadance_063.jpg" alt="irish dancers " title="">
    </div>
  </div>
</div>
