<style>

</style>
<nav class="department-nav navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".local-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand visible-xs visible" href="#">Menu</a>
  </div>
	<div class="collapse navbar-collapse local-collapse">
  		<ul class="nav navbar-nav">
        <li class="active"><a href="#">Dance Department</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Faculty <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Faculty List</a></li>
            <li class="divider"></li>
            <li><a href="#">Wendy Bone</a></li>
            <li><a href="#">Shawn Fisher</a></li>
            <li><a href="#">Ashley Hoopes</a></li>
            <li><a href="#">Gary Larsen</a></li>
            <li><a href="#">Patricia Kaye Dienhart</a></li>
            <li><a href="#">Joy Esplin</a></li>
            <li><a href="#">Janie Fisher</a></li>
            <li><a href="#">Noelle Hammond</a></li>
            <li><a href="#">Terri Hess</a></li>
            <li><a href="#">Joy Price Hendrickson</a></li>
            <li><a href="#">Ashley Andersen Reed</a></li>
            <li><a href="#">Rebekah Ensign Ryan</a></li>
          </ul>
        </li>
  			<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Dance Office</a></li>
            <li class="divider"></li>
            <li><a href="#">Richard Clifford</a></li>
            <li><a href="#">Kathy Whitworth</a></li>
            <li><a href="#">Debra Jones</a></li>
            <li><a href="#">Julie Knight</a></li>
            <li><a href="#">James Gordon</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Overview</a>
        </li>
        <li>
          <a href="#">Degrees</a>
        </li>
        <li>
          <a href="#">Scholarships</a>
        </li>
        <li>
          <a href="#">Internships</a>
        </li>
        <li>
          <a href="#">Advising</a>
        </li>
        <li>
          <a href="#">Resources</a>
        </li>
        <li>
          <a href="#">Courses</a>
        </li>
  		</ul>
  </div>
</nav>