<nav class="department-nav navbar navbar-default">
  <div class="container">
  	<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".department-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-ml hidden-lg hidden-xl" href="#">Student Activities</a>
    </div>
  	<div class="collapse navbar-collapse department-navbar-collapse">
    		<ul class="nav navbar-nav">
    			<li class="dropdown">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Involved <span class="caret"></span></a>
    				<ul class="dropdown-menu">
    					<li><a href="#">Talent Student Leaders</a></li>
              <li><a href="#">NewActivity</a></li>
              <li><a href="#">Life Skills Student Leader Information</a></li>
              <li><a href="#">Wellness Student Leader Information</a></li>
              <li><a href="#">Sports - Competitive Student Leadership</a></li>
              <li><a href="#">Sports - Recreational Student Leader Information</a></li>
              <li><a href="#">Social Activities Student Leader Information</a></li>
              <li><a href="#">Service Student Leader Information</a></li>
              <li><a href="#">Outdoor Student Leader Information</a></li>
    				</ul>
    			</li>
    			<li>
    				<a href="#">Area of Activities</a>
    			</li>
    			<li class="dropdown">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <span class="caret"></span></a>
    				<ul class="dropdown-menu">
    					<li><a href="">Activities Social - Like Us on Facebook</a></li>
    				</ul>
    			</li>
    			<li class="dropdown">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Outdoor <span class="caret"></span></a>
    				<ul class="dropdown-menu">
    					<li><a href="#">How to get involved</a></li>
  	                <li><a href="#">Photos</a></li>
  	                <li><a href="#">Videos</a></li>
    				</ul>
    			</li>
    			<li class="dropdown">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sports <span class="caret"></span></a>
    				<ul class="dropdown-menu">
              <li class="dropdown-header">Competetive</li>
              <li><a href="#">Contact Page</a></li>
              <li><a href="#">Sports First Aid</a></li>
              <li><a href="#">Policies and Procedures</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Recreational</li>
              <li><a href="#">How to resolve a misconduct</a></li>
              <li><a href="#">Employment Opportunities</a></li>
              <li><a href="#">Entry Fees and Charges</a></li>
              <li><a href="#">Facilities</a></li>
              <li><a href="#">New Event Proposal</a></li>
              <li><a href="#">Participation</a></li>
              <li><a href="#">Student Employment Opportunities</a></li>
              <li><a href="#">Get Involved</a></li>
              <li><a href="#">How to Sign Up</a></li>
              <li><a href="#">Social Media</a></li>
              <li><a href="#">Sport Rules</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Leagues</li>
              <li><a href="#">Sports Leagues - Right Column</a></li>
              <li><a href="#">Basketball, M/W</a></li>
              <li><a href="#">Basketball, Coed</a></li>
              <li><a href="#">Bowling, Coed</a></li>
              <li><a href="#">Dodgeball, Mixed</a></li>
              <li><a href="#">Flag Football, M/W</a></li>
              <li><a href="#">Floor Hockey, Mixed</a></li>
              <li><a href="#">Futsal, Mixed</a></li>
              <li><a href="#">Grass Volleyball, Coed</a></li>
              <li><a href="#">Ping Pong, Singles</a></li>
              <li><a href="#">Racquetball, Singles</a></li>
    					<li><a href="#">Soccer, Mixed</a></li>
    					<li><a href="#">Softball, Coed</a></li>
    					<li><a href="#">Volleyball, Coed</a></li>
    					<li><a href="#">Wallyball, Coed</a></li>
    					<li><a href="#">Tennis, Doubles</a></li>
    					<li><a href="#">Ultimate Frisbee, Mixed</a></li>
    				</ul>
    			</li>
    			<li class="dropdown">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <span class="caret"></span></a>
    				<ul class="dropdown-menu">
    					<li><a href="#">Activities Social - Like Us on Facebook</a></li>
    				</ul>
    			</li>
    		</ul>
    </div>
  </div>
</nav>