<nav class="department-nav">
  <div class="">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#">Newsroom</a>
        </li>
        <li>
          <a href="#">About BYU-Idaho</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">University Blog <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Recent Posts</a></li>
            <li><a href="#">Archive</a></li>
          </ul>
        </li>
        <li>
          <a href="#">News Archive</a>
        </li>
        <li>
          <a href="#">Journalist Guidelines</a>
        </li>
      </ul>
  </div>
</nav>