<nav class="department-nav navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".local-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand visible-xs" href="#">Menu</a>
  </div>
  <div class="collapse navbar-collapse local-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/components/color.html">Color</a></li>
        <li><a href="{{ site.baseurl }}/components/display.html">Display</a></li>
        <li><a href="{{ site.baseurl }}/components/icons.html">Icons</a></li>
        <li><a href="{{ site.baseurl }}/components/images.html">Images</a></li>
        <li><a href="{{ site.baseurl }}/components/interactive.html">Interactive</a></li>
        <li><a href="{{ site.baseurl }}/components/typography.html">Typography</a></li>
      </ul>
  </div>
</nav>