</section> <!-- end site-content -->

    <div class="global-footer">

      <div class="footer-graphic jumbotron">
      </div>

      <footer class="footer-audience navbar">
        <div class="container">
          <nav class="audience-nav col-sm-8">
            <ul class="nav nav-pills navbar-btn row">
            <li><a class="primary-dark" href="http://www.byui.edu/future-students/?cid=fli:102">Future Students</a></li>
            <li><a class="primary-dark" href="http://www.byui.edu/parents/?cid=fli:103">Parents</a></li>
            <li><a class="primary-dark" href="http://www.byui.edu/employees/">Employees</a></li>
            <li><a class="primary-dark" href="http://www.byui.edu/alumni/?cid=fli:105">Alumni</a></li>
            <li><a class="primary-dark" href="http://www.byui.edu/visitors/?cid=fli:106">Visitors</a></li>
          </ul>
          </nav>
          <nav class="secondary-nav col-sm-4 row pull-right">
            <ul class="nav nav-pills navbar-btn pull-right">
              <li><a class="primary-dark" href="http://www.byui.edu/maps">Maps</a></li>
            <li><a class="primary-dark" href="http://www.byui.edu/directories/?cid=fli:108">Directories</a></li>
            <li><a class="primary-dark" href="http://www.byui.edu/ask/live-chat/?cid=fli:109" target="_blank"><span class="italics">Ask</span>
            <strong>BYUI</strong></a></li>
          </ul>
          </nav>
          
        </div>
      </footer>

      <footer class="site-footer jumbotron">
          <div class="container">
            <div class="footer-branding col-sm-7 row">
              <div class="link-box"><a class="logo-link" href="http://www.lds.org" id="lds-church-link" title="The Church of Jesus Christ of Latter-Day Saints">The Church of Jesus Christ of Latter-Day Saints</a></div>
              <div class="link-box"><a class="logo-link" href="http://www.byu.edu" id="byu-link" title="Brigham Young University - Provo">Brigham Young University - Provo</a></div>
              <div class="link-box"><a class="logo-link" href="http://www.byuh.edu" id="byuh-link" title="Brigham Young University - Hawaii">Brigham Young University - Hawaii</a></div>
              <div class="link-box"><a class="logo-link" href="http://www.ldsbc.edu" id="ldsbc-link" title="LDS Business College">LDS Business College</a></div>
            </div>
            <div class="footer-meta col-sm-5 row">
              <div class="footer-social">
                <a href="http://www.byui.edu/social-media/facebook" class="social-icon" title="BYUI Social Media - Facebook"><img src="/assets/images/media-icons/facebook-icon.png" alt="Facebook Icon"></a>
                <a href="http://www.byui.edu/social-media/linkedin" class="social-icon" title="BYUI Social Media - LinkedIn"><img src="/assets/images/media-icons/linkedin-icon.png" alt="LinkedIn Icon"></a>
                <a href="http://www.byui.edu/social-media/twitter" class="social-icon" title="BYUI Social Media - Twitter"><img src="/assets/images/media-icons/twitter-icon.png" alt="Twitter Icon"></a>
                <a href="http://www.byui.edu/social-media/youtube" class="social-icon" title="BYUI Social Media - YouTube"><img src="/assets/images/media-icons/youtube-icon.png" alt="YouTube Icon"></a>
              </div>
              <p><a href="http://www.byui.edu/copyright/policy/terms-of-use/?cid=fli:190">© 2013</a> 
                Brigham Young University–Idaho</p>
              <address>525 South Center St., Rexburg, ID 83460<br/>
                <a href="tel:12084961411">(208) 496-1411</a>
              </address>
              <nav id="access-links">
            <a href="http://www.byui.edu/disabilities/?cid=fli:191">Disability Services</a>&nbsp;&nbsp;|&nbsp;
            <a href="http://www.byui.edu/legal" alt="A variety of legal notices collected into one place, copyright, discrimination, etc.">Legal Notices</a>&nbsp;&nbsp;|&nbsp;
            <a href="http://www.byui.edu/feedback/?cid=fli:192" title="General feedback">Feedback</a>
          </nav>
            </div>
          </div>
      </footer>

    </div> <!-- End .global-footer -->

    
</body>
</html>