</main> <!-- end site-content -->

  <div class="global-footer">

    <div class="footer-graphic jumbotron">
    </div>

    <footer class="footer-audience primary" role="navigation">
      <div class="container">
        <div class="audience-nav text-center">
          <a href="#" class="btn btn-dark btn-sm">Future Students</a>
          <a href="#" class="btn btn-dark btn-sm">Current Students</a>
          <a href="#" class="btn btn-dark btn-sm">Employees</a>
          <a href="#" class="btn btn-dark btn-sm">Parents and Family</a>
          <a href="#" class="btn btn-dark btn-sm">Alumni</a>
        </div>
        
      </div>
    </footer>

    <footer role="contentinfo" class="site-footer">
      <div class="container">
        <div class="footer-links row">
          <nav class="footer-column col-sm-6 col-ml-3">
            <div class="footer-column-heading">Contact</div>
            <address class="no-margin">
              <span aria-hidden="true" class="icon icon-office">&nbsp;</span>525 South Center St.<br>
              Rexburg, ID, 83460 <br>
              <span aria-hidden="true" class="icon icon-phone">&nbsp;</span><a href="tel:12084961411">(208) 496-1411</a><br>
              <span aria-hidden="true" class="icon icon-mail">&nbsp;&nbsp;</span><a href="mailto:ask@byui.edu">ask@byui.edu</a><br>
              <span aria-hidden="true" class="icon icon-keyboard">&nbsp;&nbsp;</span><a href="mailto:ask@byui.edu">Feedback Form</a>
            </address>
          </nav>
          <nav class="footer-column col-sm-6 col-ml-3">
            <div class="footer-column-heading">Popular</div>
            <ul>
              <li><a href="#">Devotionals</a></li>
              <li><a href="#">ID Cards</a></li>
              <li><a href="#">Jobs and Employment</a></li>
              <li><a href="#">Newsroom</a></li>
              <li><a href="#">Ticket Office</a></li>
              <li><a href="#">Wards and Stakes</a></li>
            </ul>
          </nav>
          <nav class="footer-column col-sm-6 col-ml-3">
            <div class="footer-column-heading">Help</div>
            <ul>
              <li><a href="#">Ask BYUI</a></li>
              <li><a href="#">Disability Services</a></li>
              <li><a href="#">Technical Help Desk</a></li>
              <li><a href="#">Student Support</a></li>
            </ul>
          </nav>
          <nav class="footer-column col-sm-6 col-ml-3">
            <div class="footer-column-heading">Follow</div>
            <ul class="footer-social">
              <li><a href="#"><img src="{{ site.baseurl }}/assets/images/media-icons/facebook-icon.png" alt="">Facebook</a></li>
              <li><a href="#"><img src="{{ site.baseurl }}/assets/images/media-icons/twitter-icon.png" alt="">Twitter</a></li>
              <li><a href="#"><img src="{{ site.baseurl }}/assets/images/media-icons/youtube-icon.png" alt="">Youtube</a></li>
              <li><a href="#"><img src="{{ site.baseurl }}/assets/images/media-icons/linkedin-icon.png" alt="">LinkedIn</a></li>
            </ul>
          </nav>
        </div>

        <div class="school-branding row text-center">
          <p>
            <a href="#">BYU Provo</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">BYU Hawaii</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">LDS Business College</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">Pathway</a>
          </p>
        </div>

        <div class="copyright row text-center">
          <a href="http://www.byui.edu/copyright/policy/terms-of-use/?cid=fli:190">Copyright ©2013</a>, All Rights Reserved
        </div>

        <div class="church-branding row text-center">
          <p>
            <a href="#"><span class="icon icon-lds-church"></span><span class="sr-only">The Church of Jesus Christ of Latter-Day Saints</span></a>
          </p>
        </div>
      </div>
    </footer>

  </div> <!-- End .global-footer -->

    
</body>
</html>