</main> <!-- end site-content -->

  <footer role="contentinfo" class="global-footer">

    <div class="footer-graphic jumbotron">
    </div>

    <div class="footer-audience">
      <div class="container">
        <div class="audience-nav text-center">
          <a href="http://www.byui.edu/future-students/" class="btn btn-primary btn-sm">Future Students</a>
          <a href="https://my.byui.edu/ics" class="btn btn-primary btn-sm">Current Students</a>
          <a href="https://my.byui.edu/ics" class="btn btn-primary btn-sm">Employees</a>
          <a href="http://beta.byui.edu/parents" class="btn btn-primary btn-sm">Parents and Family</a>
          <a href="http://www.byuiconnect.com/s/1085/07-idaho/idaho-start.aspx?gid=4&pgid=61" class="btn btn-primary btn-sm">Alumni</a>
        </div>
        
      </div>
    </div>

    <div class="footer-links">
      <div class="container">
        <div class="row">
          <nav class="footer-column col-sm-6 col-ml-3">
            <div class="footer-column-heading">Contact</div>
            <address class="no-margin">
              <ul class="no-margin">
                <li>
                  <span aria-hidden="true" class="icon icon-office">&nbsp;</span>525 South Center St.<br/>
                  Rexburg, ID, 83460
                </li>
                <li>
                  <span aria-hidden="true" class="icon icon-phone">&nbsp;</span><a href="tel:12084961411">(208) 496-1411</a>
                </li>
                <li>
                  <span aria-hidden="true" class="icon icon-mail">&nbsp;</span><a href="mailto:ask@byui.edu">ask@byui.edu</a>
                </li>
                <li>
                  <span aria-hidden="true" class="icon icon-popup">&nbsp;</span><a href="http://www.byui.edu/feedback/?cid=fli:192">Feedback Form</a>
                </li>
              </ul>
            </address>
          </nav>
          <nav class="footer-column col-sm-6 col-ml-3">
            <div class="footer-column-heading">Follow</div>
            <ul class="footer-social no-margin">
              <li><span aria-hidden="true" class="icon icon-facebook">&nbsp;</span><a href="http://www.byui.edu/social-media/facebook">Facebook</a></li>
              <li><span aria-hidden="true" class="icon icon-twitter">&nbsp;</span><a href="http://www.byui.edu/social-media/twitter">Twitter</a></li>
              <li><span aria-hidden="true" class="icon icon-youtube">&nbsp;</span><a href="http://www.byui.edu/social-media/youtube">Youtube</a></li>
              <li><span aria-hidden="true" class="icon icon-linkedin">&nbsp;</span><a href="http://www.byui.edu/social-media/linkedin">LinkedIn</a></li>
            </ul>
          </nav>
          <nav class="footer-column col-sm-6 col-ml-3">
            <div class="footer-column-heading">Popular</div>
            <ul class="no-margin">
              <li><a href="http://web.byui.edu/devotionalsandspeeches/speeches.aspx">Devotionals</a></li>
              <li><a href="http://www.byui.edu/financial-services/my-personal-account/i-card">ID Cards</a></li>
              <li><a href="http://www.byui.edu/human-resources/employment-opportunities">Jobs and Employment</a></li>
              <li><a href="http://byui.universitytickets.com/user_pages/event_listings.aspx">Ticket Office</a></li>
              <li><a href="http://web.byui.edu/WardsAndStakes/UnitInfo">Wards and Stakes</a></li>
            </ul>
          </nav>
          <nav class="footer-column col-sm-6 col-ml-3">
            <div class="footer-column-heading">Help</div>
            <ul class="no-margin">
              <li><a href="http://www.byui.edu/ask/live-chat/?cid=hli:109">Ask BYUI</a></li>
              <li><a href="http://www.byui.edu/disabilities/">Disability Services</a></li>
              <li><a href="http://www.byui.edu/information-technology">Technical Help Desk</a></li>
              <li><a href="http://www.byui.edu/student-support">Student Support</a></li>
            </ul>
          </nav>
        </div>

        
      </div>
    </div>

    <div class="footer-brand">
      <div class="container">
        <div class="school-branding row text-center">
          <p>
            <a href="http:///www.byu.edu/">BYU Provo</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="http:///www.byuh.edu/">BYU Hawaii</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="http://www.ldsbc.edu/">LDS Business College</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="http://www.byui.edu/online/pathway">Pathway</a>
          </p>
        </div>

        <div class="copyright row text-center">
          <a href="http://www.byui.edu/copyright/policy/terms-of-use/?cid=fli:190">Copyright ©2013</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.byui.edu/legal">Legal Notices</a>
        </div>

        <div class="church-branding row text-center">
          <p>
            <a href="http://www.lds.org/"><span class="icon icon-lds-church"></span><span class="sr-only">The Church of Jesus Christ of Latter-Day Saints</span></a>
          </p>
        </div>
      </div>
    </div>

  </footer> <!-- End .global-footer -->

    
</body>
</html>