<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>Brigham Young University - Idaho</title>
	<meta name="description" content="Brigham Young University - Idaho">
  <meta name="author" content="Brigham Young University - Idaho">

	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
	
	<!-- favicon section for all device types -->
	<!-- For iPhone 4 with high-resolution Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/images/apple-touch-icon-114x114-precomposed.png">
	<!-- For first-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/images/apple-touch-icon-72x72-precomposed.png">
	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/images/apple-touch-icon-precomposed.png">
	<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" />
    

	<!-- Global Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.css">

	<!-- Modernizr script, for js and feature detection -->
	<script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>
	
	<!-- jQuery -->
	<script id="jQueryLoad" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Bootstrap Functionality -->
  <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

	
</head>

<body>
  <header role="banner" class="global-header">
    <nav role="navigation" class="site-navigation navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".site-navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="site-logo navbar-brand" href="{{ site.baseurl }}/" title="BYU-Idaho"><span aria-hidden="true" class="icon icon-byui-logo"><span class="sr-only">BYU-Idaho</span></span></a>
        </div> 
        <div class="navbar-collapse site-navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#administrative" class="administrative" class="dropdown-toggle" data-toggle="dropdown"><span aria-hidden="true" class="icon icon-library">&nbsp;&nbsp;</span>University <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">About BYUI</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Information Desk</a></li>
                <li class="divider"></li>
                <li><a href="#">Apply</a></li>
                <li><a href="#">Financial Aid</a></li>
                <li><a href="#">Registration</a></li>
                <li><a href="#">University Relations</a></li>
                <li><a href="#">President's Office</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#academic" class="dropdown-toggle" data-toggle="dropdown"><span aria-hidden="true" class="icon icon-books">&nbsp;&nbsp;</span>Academics <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Learning Model</a></li>
                <li><a href="#">Academic Schedule</a></li>
                <li class="divider"></li>
                <li><a href="#">Advising</a></li>
                <li><a href="#">Colleges and Departments</a></li>
                <li><a href="#">Course Catalog</a></li>
                <li><a href="#">International Services</a></li>
                <li><a href="#">Testing Center</a></li>
                <li><a href="#">Tutoring</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#student-life" class="dropdown-toggle" data-toggle="dropdown"><span aria-hidden="true" class="icon icon-food">&nbsp;&nbsp;</span>Living <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Activities</a></li>
                <li><a href="#">Honor Code</a></li>
                <li><a href="#">Get Involved</a></li>
                <li class="divider"></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Gym</a></li>
                <li><a href="#">Health and Wellness</a></li>
                <li><a href="#">Housing</a></li>
                <li><a href="#">Student Employment</a></li>
                </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span aria-hidden="true" class="icon icon-bell-2">&nbsp;&nbsp;</span>Services <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Ask BYUI</a></li>
                <li><a href="#">Technical Help</a></li>
                <li class="divider"></li>
                <li><a href="#">Disability Office</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">Parking</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">University Store</a></li>
                <li><a href="#">We Car</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span aria-hidden="true" class="icon icon-cursor">&nbsp;&nbsp;</span>Find <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">A-Z Directory</a></li>
                <li><a href="#">Bulletin Board</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Map</a></li>
              </ul>
            </li>
          </ul>
          <div class="navbar-right">
            <a href="#" class="sign-in btn btn-primary navbar-btn">Sign In</a>

          </div>
          <form role="search" class="navbar-form navbar-right form-horizontal container visible-xs visible-sm visible-md">
            <div class="search input-group">
              <input type="text" class="form-control" placeholder="Search BYU-I">
              <span class="input-group-btn">
              <button type="submit" class="btn btn-success"><span aria-hidden="true" class="icon icon-magnifying-glass"><span class="sr-only">Go</span></span></button>
              </span>
            </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
      
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron homepage-jumbotron">
      <div class="container">
        <h1 class="page-title col-sm-8 row">Student Activities</h1>
        <form role="search" class="desktop-search form-horizontal container hidden-xs hidden-sm hidden-md col-sm-4 row">
          <div class="search input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success"><span aria-hidden="true" class="icon icon-magnifying-glass"><span class="sr-only">Go</span></span></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </header>
  
    

  <main role="main" class="site-content container">