@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-list, .icon-location, .icon-search, .icon-popup, .icon-arrow-left, .icon-arrow-right, .icon-arrow-left-2, .icon-arrow-right-2, .icon-checkmark, .icon-cross, .icon-quotes-left, .icon-cd, .icon-byui-logo, .icon-arrow-down, .icon-arrow-up, .icon-lds-church {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-list:before {
	content: "\e004";
}
.icon-location:before {
	content: "\e000";
}
.icon-search:before {
	content: "\e003";
}
.icon-popup:before {
	content: "\e005";
}
.icon-arrow-left:before {
	content: "\e006";
}
.icon-arrow-right:before {
	content: "\e007";
}
.icon-arrow-left-2:before {
	content: "\e001";
}
.icon-arrow-right-2:before {
	content: "\e002";
}
.icon-checkmark:before {
	content: "\e009";
}
.icon-cross:before {
	content: "\e00a";
}
.icon-quotes-left:before {
	content: "\e008";
}
.icon-cd:before {
	content: "\e00b";
}
.icon-byui-logo:before {
	content: "\e00c";
}
.icon-arrow-down:before {
	content: "\e00d";
}
.icon-arrow-up:before {
	content: "\e00e";
}
.icon-lds-church:before {
	content: "\e00f";
}
