<div class="events list-group">
    <a href="http://calendar.byui.edu/" class="list-group-item events-heading">Important Dates <span class="icon-calendar pull-right"></span></a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 8</span> Join Us at the Barista!</a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 9</span> Family Devotional Conference</a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 10</span> Testing Center Revolt</a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 11</span> Smith Building Birthday Bash</a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 12</span> Construction Finally Halts</a>
</div>