<div id="activities-header">
    <h2>STUDENT</h2>
    <h2>ACTIVITIES</h2>
    <div>
        <h3 id="gray">participate. volunteer. lead.
            <nav id="social-media">
                <a href="@Model.GetElementValue("Facebook")"  target="_blank">
                    <img class="icon-social" src="http://www.byui.edu/images/activities/facebook-light.png" alt="Facebook" />
                </a>

                <a href="@Model.GetElementValue("Twitter")" target="_blank">
                    <img class="icon-social" src="http://www.byui.edu/images/activities/twitter-light.png" alt="Twitter" />
                </a>

                <a href="@Model.GetElementValue("YouTube")" target="_blank">
                    <img class="icon-social" src="http://www.byui.edu/images/activities/youtube-light.png" alt="YouTube" />
                </a>

                <a href="@Model.GetElementValue("Pinterest")">
                    <img class="icon-social" src="http://www.byui.edu/images/activities/instagram-light.png" alt="Instagram" />
                </a>
            </nav>
        </h3>
    </div>
</div>