<div class="homepage-videos list-group">
    <a href="http://www.byui.edu/newsroom" class="list-group-item homepage-heading panel-heading">
        Videos
        <span class="hidden-xs panel-sub-heading">More Videos <span class="icon-angle-right"></span></span>     
    </a>
    <a href="#" class="list-group-item">
        <div class="video-thumbnail">
            <img class="pull-left media-object" alt="Bill Murray" src="//www.fillmurray.com/127/127">
            <span class="icon-play"></span>
        </div>

        <div class="media-body">
            <div class="media-content">
                <p class="media-heading">Student Activites: Honor</p>
                <p class="hidden-sm hidden-xs">See personal honor thorugh the eyes of on BYU-Idaho of athletics are offered through this program.</p>
            </div>
        </div>
        <span class="icon-angle-right visible-xs"></span>
    </a>
</div>