<div class="homepage-videos list-group">
    <a href="http://www.byui.edu/newsroom" class="list-group-item homepage-heading panel-heading">Videos</a>
    <a href="#" class="list-group-item">
        <div class="video-thumbnail">
            <img class="pull-left media-object" alt="Bill Murray" src="//www.fillmurray.com/100/100">
            <span class="icon-play"></span>
        </div>

        <div class="media-body">
            <p class="media-heading">Student Activites: Honor</p>
        </div>
        <span class="icon-angle-right visible-xs"></span>
    </a>
</div>