---
layout: MainLayout
---

<div class="page-header">
  <h1>Colors</h1>
</div>

<style>
  .color-cell {
    padding: 1em;
    margin-bottom: 1em;
  }
</style>


<div class="example">
    <div class="white-txt primary-bg color-cell">Primary</div>
    <div class="white-txt dark-bg color-cell">Dark</div>
    <div class="white-txt success-bg color-cell">Success</div>
    <div class="white-txt warning-bg color-cell">Warning</div>
    <div class="white-txt danger-bg color-cell">Danger</div>
    <div class="white-txt info-bg color-cell">Info</div>
    <div class="white-txt gray1-bg color-cell">Darkest Gray</div>
    <div class="white-txt gray2-bg color-cell">Darker Gray</div>
    <div class="white-txt gray3-bg color-cell">Dark Gray</div>
    <div class="white-txt gray4-bg color-cell">Gray</div>
    <div class="gray1-txt gray5-bg color-cell">Light Gray</div>
    <div class="gray2-txt gray6-bg color-cell">Lighter Gray</div>
    <div class="gray3-txt gray7-bg color-cell">Lightest Gray</div>
</div>
