---
layout: example
---

<div class="page-header">
  <h1>Colors</h1>
</div>

<style>
  .color-cell {
    padding: 1em;
    margin-bottom: 1em;
  }
</style>


<div class="example">
    <div class="primary color-cell">Primary</div>
    <div class="dark color-cell">Dark</div>
    <div class="success color-cell">Success</div>
    <div class="warning color-cell">Warning</div>
    <div class="danger color-cell">Danger</div>
    <div class="info color-cell">Info</div>
    <div class="gray-darker color-cell">Darker Gray</div>
    <div class="gray-dark color-cell">Dark Gray</div>
    <div class="gray color-cell">Gray</div>
    <div class="gray-light color-cell">Light Gray</div>
    <div class="gray-lighter color-cell">Lighter Gray</div>
    <div class="gray-lightest color-cell">Lightest Gray</div>
</div>
