---
layout: MainLayout
---

<div class="page-header">
  <h1>Icons</h1>
</div>

<style>
  .fs1 {
    padding: .5em 1em;
    margin-bottom: .5em;
    display: block;
    border: 1px solid #ccc;
  }
  @media (min-width: 600px) {
    .fs1 {
        width: 45%;
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
  }
</style>

<p>Icons are implemented through fonts, making them scalable vector graphics as opposed to rasterized images.</p>


<h2>Branding</h2>

<div class="row">
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-byui-logo"></span><span class="mls"> icon-byui-logo</span>
        </div>
    </div>
</div>



<h2>Pointers</h2>

<div class="row">
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-triangle-left"></span><span class="mls"> icon-triangle-left</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-triangle-down"></span><span class="mls"> icon-triangle-down</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-triangle-up"></span><span class="mls"> icon-triangle-up</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-triangle-right"></span><span class="mls"> icon-triangle-right</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-angle-left"></span><span class="mls"> icon-angle-left</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-angle-down"></span><span class="mls"> icon-angle-down</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-angle-up"></span><span class="mls"> icon-angle-up</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-angle-right"></span><span class="mls"> icon-angle-right</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-arrow-left"></span><span class="mls"> icon-arrow-left</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-arrow-right"></span><span class="mls"> icon-arrow-right</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-arrow-up"></span><span class="mls"> icon-arrow-up</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-arrow-down"></span><span class="mls"> icon-arrow-down</span>
        </div>
    </div>
</div>

<h2>Browser Behavior</h2>

<div class="row">
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-export"></span><span class="mls"> icon-export</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-magnifying-glass"></span><span class="mls"> icon-magnifying-glass</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-new-window"></span><span class="mls"> icon-new-window</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-popup"></span><span class="mls"> icon-popup</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-bookmark"></span><span class="mls"> icon-bookmark</span>
        </div>
    </div>
</div>

<h2>Files</h2>

<div class="row">
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-document"></span><span class="mls"> icon-document</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-document2"></span><span class="mls"> icon-document2</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-download"></span><span class="mls"> icon-download</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-upload"></span><span class="mls"> icon-upload</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-image"></span><span class="mls"> icon-image</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-box"></span><span class="mls"> icon-box</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-folder"></span><span class="mls"> icon-folder</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-file-pdf"></span><span class="mls"> icon-file-pdf</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-file-word"></span><span class="mls"> icon-file-word</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-file-excel"></span><span class="mls"> icon-file-excel</span>
        </div>
    </div>
</div>

<h2>Social</h2>

<div class="row">
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-facebook"></span><span class="mls"> icon-facebook</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-twitter"></span><span class="mls"> icon-twitter</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-feed"></span><span class="mls"> icon-feed</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-youtube"></span><span class="mls"> icon-youtube</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-linkedin"></span><span class="mls"> icon-linkedin</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-sharepoint"></span><span class="mls"> icon-sharepoint</span>
        </div>
    </div>
</div>

<h2>UI Elements</h2>

<div class="row">
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-radio-unchecked"></span><span class="mls"> icon-radio-unchecked</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-radio-checked"></span><span class="mls"> icon-radio-checked</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-checkmark"></span><span class="mls"> icon-checkmark</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-x"></span><span class="mls"> icon-x</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-denied"></span><span class="mls"> icon-denied</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-cursor"></span><span class="mls"> icon-cursor</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-wrench"></span><span class="mls"> icon-wrench</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-cog"></span><span class="mls"> icon-cog</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-plus"></span><span class="mls"> icon-plus</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-minus"></span><span class="mls"> icon-minus</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-link"></span><span class="mls"> icon-link</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-play"></span><span class="mls"> icon-play</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-spinner"></span><span class="mls"> icon-spinner</span>
        </div>
    </div>
</div>

<h2>Graphics</h2>

<div class="row">
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-graduation"></span><span class="mls"> icon-graduation</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-megaphone"></span><span class="mls"> icon-megaphone</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-pictures"></span><span class="mls"> icon-pictures</span>
        </div>
    </div>

    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-home"></span><span class="mls"> icon-home</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-office"></span><span class="mls"> icon-office</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-phone"></span><span class="mls"> icon-phone</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-address-book"></span><span class="mls"> icon-address-book</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-keyboard"></span><span class="mls"> icon-keyboard</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-flashlight"></span><span class="mls"> icon-flashlight</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-pushpin"></span><span class="mls"> icon-pushpin</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-calendar"></span><span class="mls"> icon-calendar</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-mail"></span><span class="mls"> icon-mail</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-movie"></span><span class="mls"> icon-movie</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-bolt"></span><span class="mls"> icon-bolt</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-award"></span><span class="mls"> icon-award</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-key"></span><span class="mls"> icon-key</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-lightbulb"></span><span class="mls"> icon-lightbulb</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-compass"></span><span class="mls"> icon-compass</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-at"></span><span class="mls"> icon-at</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-info"></span><span class="mls"> icon-info</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-hash"></span><span class="mls"> icon-hash</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-left-quote"></span><span class="mls"> icon-left-quote</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-right-quote"></span><span class="mls"> icon-right-quote</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-read-more"></span><span class="mls"> icon-read-more</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-book"></span><span class="mls"> icon-book</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-book-open"></span><span class="mls"> icon-book-open</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-layers"></span><span class="mls"> icon-layers</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-camera"></span><span class="mls"> icon-camera</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-chart"></span><span class="mls"> icon-chart</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-user"></span><span class="mls"> icon-user</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-clock"></span><span class="mls"> icon-clock</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-tag-fill"></span><span class="mls"> icon-tag-fill</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-star"></span><span class="mls"> icon-star</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-map-pin"></span><span class="mls"> icon-map-pin</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-pen"></span><span class="mls"> icon-pen</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-lock"></span><span class="mls"> icon-lock</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-unlock"></span><span class="mls"> icon-unlock</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-books"></span><span class="mls"> icon-books</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-library"></span><span class="mls"> icon-library</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-map"></span><span class="mls"> icon-map</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-food"></span><span class="mls"> icon-food</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-clipboard"></span><span class="mls"> icon-clipboard</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-code"></span><span class="mls"> icon-code</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-earth"></span><span class="mls"> icon-earth</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-suitcase"></span><span class="mls"> icon-suitcase</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-chat"></span><span class="mls"> icon-chat</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-bell"></span><span class="mls"> icon-bell</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-network"></span><span class="mls"> icon-network</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="icon-archive"></span><span class="mls"> icon-archive</span>
        </div>
    </div>
</div>
