---
layout: content
root: "../"
---

<div class="page-header">
  <h1>Icons</h1>
</div>

<style>
  .box1 {
    padding: .5em 1em;
    margin-bottom: .5em;
    display: block;
    border: 1px solid #ccc;
  }
</style>

<p>Icons are implemented through fonts, making them scalable vector graphics as opposed to rasterized images.</p>

<div class="example clearfix">
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
            <span aria-hidden="true" class="icon icon-byui-logo"></span>
            &nbsp;icon-byui-logo
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-lds-church"></span>
        &nbsp;icon-lds-church
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-vcard"></span>
        &nbsp;icon-vcard
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-export"></span>
        &nbsp;icon-export
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-location"></span>
        &nbsp;icon-location
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-graduation"></span>
        &nbsp;icon-graduation
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-book"></span>
        &nbsp;icon-book
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-megaphone"></span>
        &nbsp;icon-megaphone
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-calendar"></span>
        &nbsp;icon-calendar
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-briefcase"></span>
        &nbsp;icon-briefcase
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-info"></span>
        &nbsp;icon-info
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-pictures"></span>
        &nbsp;icon-pictures
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-install"></span>
        &nbsp;icon-install
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-book-2"></span>
        &nbsp;icon-book-2
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-triangle-left"></span>
        &nbsp;icon-triangle-left
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-triangle-down"></span>
        &nbsp;icon-triangle-down
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-triangle-up"></span>
        &nbsp;icon-triangle-up
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-triangle-right"></span>
        &nbsp;icon-triangle-right
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-angle-left"></span>
        &nbsp;icon-angle-left
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-angle-down"></span>
        &nbsp;icon-angle-down
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-angle-up"></span>
        &nbsp;icon-angle-up
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-angle-right"></span>
        &nbsp;icon-angle-right
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-large-angle-left"></span>
        &nbsp;icon-large-angle-left
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-large-angle-down"></span>
        &nbsp;icon-large-angle-down
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-large-angle-up"></span>
        &nbsp;icon-large-angle-up
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-large-angle-right"></span>
        &nbsp;icon-large-angle-right
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-home"></span>
        &nbsp;icon-home
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-office"></span>
        &nbsp;icon-office
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-phone"></span>
        &nbsp;icon-phone
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-address-book"></span>
        &nbsp;icon-address-book
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-envelop"></span>
        &nbsp;icon-envelop
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-keyboard"></span>
        &nbsp;icon-keyboard
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-user"></span>
        &nbsp;icon-user
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-search"></span>
        &nbsp;icon-search
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-radio-unchecked"></span>
        &nbsp;icon-radio-unchecked
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-radio-checked"></span>
        &nbsp;icon-radio-checked
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-pencil"></span>
        &nbsp;icon-pencil
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-flashlight"></span>
        &nbsp;icon-flashlight
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-chat"></span>
        &nbsp;icon-chat
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-cross"></span>
        &nbsp;icon-cross
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-checkmark"></span>
        &nbsp;icon-checkmark
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-minus"></span>
        &nbsp;icon-minus
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-plus"></span>
        &nbsp;icon-plus
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-arrow-left"></span>
        &nbsp;icon-arrow-left
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-arrow-down"></span>
        &nbsp;icon-arrow-down
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-arrow-up--upload"></span>
        &nbsp;icon-arrow-up--upload
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-arrow-right"></span>
        &nbsp;icon-arrow-right
        </span>
    </div>
    <div class="col-sm-6 col-lg-4">
        <span class="box1">
        <span aria-hidden="true" class="icon icon-play"></span>
        &nbsp;icon-play
        </span>
    </div>
</div>
