---
layout: default
page-type: ImageGallery
---


<!-- BEGIN TOP_CONTENT  -->           
<section id="top_content" class="span-24 last">
    <div id="page_title"><h2>Activities: Fitness</h2></div><!-- OPTIONAL --> 
</section><!-- END TOP_CONTENT  -->

<!-- BEGIN MAIN_CONTENT  -->
<section id="main_content" class="span-24 last">

    <!-- CYCLE GALLERY -->
	<!-- All id names should not be changed. This will center the cycled elements within the gallery, both in height and width. Width will be determined by the declared width of id 'cycle_gallery'. Any cycled element with a greater width will be scaled to fit. It will dynamically match the height to the tallest cycled element after scaling if any.   -->

	<div id="cycle_gallery" class="last"> 
		<div id="cycle_nav"></div><!-- this is a pagenation navigation -->
		<div id="cycle_control" >
			<div id="cycle_next" class="span-2 last right"></div>
			<div id="cycle_prev" class="span-2"></div>
		</div>
		<div id="cycle" class="fade"><!-- You can set the type of transition you want by giving id 'cycle' a class name of a valide transition (default is fade).  blindX, blindY,	blindZ, cover, curtainX, curtainY, fade, fadeZoom, growX, growY, scrollUp, scrollDown, scrollLeft, scrollRight, scrollHorz, scrollVert, shuffle, slideX, slideY, toss, turnUp, turnDown, turnLeft, turnRight, uncover, wipe, zoom -->
			<img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
			<img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
			<img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
			<img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
			<img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
			<img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/051021AcousticCafe_4644(0).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_65.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/AcousticCafe_42.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/110319_GuitarsUnplugged_135.jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Admin_Offices/Activities/Talent/080315Guitar'sUnplugged_747(2).jpg" alt="" title="" />
            <img src="http://beta.byui.edu/images/Colleges_and_Departments/Business%20and%20Communication/Business%20Management/businessSlideShowImages3.jpg" alt="" title="" />
            
		</div>
	</div><!-- end of cycle gallery -->

</section><!-- END MAIN_CONTENT  -->

<script src="/js/libs/jquery.cycle.all.js"></script>
<script src="/js/mylibs/cycle_gallery.js"></script>
<script src="/js/mylibs/image_gallery.js"></script>