<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"  > <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Brigham Young University - Idaho</title>
    <meta name="description" content="Brigham Young University - Idaho">
    <meta name="author" content="Brigham Young University - Idaho">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- favicon section for all device types -->
    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="icon" href="favicon.ico" />
    
    <!-- Blueprint and Regressive/Progressive Adaptive scripts for older/cross-browser compliance -->
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->

    <!-- Global Stylesheet -->
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen, projection">

    <!-- Modernizr script, for js and feature detection -->
    <script src="js/libs/modernizr-2.0.6.min.js"></script>
    <script>
        // Note: this script is meant for prototype html only, it should never be included in any XSLT pagetype
        // Content pagetype element toggle options:
        
        // turn local nav on and off
        var local_nav    = 'on';

        // these variables control the toggle script in the footer that turn items on and off, changing classes where appropriate.

    </script>
 <style>
 .scroll_figure { overflow: hidden; }
/* .scroll_figure img { width: 100%; }*/
.scroll_caption { text-align: center; padding: 1em; padding-bottom: 1.5em; margin: 0; }
 </style>
</head>

<body id="ImageGallery"><!-- Body tag must have page template name in it to inherit template-specific css rules -->
<div class="global_outside top_header">
        <div id="top_header" class="container">
            <nav id="main_nav" class="span-17">
                <ul>
                    <li class="first"><a href="http://www.byui.edu/">Home</a></li>
                    <li><a href="http://www.byui.edu/about/">About BYUI</a></li>
                    <li><a href="http://www.byui.edu/about/academics/">Academics</a></li>
                    <li><a href="http://www.byui.edu/about/student-life/">Student Life</a></li>
                    <li class="last"><a href="http://www.byui.edu/contact-us/">Contact BYUI</a></li>
                </ul>
            </nav>
        </div>
    </div><!-- end global_outside top -->

    <header class="global_outside main_header">
        <div id="main_header" class="container">
            <div class="span-2">
                <a href="http://www.byui.edu"><img src="images/head/byuilogo.png" alt="Brigham Young University Logo" height="41" width="70" /></a>
            </div>
            <div class="span-9">
                <h1 id="university_name"><a href="http://www.byui.edu/">Brigham Young University - Idaho</a></h1>
            </div>
            <nav id="audience_nav_box" class="span-13 last">
                <ul>
                    <li class="first"><a href="http://www.byui.edu/students/">Students</a></li>
                    <li><a href="http://www.byui.edu/future-students/">Future Students</a></li>
                    <li><a href="http://www.byui.edu/parents/">Parents</a></li>
                    <li><a href="http://www.byui.edu/employees/">Employees</a></li>
                    <li><a href="http://www.byui.edu/alumni/">Alumni</a></li>
                    <li class="last"><a href="http://www.byui.edu/visitors/">Visitors</a></li>  
                </ul>
            </nav>
            <div id="search_box" class="span-7 last">
                <nav>
                    <ul>
                        <li class="first"><a href="http://www.byui.edu/directories/">Directories</a></li>
                        <li><a href="http://www.byui.edu/ask/live-chat/" target="_blank"><span class="italics">Ask</span> <strong>BYUI</strong></a></li>
                        <li><a href="http://m.byui.edu/">Mobile Tools</a></li>
                        <li class="last"><a href="https://my.byui.edu/"><span class="italics">my</span><strong>BYUI</strong></a></li>
                    </ul>
                </nav>
                <div id="search_wrapper">
                    <form method="get" action="http://search.byui.edu/search?">
                        <input type="text" class="search_box" name="q" alt="Search the BYU-I website"/>
                        <input type="image" src="images/head/blankimg.png" class="search_box_submit" alt="Submit Search"/>
                        <input type="hidden" name="site" value="default_collection"/>
                        <input type="hidden" name="client" value="beta_frontend"/>
                        <input type="hidden" name="output" value="xml_no_dtd"/>
                        <input type="hidden" name="proxystylesheet" value="beta_frontend"/>
                        <input type="hidden" name="proxyreload" value="0"/>
                    </form>
                </div>
            </div><!-- end search_box -->

        </div><!-- end main_header container -->
    </header><!-- end global_outside main_header -->
    
    <div class="global_outside page_content">   
        <section id="page_content" class="container">


	    <!-- BEGIN BREADCRUMBS AREA -->
		<nav id="breadcrumbs" class="span-24">
			<a href="">BYU-Idaho Home &gt; </a>
			<a href="activities">Activities &gt; </a>
			<a href="activities/resources">Resources &gt; </a>
			<a href="activities/resources/exercise-facilities-and-play-fields">Exercise Facilities and Play Fields &gt; </a>
			<a href="activities/resources/exercise-facilities-and-play-fields/hart-building">Hart Building &gt; </a>
			<a href="activities/resources/exercise-facilities-and-play-fields/hart-building/swim-suit-policy">Swim Suit Policy</a>
		</nav><!-- END BREADCRUMBS AREA -->
		
        <!-- BEGIN LOCAL_NAV -->
        <nav id="local_nav" class="span-6">
            <h2 class="box_header">
                <a href="">Housing &amp; Student Living</a>
            </h2>
            <div id="accordion_control" class="clear">
                <span class="collapse">Collapse All ( - )</span>
            </div>
            <ul class="accordion">
                <li class="folder">
                    <a class="lvl_1" href="">On-Campus Housing Options</a>
                    <span class="expander">+</span>
                    <ul style="display: none; ">
                        <li>
                            <a class="lvl_2" href="https://web.byui.edu/housingasp">Start/View Your Contract</a>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Men's On-Campus</a>
                            <span class="expander">+</span>
                            <ul style="display: none; ">
                                <li>
                                    <a class="lvl_3" href="">Biddulph Hall</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="">Chapman Hall</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="">NEW! Lamprecht Hall</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Women's On-Campus</a>
                        </li>
                        <li>
                            <a class="lvl_2" href="">University Village (Student Family)</a>
                            <span class="expander">+</span>
                            <ul style="display: none; ">
                                <li>
                                <a class="lvl_3" href="">Apply for University Village</a>
                                </li>
                                <li>
                                <a class="lvl_3" href="">Flat (2 Bedroom)</a>
                                </li>
                                <li>
                                <a class="lvl_3" href="">Townhouse (Two-Bedroom)</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="">Frequently Asked Questions</a>
                                    <span class="expander">+</span>
                                    <ul class="accordLvl4" style="display: none; ">
                                        <li>
                                            <a class="lvl_4" href="">Occupancy Guidelines</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="folder">
                    <a class="lvl_1" href="https://web.byui.edu/TIS/search">Single Student Approved Housing</a>
                    <span class="expander">+</span>
                    <ul style="display: none; ">
                        <li>
                            <a class="lvl_2" href="">Approved Housing: Interactive Tool</a>
                        </li>
                        <li>
                            <a class="lvl_2" href="">About Approved Housing</a>
                            <span class="expander">+</span>
                            <ul style="display: none; ">
                                <li>
                                    <a class="lvl_3" href="">Apartment Living Standards</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="">Frequently Asked Questions</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Off-Campus Parking</a>
                            <span class="expander">+</span>
                            <ul style="display: none; ">
                                <li>
                                    <a class="lvl_3" href="">Rexburg Parking Ordinance</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Frequently Asked Questions</a>
                        </li>
                    </ul>
                </li>
                <li class="folder">
                    <a class="lvl_1" href="">Student-Family and Community</a>
                    <span class="expander">+</span>
                    <ul style="display: none; ">
                        <li>
                            <a class="lvl_2" href="">University Village </a>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Community Housing List</a>
                        </li>
                    </ul>
                </li>
                <li class="folder">
                    <a class="lvl_1" href="">Information, Support and Services</a>
                    <span class="expander">+</span>
                    <ul style="display: none; ">
                        <li>
                            <a class="lvl_2" href="">Managers &amp; Owners</a>
                        </li>
                        <li>
                            <a class="lvl_2" href="">View All Policies and Information </a>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Documents for Owners and Managers</a>
                        </li>
                        <li>
                            <a class="lvl_2" href="https://web.byui.edu/ApprovedHousing/Management/Logon.aspx?ReturnUrl=/ApprovedHousing/Management/default.aspx">Tenant Information System (TIS)</a>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Open Management Positions</a>
                        </li>
                    </ul>
                </li>
                <li class="folder">
                    <a class="lvl_1" href="">Information, Support and Services</a>
                </li>
                <li class="folder">
                    <a class="lvl_1" href="">Student Living</a>
                    <span class="expander">+</span>
                    <ul style="display: none; ">
                        <li>
                            <a class="lvl_2" href="">Students </a>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Apartment Managers</a>
                            <span class="expander">+</span>
                            <ul style="display: none; ">
                                <li>
                                    <a class="lvl_3" href="">Manager Forums</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Ward &amp; Stake Leaders</a>
                            <span class="expander">+</span>
                            <ul style="display: none; ">
                                <li>
                                    <a class="lvl_3" href="">Student Living for Bishops</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="">Home Evening Lessons</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Instructor Reflection</a>
                        </li>
                    </ul>
                </li>
                <li class="folder">
                    <a class="lvl_1" href="">About</a>
                    <span class="expander">+</span>
                    <ul style="display: none; ">
                        <li>
                            <a class="lvl_2" href="http://web.byui.edu/directory/">Related Campus Offices &amp; Services</a>
                            <span class="expander">+</span>
                            <ul style="display: none; ">
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/AccountingOffice">Accounting &amp; Bursar's Office</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/Admissions/">Admissions Office</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/helpdesk/">Computer Help Desk</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/deanofstudents">Dean of Students</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/FinancialAid/">Financial Aid/Scholarships</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/foodservices">Food Services</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/healthcenter/">Health Center</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/HonorCodeOffice">Student Honor Office</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/StudentEmployment/">Student Employment</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="http://www.byui.edu/spencer/local/eccldsp.htm">Ward &amp; Stake Locator</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Meet Our Employees</a>
                            <span class="expander">+</span>
                            <ul style="display: none; ">
                                <li>
                                    <a class="lvl_3" href="">On-Campus Managers</a>
                                </li>
                                <li>
                                    <a class="lvl_3" href="">University Village Management</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Contact Us</a>
                        </li>
                        <li>
                            <a class="lvl_2" href="">Site Map</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="highlighted_links" editfieldname="HighlightedLinks" editfieldrequired="false">
                <h2 class="box_header">University Village Links</h2>
                <a href="">Two-Bedroom Townhouse</a>
                <a href="">Two-Bedroom Flat</a>
                <a href="Documents/Admin_Offices/Housing/ISS/UV Addendum 2011.pdf" target="_blank">University Village Contract Addendum</a>
                <a href="">What are the occupancy guidelines at University Village?</a>
            </div>

            <div id="university_message" class="message_block span-6">
                <div class="message_block_top_nav">
                    <div class="message_title_block">University Message</div>
                </div>
                <div class="message_block_content" style="height: 180px">
                    <a href="http://www2.byui.edu/magazine/fall2011/features/A_Look_Into_the_Future/videos/employees_role.htm">
                        <img alt="fpo" src="images/fpo_images/grid/span-6-rows-10.png">
                    </a>
                </div>
            </div>

        </nav><!-- END LOCAL_NAV -->
        <section id="content_region">

            <!-- BEGIN TOP_CONTENT  -->           
    		<section id="top_content" class="span-24 last">
                <div id="page_title"><h2>Activities: Fitness</h2></div><!-- OPTIONAL --> 
            </section><!-- END TOP_CONTENT  -->

            <!-- BEGIN MAIN_CONTENT  -->
            <section id="main_content" class="span-24 last">

        	    <!-- CYCLE GALLERY -->
        		<!-- All id names should not be changed. This will center the cycled elements within the gallery, both in height and width. Width will be determined by the declared width of id 'cycle_gallery'. Any cycled element with a greater width will be scaled to fit. It will dynamically match the height to the tallest cycled element after scaling if any.   -->

        		<div id="cycle_gallery" class="span-24 last"> 
        			<div id="cycle_nav"></div><!-- this is a pagenation navigation -->
        			<div id="cycle_control" >
        				<div id="cycle_next" class="span-2 last right"></div>
        				<div id="cycle_prev" class="span-2"></div>
        			</div>
        			<div id="cycle" class="fade"><!-- You can set the type of transition you want by giving id 'cycle' a class name of a valide transition (default is fade).  blindX, blindY,	blindZ, cover, curtainX, curtainY, fade, fadeZoom, growX, growY, scrollUp, scrollDown, scrollLeft, scrollRight, scrollHorz, scrollVert, shuffle, slideX, slideY, toss, turnUp, turnDown, turnLeft, turnRight, uncover, wipe, zoom -->
        				<div class="scroll_figure">
                            <img src="images/gallery_captions/auditorium_dedication.jpg" alt="" title="" />
                            <p class="scroll_caption">Henry B. Eyering's Dedication.</p>
                        </div>

                        <div class="scroll_figure">
                            <img src="images/gallery_captions/auditorium_empty.jpg" alt="" title="" />
                            <p class="scroll_caption">The Audititorium can seat up to 15,000.</p>
                        </div>

                        <div class="scroll_figure">
                            <img src="images/gallery_captions/auditorium_full.jpg" alt="" title="" />
                            <p class="scroll_caption">Full Seats during the Dedication.</p>
                        </div>

                        <div class="scroll_figure">
                            <img src="images/gallery_captions/basketball_courts.jpg" alt="" title="" />
                            <p class="scroll_caption">Ten basketball courts in the BYU-I Center's Activities Center.</p>
                        </div>

                        <div class="scroll_figure">
                            <img src="images/gallery_captions/bednar_dedication.jpg" alt="" title="" />
                            <p class="scroll_caption">Elder Bednar projected on the large screen during the dedication.</p>
                        </div>

                        <div class="scroll_figure">
                            <img src="images/gallery_captions/control_booth_dedication.jpg" alt="" title="" />
                            <p class="scroll_caption">Tech Monkies at work, while I can't think of a decent caption.</p>
                        </div>
        				
                        
        			</div>
        		</div><!-- end of cycle gallery -->

            </section><!-- END TOP_CONTENT  -->

        </section>

        <span class="clearall"></span>
		
    </div><!-- end global_outside page_content -->

    <footer id="mega_footer" class="global_outside">
        
        <div class="global_outside footer_graphic">
            <div id="footer_graphic" class="container">
                <div></div>
            </div>
        </div><!-- end global_outside footer_graphic -->

        <div class="global_outside footer_nav">
            <div id="footer_nav" class="container">
                <nav id="audience_nav_box_bottom" class="span-15">
                    <ul>
                        <li class="first"><a href="http://www.byui.edu/students/">Students</a></li>
                        <li><a href="http://www.byui.edu/future-students/">Future Students</a></li>
                        <li><a href="http://www.byui.edu/parents/">Parents</a></li>
                        <li><a href="http://www.byui.edu/employees/">Employees</a></li>
                        <li><a href="http://www.byui.edu/alumni/">Alumni</a></li>
                        <li class="last"><a href="http://www.byui.edu/visitors/">Visitors</a></li>  
                    </ul>
                </nav>
                <div id="search_box_bottom" class="span-7 last">
                    <nav>
                        <ul>
                            <li class="first"><a href="http://www.byui.edu/directories/">Directories</a></li>
                            <li><a href="http://www.byui.edu/ask/live-chat/" target="_blank"><span class="italics">Ask</span> <strong>BYUI</strong></a></li>
                            <li><a href="http://m.byui.edu/">Mobile Tools</a></li>
                            <li class="last"><a href="https://my.byui.edu/"><span class="italics">my</span><strong>BYUI</strong></a></li>
                        </ul>
                    </nav>
                    <div id="search_wrapper_bottom">
                        <form method="get" action="http://search.byui.edu/search?">
                            <input type="text" class="search_box" name="q" alt="Search the BYU-I website"/>
                            <input type="image" src="images/head/blankimg.png" class="search_box_submit" alt="Submit Search"/>
                            <input type="hidden" name="site" value="default_collection"/>
                            <input type="hidden" name="client" value="beta_frontend"/>
                            <input type="hidden" name="output" value="xml_no_dtd"/>
                            <input type="hidden" name="proxystylesheet" value="beta_frontend"/>
                            <input type="hidden" name="proxyreload" value="0"/>
                        </form>
                    </div>
                </div>
                <nav id="secondary_nav" class="span-9 last">
                    <ul>
                        <li class="first"><a href="http://www.byui.edu/directories/">Directories</a></li>
                        <li><a href="http://www.byui.edu/ask/live-chat/" target="_blank"><span class="italics">Ask</span> <strong>BYUI</strong></a></li>
                        <li><a href="http://m.byui.edu/">Mobile Tools</a></li>
                        <li class="last"><a href="https://my.byui.edu/"><span class="italics">my</span><strong>BYUI</strong></a></li>
                    </ul>
                </nav>
            </div>
        </div><!-- end global_outside footer_nav -->

        <div class="global_outside footer_links_container">
            <div id="footer_links_container" class="container">
                <nav id="footer_links">
                    <div class="span-6 link_list box-shadow">
                        <h4>Popular Links</h4>
                        <ul>
                            <li><a href="http://www.byui.edu/directories/colleges-and-departments/">Academic Programs</a></li>
                            <li><a href="http://www.byui.edu/activities/">Activities</a></li>
                            <li><a href="http://www.byui.edu/Admissions/">Admissions</a></li>
                            <li><a href="http://web.byui.edu/BulletinBoard2/">Bulletin Board</a></li>
                            <li><a href="http://www.byui.edu/catalog/">Catalog</a></li>
                            <li><a href="http://web.byui.edu/directory/student/schedule/">Class Schedule</a></li>
                            <li><a href="http://www.byui.edu/ce/">Continuing Education and Community Connections</a></li>
                            <li><a href="http://www.byui.edu/devotionals/default.htm">Devotionals and Speeches</a></li>
                            <li><a href="http://www.byui.edu/employment/">Employment Opportunities</a></li>
                            <li><a href="http://www.byui.edu/FinancialAid/">Financial Aid and Scholarships</a></li>
                            <li><a href="http://www.byui.edu/foodservices/">Food Services</a></li>
                            <li><a href="http://www.byui.edu/sle/default.htm">Giving to BYU-Idaho</a></li>
                            <li><a href="http://www.byui.edu/housing/">Housing</a></li>
                            <li><a href="http://www.byui.edu/ilearn/">I-Learn</a></li>
                            <li><a href="http://www.lib.byui.edu/">Library</a></li>
                            <li><a href="http://www.byui.edu/online/">Online Learning</a></li>
                            <li><a href="http://www.byui.edu/registrarsoffice/">Registration</a></li>
                            <li><a href="http://activities.byui.edu/">Student Services and Activities</a></li>
                            <li><a href="http://www.byui.edu/webcameras/">Web Cams, Road and Weather Report</a></li>
                        </ul>
                    </div>
                    <div class="span-6 link_list">
                        <h4>Registration</h4>
                        <ul>
                            <li><a href="http://www.byui.edu/StudentHonor/Continuing%20Endorsement.htm ">Ecclesiastical Endorsements</a></li>
                            <li><a href="http://www.byui.edu/registrarsoffice/RegSchedule.htm">Registration dates</a></li>
                            <li><a href="https://secure.byui.edu/cas/login?service=https://web.byui.edu/Services/Login/?RedirectURL=https://my.byui.edu">Registering online</a></li>
                            <li><a href="http://www.byui.edu/catalog/2011-2012/default.htm">Course Offerings</a></li>
                            <li><a href="http://www.byui.edu/admissions/students/current/meddeferment.shtml">Deferment</a></li>
                        </ul>
                        <h4>Help Tools</h4>
                        <ul>
                            <li><a href="http://www.besmart.com/">Accept Admissions</a></li>
                            <li><a href="http://www.byui.edu/CareerServices/">Career Advising</a></li>
                            <li><a href="https://byui-csm.symplicity.com/">Career Navigator</a></li>
                            <li><a href="http://www.byui.edu/Disabilities/">Disability Services Center</a></li>
                            <li><a href="http://www.byui.edu/helpdesk/">Help Desk (technology)</a></li>
                            <li><a href="http://www.byui.edu/international/">International Student Services</a></li>
                            <li><a href="http://www.byui.edu/maps/">Maps</a></li>
                            <li><a href="http://www.byui.edu/eventservices/">Room Scheduling</a></li>
                            <li><a href="http://www.byui.edu/stc/">Student Technology Center</a></li>
                        </ul>
                    </div>
                    <div class="span-6 link_list">
                        <h4>Academic Tools</h4>
                        <ul>
                            <li><a href="http://www.byui.edu/graduation/apply.htm">Apply for graduation</a></li>
                            <li><a href="http://web.byui.edu/directory/student/schedule/">Class schedule</a></li>
                            <li><a href="https://my.byui.edu/ICS/Academics/Degree_Information.jnz">Degree Audit</a></li>
                            <li><a href="http://owa.byui.edu/">Email</a></li>
                            <li><a href="http://www.byui.edu/FinancialAid/">Financial Help &amp; Tools</a></li>
                            <li><a href="http://www.lib.byui.edu/">Library</a></li>
                            <li><a href="http://www.byui.edu/financialaid/fa/loans.htm">Loans/Grants</a></li>
                            <li><a href="http://www.byui.edu/financialaid/scholarships/apply.htm">Scholarships</a></li>
                            <li><a href="https://my.byui.edu/ICS/Academics/">Grade Report</a></li>
                            <li><a href="http://www.byui.edu/ilearn/">I-Learn</a></li>
                            <li><a href="http://web.byui.edu/PhysicalFacilities/LockerRentals/LockerRental.aspx">Locker Rentals</a></li>
                            <li><a href="http://my.byui.edu/">MY.BYUI.EDU</a></li>
                            <li><a href="http://www.byui.edu/online/">Online Learning</a></li>
                            <li><a href="http://testing.byui.edu/">Testing Center</a></li>
                            <li><a href="http://www.byuistore.com/c-21-textbooks.aspx">Textbooks</a></li>
                            <li><a href="http://www.byui.edu/academic-support-centers/study-skills-tutoring-center/">Tutoring Center</a></li>
                        </ul>
                    </div>
                    <div class="span-6 link_list last">
                        <h4>Student Life</h4>
                        <ul>
                            <li><a href="http://activities.byui.edu/">Activities</a></li>
                            <li><a href="http://www.byuistore.com/">Bookstore</a></li>
                            <li><a href="http://www.byui.edu/bulletinboard/">Classified Ads</a></li>
                            <li><a href="http://www.byui.edu/visitcampus/">Campus Tours</a></li>
                            <li><a href="http://web.byui.edu/BulletinBoard2/Rides.aspx">Carpools</a></li>
                            <li><a href="http://www.byui.edu/deanofstudents/">Conflict Mediation</a></li>
                            <li><a href="http://www.byui.edu/counselingcenter/">Counseling Center</a></li>
                            <li><a href="http://www.byui.edu/devotionals/default.htm">Devotionals &amp;Forums</a></li>
                            <li><a href="http://www.byui.edu/eventservices/">Event Services</a></li>
                            <li><a href="http://www.byui.edu/foodservices/">Food Services</a></li>
                            <li><a href="http://www.byui.edu/health-center/">Health Center</a></li>
                            <li><a href="http://www.byui.edu/StudentHonor/">Honor Code</a></li>
                            <li><a href="http://www.byui.edu/housing/">Housing</a></li>
                            <li><a href="http://www.byui.edu/Bursar/I-CardPolicies.htm">I-Card services</a></li>
                            <li><a href="http://www.byui.edu/foodservices/onlinepurchasing/diningdollars/diningdollars.htm">Meal plans</a></li>
                            <li><a href="http://www.byui.edu/ParkingServices/">Parking Services</a></li>
                            <li><a href="http://www.byui.edu/security/">Safety and Security</a></li>
                            <li><a href="http://www.byuicomm.net/">Scroll/I-Comm</a></li>
                            <li><a href="http://www.byui.edu/StudentEmployment/">Student Employment</a></li>
                            <li><a href="http://www.byui.edu/tickets/">Ticket Office</a></li>
                        </ul>
                    </div>
                </nav>      
            </div>
            <div id="bottom_padding" class="container"></div>
        </div><!-- end global_outside footer_links_container -->

        <div class="global_outside footer_brand">
            <div id="footer_brand" class="container">
                <div id="left_container" class="span-16">
                    <div>
                        <a id="lds_church_link" href="http://www.lds.org/" title="The Church of Jesus Christ of Latter-Day Saints">The Church of Jesus Christ of Latter-Day Saints</a>
                        <a id="byu_link" href="http://www.byu.edu/" title="Brigham Young University - Provo">Brigham Young University - Provo</a>
                        <a id="byuh_link" href="http://www.byuh.edu/" title="Brigham young University - Hawai'i">Brigham young University - Hawai'i</a>
                        <a id="ldsbc_link" href="http://www.ldsbc.edu/" title="LDS Business College">LDS Business College</a>
                    </div>
                </div>
                <div id="right_container" class="span-8 last">
                    <div id="social_icons">
                        <a id="byui_facebook_link" href="http://www.byui.edu/social-media/facebook/" title="BYU-I Facebook">BYU-I Facebook</a>
                        <a id="byui_youtube_link" href="http://www.byui.edu/social-media/youtube/" title="BYU-I YouTube">BYU-I YouTube</a>
                        <a id="byui_linkedIn_link" href="http://www.byui.edu/social-media/linkedin/" title="BYU-I LinkedIn">BYU-I LinkedIn</a>
                        <a id="byui_social_media_link" href="http://www.byui.edu/social-media/" title="BYU-I Social Media Sites">More</a>
                    </div>
                    <div>
                        <a href="http://www.byui.edu/copyright/policy/terms-of-use/">© 2012</a> 
                        Brigham Young University–Idaho <address>525 South Center St., Rexburg, ID 83460, <span class="tel"><span class="value">+1 (208) 496-1411</span></span></address>
                    </div>
                    <nav id="access_links">
                        <ul>
                            <li class="first"><a href="http://www.byui.edu/disabilities/">Disability Services</a></li>
                            <li class="last"><a href="http://www.byui.edu/feedback/" title="General feedback">Feedback</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!-- end global_outside footer_brand --> 

    </footer><!-- end mega_footer global_outside -->

    </footer><!-- end mega_footer global_outside -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js"><\/script>')</script>
    <script src="js/libs/jquery.cycle.all.js"></script>
    <script type="text/javascript">$(window).load(function() {
    
    var width = $('#cycle_gallery').width() - 2;
    var highest = 0;
    var control_top = 0;
    var img_left_margin = 0;
    var img_top_margin = 0;
    var count = 0;

    $('#cycle .scroll_figure').each(function(){
        if($(this).width() > width){
            $(this).css('width', width);
        }
        count++;
    });
    $('#cycle .scroll_figure').each(function(){
        if($(this).height() > highest){
            highest = $(this).height();
        }
    });
    $('#cycle .scroll_figure').each(function(){
        if($(this).width() > width){
            $(this).css('width', width);
        }
        if($(this).height() > highest){
            highest = $(this).height();
            $('#cycle').css('height', highest);
        }
        else {
            img_top_margin = (highest - $(this).height()) / 2;
            $(this).css('margin-top', img_top_margin);
        }
        control_top = highest / 2 - 5;
        $('#cycle_control').css('top', control_top);
        img_left_margin = (width - $(this).width()) / 2;    
        $(this).css('margin-left', img_left_margin);
    });
    $('#cycle_control').css('width', width);
    
    $('#cycle').cycle({
        fx:         $('#cycle').attr('class'),
        pause:      1, 
        next:       '#cycle_next',
        prev:       '#cycle_prev',
        pager:      '#cycle_nav' 
    });

    var nav_width = 0;
    var left_padding = 0;
    var page_nav = count * 22;
    if(page_nav > width){
        nav_width = width
    } else {
        nav_width = page_nav;
        left_padding = ((page_nav - width) / 2) * -1;
    }

    $('#cycle_nav').css('width', nav_width);
    $('#cycle_nav').css('margin-left', left_padding);
    $('#cycle_gallery').css('width', width);
    $('#cycle').css('width', width);
    $('#cycle').css('height', highest);

    $('#cycle').hover(function(){
        $('#cycle_next').toggle();
        $('#cycle_prev').toggle();
    });
    $('#cycle_control').hover(function(){
        $('#cycle_next').toggle();
        $('#cycle_prev').toggle();
    });
});
</script>
    <script src="js/mylibs/image_gallery.js"></script>

	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
    chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

        <!-- University web alaytics code for all university pages. (load last to prevent pageload hangups) -->
    <script type="text/javascript" src="http://web.byui.edu/Omniture/s_code.js"></script>
    <script type="text/javascript" src="http://web.byui.edu/Omniture/omniture_code.js"></script>
    <script>
    //Script that makes dom elements toggle:


        // local_nav on/off:
        if (local_nav == 'on') {
            $('#local_nav').css('display', 'block');

            // remove span-24 class
            $('#main_content, #top_content, #cycle_gallery').removeClass('span-24');
            // add span-18 class
            $('#main_content, #top_content, #cycle_gallery').addClass('span-18');
        } 
        else {
            // hide local_nav
            $('#local_nav').css('display', 'none');
        }

    </script>

</body>
</html>
