---
layout: MainLayout
---

<div class="page-header">
  <h1>Images</h1>
</div>

<h2>Styles</h2>
<p>Apply default styles to images using simple classes</p>
<div class="example image-styles clearfix">
  <style>
    .image-styles img {
      float: left;
      margin: .5em;
    }
  </style>
  <img src="http://lorempixel.com/120/120/nature" alt="Placeholder Image" class="img-rounded img-responsive">
  <img src="http://lorempixel.com/120/120/cats" alt="Placeholder Image" class="img-circle img-responsive">
  <img src="http://lorempixel.com/120/120/animals" alt="Placeholder Image" class="img-thumbnail img-responsive">
</div>

<h2>Thumbnails</h2>
<p>Easily use the responsive grid system to showcase images, videos, text, and more.</p>
<div class="example">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/300/300/city" alt="Placeholder Image">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/300/300/business" alt="Placeholder Image">
      </a>
    </div>
      <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/300/300/nightlife" alt="Placeholder Image">
      </a>
    </div>
      <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/300/300/technics" alt="Placeholder Image">
      </a>
    </div>
</div>
</div>

<h2>Media List</h2>
Use media inside a list (useful for comment threads or articles lists).
<div class="example">
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="http://lorempixel.com/60/60/city" alt="Placeholder Image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>

        <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://lorempixel.com/60/60/nightlife" alt="Placeholder Image">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Nested media heading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nihil tenetur dolores aliquam dignissimos praesentium ipsa amet. Praesentium, velit ipsam sit hic iure earum in quisquam dolorum consectetur repudiandae doloribus.</p>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://lorempixel.com/60/60/transport" alt="Placeholder Image">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Nested media heading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, vel, nulla amet voluptatum enim nobis officia quibusdam repudiandae sequi assumenda? Similique, doloremque, molestiae natus fuga ut sit accusamus? Eveniet, vitae.</p>
            </div>
          </li>
        </ul>

      </div>
    </li>

    <li class="media">
      <a class="pull-right" href="#">
        <img class="media-object" src="http://lorempixel.com/60/60/city" alt="Placeholder Image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
      </div>
    </li>
  </ul>
</div>


<h2>Carousel</h2>
<p>A responsive animated slideshow</p>
<div class="example">
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://lorempixel.com/940/400/nature/" alt="Alt tag info">
        <div class="carousel-caption">
          <h3>First Slide Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, eaque, officiis, enim officia error perspiciatis quae culpa mollitia cum consectetur impedit deleniti iste dicta dolorum accusantium pariatur doloremque odit architecto.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://lorempixel.com/940/400/transport/" alt="Alt tag info">
        <div class="carousel-caption">
          <h3>Second Slide Label</h3>
          <p>Ea, maiores, provident tempora fugit sapiente placeat asperiores doloribus quasi sunt sit accusamus quia aliquam unde. Dicta, autem, natus, asperiores officia architecto facere animi temporibus veritatis repellat esse nam quia.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://lorempixel.com/940/400/city/" alt="Alt tag info">
        <div class="carousel-caption">
          <h3>Third Slide Label</h3>
          <p>Debitis, reiciendis, ipsum tempora eaque velit unde enim asperiores cupiditate libero cumque aut alias aperiam consequuntur consectetur dignissimos repudiandae facere. Veritatis, repellat explicabo vitae voluptates nesciunt assumenda dolore saepe ipsam.</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>
