---
layout: content
root: "../"
---

<div class="page-header">
  <h1>Typography</h1>
</div>

<h2>Headings</h2>

<div class="example">
    <h1>H1 Heading Example</h1>
    <h2>H2 Heading Example</h2>
    <h3>H3 Heading Example</h3>
    <h4>H4 Heading Example</h4>
    <h5>H5 Heading Example</h5>
    <h6>H6 Heading Example</h6>
</div>

<h2>Page Header</h2>

<div class="example">
  <div class="page-header">
    <h1>Example page header <small>Subtext for header</small></h1>
  </div>
</div>

<h2>Body Copy</h2>
<div class="example">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, vero, beatae, ut, inventore praesentium magnam sequi non corrupti quas ex ratione officia unde nam totam itaque impedit voluptate consequuntur dolorum!</p>
    <p>Officiis, dolorem, eum, autem praesentium tenetur fuga natus aspernatur possimus magnam perspiciatis officia perferendis vitae assumenda veritatis ducimus nulla obcaecati aperiam optio modi explicabo. Corrupti, exercitationem culpa eaque illo odio?</p>
    <p>Velit, quos, consectetur, alias, repellendus maxime ad dicta repellat vero quae voluptatibus perferendis nihil rem assumenda voluptatum ipsum adipisci qui modi sit delectus culpa. Nesciunt, vel labore odit porro tenetur?</p>
</div>

<h3>Lead Body Copy</h3>
<div class="example">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, obcaecati, a, corporis iusto praesentium temporibus dolorum cumque maxime labore commodi aspernatur saepe officiis hic molestiae culpa. Suscipit quas veritatis illum.</p>
</div>

<h2>Jumbotron</h2>

<div class="example">
  <div class="jumbotron">
  <div class="container">
      <h1>Hello, World!</h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>
</div>

<h2>Emphasis</h2>

<h3>Small</h3>
<div class="example">
    <p><small>This line of text is meant to be treated as fine print</small></p>
</div>

<h3>Bold</h3>
<div class="example">
    <p>The following snippet of text is <strong>rendered as bold text.</strong></p>
</div>

<h3>Italics</h3>
<div class="example">
    <p>The following snippet of text is <em>rendered as italicized text.</em></p>
</div>

<h2>Blockquote</h2>
<div class="example">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
</div>

<h2>Addresses</h2>
<div class="example">
    <address>
      <strong>Brigham Young University Idaho</strong><br>
      525 South Center St.<br>
      Rexburg, ID 83460<br>
      <a href="tel:12084961411">(208) 496-1411</a>
    </address>

    <address>
      <strong>Marc Stevens</strong><br>
      <a href="mailto:#">stevensm@byui.edu</a>
    </address>
</div>

<h2>Lists</h2>

<h3>Bullet List</h3>
<div class="example">
    <ul>
        <li>Department of Physics Chair</li>
        <li>Stephen Turcotte said this event
            <ul>
                <li>Is just one example of how physics
                    <ul>
                        <li>Under the law</li>
                        <li>For all the people in the system
                            <ul>
                                <li>Companion Study</li>
                                <li>Single Study</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Students are going above and beyond</li>
            </ul>
        </li>
        <li>Their scholastic obligations</li>
        <li>In past demonstrations</li>
    </ul>
</div>

<h3>Number List</h3>
<div class="example">
    <ol>
        <li>Department of Physics Chair</li>
        <li>Stephen Turcotte said this event
            <ol>
                <li>Is just one example of how physics</li>
                <li>Students are going above and beyond
                    <ol>
                        <li>Under the Law
                            <ol>
                                <li>Guiding Light</li>
                                <li>By the understanding of Him</li>
                            </ol>
                        </li>
                        <li>For all people in the system</li>
                    </ol>
                </li>
                <li>Follow His commandments</li>
            </ol>
        </li>
        <li>Is just one example of how physics</li>
        <li>Students are going above and beyond</li>
        <li>Their scholastic obligations in past demonstrations</li>
    </ol>
</div>

<h2>Tables</h2>

<h3>Basic Table</h3>
<div class="example">
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
          </tr>
        </tbody>
    </table>
</div>
    

<h3>Striped Table</h3>
<div class="example">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
          </tr>
        </tbody>
    </table>
</div>
    

<h3>Bordered Table</h3>
<div class="example">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
          </tr>
        </tbody>
    </table>
</div>
    

<h3>Hover Rows</h3>
<div class="example">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
          </tr>
        </tbody>
    </table>
</div>
    

<h3>Condensed Table</h3>
<div class="example">
    <table class="table table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
            <td>English</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
          </tr>
        </tbody>
    </table>
</div>
    

<h3>Responsive Scrollable Table</h3>
<div class="example">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Language</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Some</td>
                <td>One</td>
                <td>English</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Joe</td>
                <td>Sixpack</td>
                <td>English</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Stu</td>
                <td>Dent</td>
                <td>Code</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
    

