<div class="panel recent-publications panel-default clearfix">
    <div class="panel-heading">
        Recent News
    </div>
    <div class="list-group media-list">
        <a href="#" class="list-group-item">
            <span class="event-date">September 8, 2014</span>
            News Article
        </a>
        <a href="#" class="list-group-item">
            <span class="event-date">September 8, 2014</span>
            News Article
        </a>
        <a href="#" class="list-group-item">
            <span class="event-date">September 8, 2014</span>
            News Article
        </a>
        <a href="#" class="list-group-item">
            <span class="event-date">September 8, 2014</span>
            News Article
        </a>
        <a href="#" class="list-group-item">
            <span class="event-date">September 8, 2014</span>
            News Article
        </a>
        
    </div>
</div>