<li class="media">
    <a href="#" class="col-all-3 no-pad">
        <img src="//www.fillmurray.com/200/200" alt="more" class="thumbnail media-object img-responsive news-thumbnail"/>
    </a>
    <div class="media-body col-all-9 no-pad-r">
        <h2 class="media-heading">
            <a href="#">Awesome Possumm News Article</a>
        </h2>
        <p class="article_summary">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut laborum sit eligendi dolorum quis, error fugit vel qui corporis eveniet dolor nihil culpa repellendus mollitia doloremque placeat molestias quos similique!
        </p>
        <date class="article-published text-muted"><small>September 9, 2014</small></date>
        <a class="btn btn-primary pull-right btn-xs" href="#">READ MORE</a>
    </div>
</li>
