<div class="homepage-news list-group">
    <a href="http://www.byui.edu/newsroom" class="list-group-item homepage-heading panel-heading">Newsroom</a>
    <a href="#" class="list-group-item">
        <div class="news-thumbnail">
            <img class="pull-left media-object" alt="Bill Murray" src="//www.fillmurray.com/100/100">
        </div>

        <div class="media-body">
            <p class="media-heading">News Title</p>
        </div>
    </a>
</div>

<div class="homepage-events list-group">
    <a class="list-group-item homepage-heading panel-heading" href="http://calendar.byui.edu/">Upcoming Events</a>
    <a href="#" class="list-group-item">
        <span class="event-date">September 8</span>
        Hoth is calling all willing volunteers.
    </a>
</div>