.building .buildings-map-block {
  max-width: 300px;
  position: relative;
}
.building .buildings-map-link {
  bottom: 10px;
  position: absolute;
  right: 10px;
}
.building .byui-blue {
  font-size: 1.3em;
}
