/* BYU-IDAHO GLOBAL STYLESHEET */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 0.017em;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 0.05em;
}
.icon-byui-logo:before {
  content: "\e000";
}
.icon-lds-church:before {
  content: "\e001";
}
.icon-vcard:before {
  content: "\e002";
}
.icon-export:before {
  content: "\e003";
}
.icon-location:before {
  content: "\e004";
}
.icon-graduation:before {
  content: "\e005";
}
.icon-book:before {
  content: "\e006";
}
.icon-megaphone:before {
  content: "\e007";
}
.icon-calendar:before {
  content: "\e008";
}
.icon-briefcase:before {
  content: "\e009";
}
.icon-info:before {
  content: "\e00a";
}
.icon-pictures:before {
  content: "\e00b";
}
.icon-install:before {
  content: "\e00c";
}
.icon-book-2:before {
  content: "\e00d";
}
.icon-triangle-left:before {
  content: "\e00e";
}
.icon-triangle-down:before {
  content: "\e00f";
}
.icon-triangle-up:before {
  content: "\e010";
}
.icon-triangle-right:before {
  content: "\e011";
}
.icon-angle-left:before {
  content: "\e012";
}
.icon-angle-down:before {
  content: "\e013";
}
.icon-angle-up:before {
  content: "\e014";
}
.icon-angle-right:before {
  content: "\e015";
}
.icon-large-angle-left:before {
  content: "\e016";
}
.icon-large-angle-down:before {
  content: "\e017";
}
.icon-large-angle-up:before {
  content: "\e018";
}
.icon-large-angle-right:before {
  content: "\e019";
}
.icon-home:before {
  content: "\e01a";
}
.icon-office:before {
  content: "\e01b";
}
.icon-phone:before {
  content: "\e01c";
}
.icon-address-book:before {
  content: "\e01d";
}
.icon-envelop:before {
  content: "\e01e";
}
.icon-keyboard:before {
  content: "\e01f";
}
.icon-user:before {
  content: "\e020";
}
.icon-search:before {
  content: "\e021";
}
.icon-radio-unchecked:before {
  content: "\e022";
}
.icon-radio-checked:before {
  content: "\e023";
}
.icon-pencil:before {
  content: "\e024";
}
.icon-flashlight:before {
  content: "\e025";
}
.icon-chat:before {
  content: "\e026";
}
.icon-cross:before {
  content: "\e027";
}
.icon-checkmark:before {
  content: "\e028";
}
.icon-minus:before {
  content: "\e029";
}
.icon-plus:before {
  content: "\e02a";
}
.icon-arrow-left:before {
  content: "\e02b";
}
.icon-arrow-down:before {
  content: "\e02c";
}
.icon-arrow-up--upload:before {
  content: "\e02d";
}
.icon-arrow-right:before {
  content: "\e02e";
}
.icon-play:before {
  content: "\e02f";
}
/* HEADER STYLES */
body {
  margin-bottom: -50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotron.homepage-jumbotron {
  background: #056cb6;
  color: #fff;
  padding: 1em;
}
.page-title {
  margin: 0;
  padding: 0;
  font-size: 32px !important;
}
.site-navigation {
  margin: 0;
  border-radius: 0;
  z-index: 1020;
}
.site-navigation .navbar-inverse .navbar-nav > li > a {
  color: #eee;
}
.search {
  padding-left: 0;
}
.desktop-search {
  float: right;
}
.department-nav {
  margin-bottom: 1em;
  z-index: 1010;
}
.container {
  transition: width 0.5s;
}
.site-logo {
  font-size: 50px;
  padding: 0 15px;
  position: relative;
  top: -0.05em;
}
.sign-in {
  margin-right: -15px;
}
.footer-audience {
  border-top: 10px #ccc solid;
  margin: 0;
  border-radius: 0;
  padding: .675em;
}
.footer-audience .btn {
  margin: .2em;
}
.audience-nav {
  margin-bottom: .5em;
}
.footer-graphic {
  margin: 0;
  padding: 0;
  background: #fff;
  background: url('http://www.byui.edu/prebuilt/stylenew/images/foot/taylor_graphic.png') no-repeat;
  background-position: center;
  height: 146px;
  margin-top: 2em;
  margin-bottom: -11px;
}
.site-footer {
  font-size: 1em;
  color: #999;
  background-color: #000;
  padding: 50px 0 0;
}
.site-footer h4 {
  letter-spacing: 3px;
  border-bottom: 1px solid #999;
  padding-bottom: .5em;
}
.site-footer a {
  color: #ccc;
  text-decoration: none;
}
.site-footer a:hover {
  color: #eee;
}
.footer-links {
  margin-bottom: 3em;
}
.church-branding {
  font-size: 8em;
}
