.newsroom .media-heading {
  font-size: 18px;
}
.newsroom .article-list .media {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.newsroom .page-header h1 small {
  font-size: 16px;
}
.newsroom .right-column {
  padding-right: 0;
}
.newsroom .contact-panel,
.newsroom .publications-panel,
.newsroom .social-panel {
  padding-right: 0;
}
.newsroom .list-group-item {
  border: none;
}
