#content {
  background-image: url('../images/pillar_pages/background_hash.png');
  color: #252525;
}
#content #black_box {
  height: 119px;
  text-align: center;
  float: left;
  width: 640px;
  background-image: url('../images/pillar_pages/background_pillar_title_hash.png');
}
#content #black_box h2 {
  font-size: 34px;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 100;
  margin-top: 35px;
  color: #ccc;
}
#content #grey_box_area {
  background-image: url('../images/pillar_pages/grey_box.png');
  width: 303px;
  height: 58px;
  float: right;
  clear: none;
  margin-left: -1px;
  padding-left: 8px;
}
#content #grey_box_content_area {
  margin-top: 15px;
}
#content #grey_box_content_area a {
  float: left;
  color: #ccc;
}
#content #grey_box_content_area a:hover {
  color: #F3D375;
}
#content #grey_box_content_area h5 {
  float: left;
  margin: 2px 0 0 7px;
  font-size: 16px;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 100;
  color: #ccc;
}
#content #grey_box_content_area h5 img {
  margin-right: 10px;
}
#content h5.right_aside_header {
  text-transform: uppercase;
  color: #363636;
  font-size: 12px;
  margin-bottom: 20px;
}
#content #title_arrow {
  height: 23px;
  text-align: center;
  float: left;
  margin-left: 290px;
  width: 47px;
  clear: left;
}
#content .content_block {
  clear: both;
  background-color: #fff;
  padding: 10px 25px;
  margin-bottom: 30px;
}
#content .content_navigation {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  height: 28px;
}
#content .content_navigation ul {
  float: left;
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
  height: 30px;
}
#content .content_navigation ul li {
  float: left;
  font-size: 13px;
  padding: 0px 7px;
  margin-right: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#content .content_navigation ul li:hover {
  background-color: #aaa;
}
#content .content_navigation ul li.active {
  background-color: #363636;
}
#content .content_navigation ul li a {
  display: block;
  padding: 3px 0;
  color: #363636;
}
#content .content_navigation ul li a:hover {
  color: #000;
}
#content .content_navigation ul li a.active {
  color: #e1e1e1;
}
#content .content_navigation ul li a.active:hover {
  cursor: default;
}
#content .right_related_links {
  padding-top: 10px;
  padding-left: 10px;
  float: right;
  width: 270px;
}
#content .left_main_content, #content .left_sub_content {
  border-right: 2px solid #d9d9d9;
  padding: 13px 13px 30px 0px;
  width: 600px;
}
#content .left_sub_content {
  border-bottom: none;
  padding-top: 25px;
  padding-bottom: 13px;
  border-top: 1px solid #b7b7b7;
}
#content h3.sub_heading {
  color: #363636;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#content h2.section_heading {
  font-size: 24px;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 100;
}
#content img.left_main_content_image {
  margin-left: -45px;
  margin-right: 20px;
  float: left;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #919191;
}
#content .left_main_content p {
  font-size: 15px;
}
#content .article_link_box {
  float: left;
  clear: left;
  margin-bottom: 25px;
  display: block;
}
#content .article_link_box p {
  font-size: 13px;
  height: 42px;
}
#content .read_more_box {
  position: relative;
  bottom: 0;
}
#content img.read_more_right_arrow {
  float: left;
  margin-right: 10px;
  margin-top: 8px;
}
#content .read_more {
  font-size: 12px;
}
#content img.article_link_img {
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #919191;
}
#content a.back_to_top {
  float: right;
  font-size: 13px;
  color: #fff;
  background-color: #1c6dac;
  border-radius: 5x;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3px 7px;
  width: 92px;
}
#content a.back_to_top img {
  float: right;
  margin-top: 3px;
}
#content #breadcrumbs {
  background-color: #fff;
  width: 950px;
  padding: 0px 1000px;
  margin-left: -1000px;
}
