<div class="panel recent-publications panel-default clearfix">
    <div class="panel-heading">
        Recent News
    </div>
    <div class="list-group media-list">
        <a href="#" class="list-group-item">
            <strong>Jan 10</strong>
            The Scroll
        </a>
        <a href="#" class="list-group-item">
            <strong>Feb 15</strong>
            Online
        </a>
        <a href="#" class="list-group-item">
            <strong>Mar 13</strong>
            Upward
        </a>
    </div>
</div>