<div class="events list-group">
    <a href="http://calendar.byui.edu/" class="list-group-item events-heading">Recent News</a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 8</span> The Scroll Taking a Whole New Direction</a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 9</span> Online Classes Conquer The World</a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 10</span> Upward Stuffage Released</a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 11</span> Smith Building Birthday Bash</a>
    <a href="#" class="list-group-item"><span class="event-date">SEP 12</span> Construction Finally Halts</a>
</div>