// Core variables and mixins
@import "../../_less/bootstrap/variables.less";
@import "../../_less/custom/variables.less"; // Custom Override
@import "../../_less/bootstrap/mixins.less";
@import "../../_less/custom/mixins.less"; // Custom Override

.employee-index {
    .media-heading {
        font-size: 18px;
    }
    .article-list .media {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    .page-header h1 small {
        font-size: 16px;
    }
    .right-column {
        padding-right: 0;
    }
    .contact-panel,
    .publications-panel,
    .social-panel {
        padding-right: 0;
    }
    .list-group-item {
        border: none;
    }
    .contact-info {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 1em 1em 1em 0em;
    }
    .contact-info h3 {
        color: #aaa;
    }
}