<div id="home-carousel" class="carousel slide row" data-ride="carousel">
    <div class="carousel-inner col-all-10 col-all-offset-1">
        <div class="item active">
            <a href="#">
                <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
            </a>
            <div class="carousel-caption">
                <p>Campus Flood 2014:</p>
                <p>Students are a shining example of Service</p>
            </div>
        </div>
        <div class="item">
            <a href="#">
                <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
            </a>
            <div class="carousel-caption">
                <p>Campus Flood 2014:</p>
                <p>Students are a shining example of Service</p>
            </div>
        </div>
        <div class="item">
            <a href="#">
                <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
            </a>
            <div class="carousel-caption">
                <p>Campus Flood 2014:</p>
                <p>Students are a shining example of Service</p>
            </div>
        </div>
        <div class="item">
            <a href="#">
                <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
            </a>
            <div class="carousel-caption">
                <p>Campus Flood 2014:</p>
                <p>Students are a shining example of Service</p>
            </div>
        </div>
        <div class="item">
            <a href="#">
                <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
            </a>
            <div class="carousel-caption">
                <p>Campus Flood 2014:</p>
                <p>Students are a shining example of Service</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#home-carousel" data-slide="prev">
        <span class="icon-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#home-carousel" data-slide="next">
        <span class="icon-angle-right"></span>
    </a>
</div>