<div id="home-carousel" class="carousel slide row">
    <div class="carousel-inner">
        <div class="item active">
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image previous-slide" />
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image next-slide" />
            <div class="item-wrapper">
                <a href="#">
                    <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
                    <div class="carousel-caption">
                        <p>Campus Flood 2014:</p>
                        <p>Students are a shining example of Service</p>
                        <div class="carousel-sub-caption hidden-xs">
                            <p>BYU-Idaho seeks to develop students who are spiritually focused and ready for leadership in their families, the workplace, and the community.</p>
                            <span>Read More</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image previous-slide" />
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image next-slide" />
            <div class="item-wrapper">
                <a href="#">
                    <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
                    <div class="carousel-caption">
                        <p>Campus Flood 2014:</p>
                        <p>Students are a shining example of Service</p>
                        <div class="carousel-sub-caption hidden-xs">
                            <p>BYU-Idaho seeks to develop students who are spiritually focused and ready for leadership in their families, the workplace, and the community.</p>
                            <span>Read More</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image previous-slide" />
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image next-slide" />
            <div class="item-wrapper">
                <a href="#">
                    <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
                    <div class="carousel-caption">
                        <p>Campus Flood 2014:</p>
                        <p>Students are a shining example of Service</p>
                        <div class="carousel-sub-caption hidden-xs">
                            <p>BYU-Idaho seeks to develop students who are spiritually focused and ready for leadership in their families, the workplace, and the community.</p>
                            <span>Read More</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image previous-slide" />
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image next-slide" />
            <div class="item-wrapper">
                <a href="#">
                    <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
                    <div class="carousel-caption">
                        <p>Campus Flood 2014:</p>
                        <p>Students are a shining example of Service</p>
                        <div class="carousel-sub-caption hidden-xs">
                            <p>BYU-Idaho seeks to develop students who are spiritually focused and ready for leadership in their families, the workplace, and the community.</p>
                            <span>Read More</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image previous-slide" />
            <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image next-slide" />
            <div class="item-wrapper">
                <a href="#">
                    <img alt="Bill Murray" src="//fillmurray.com/1200/600" class="home_image" />
                    <div class="carousel-caption">
                        <p>Campus Flood 2014:</p>
                        <p>Students are a shining example of Service</p>
                        <div class="carousel-sub-caption hidden-xs">
                            <p>BYU-Idaho seeks to develop students who are spiritually focused and ready for leadership in their families, the workplace, and the community.</p>
                            <span>Read More</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#home-carousel" data-slide="prev">
        <span class="icon-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#home-carousel" data-slide="next">
        <span class="icon-angle-right"></span>
    </a>
</div>