<div class="activities-gallery">
    <div id="mobile-arrow-container">
        <span id="left-mobile-arrow" class="mobile-arrow">
            <span class="icon-angle-left"></span>
        </span>
        <span id="right-mobile-arrow" class="mobile-arrow">
            <span class="icon-angle-left"></span>
        </span>
    </div>

    <div id="mainTile">
        <img src="http://lorempixel.com/640/480/animals" />
    </div>

    <div class="gallery-thumbnails row">
        <div class="smallTile selected">
            <div id="tileContent">
                <img src="http://lorempixel.com/640/480/animals" />
            </div>
        </div>

        <div class="smallTile selected">
            <div id="tileContent">
                <img src="http://lorempixel.com/640/480/food" />
            </div>
        </div>

        <div class="smallTile selected">
            <div id="tileContent">
                <img src="http://lorempixel.com/640/480/nature" />
            </div>
        </div>

        <div id="leftArrow" class="arrow">
            <span id="icon-angle-left"></span>
        </div>

        <div class="smallTile selected">
            <div id="tileContent">
                <img src="http://lorempixel.com/640/480/animals" />
            </div>
        </div>

        <div class="smallTile selected">
            <div id="tileContent">
                <img src="http://lorempixel.com/640/480/food" />
            </div>
        </div>

        <div class="smallTile selected">
            <div id="tileContent">
                <img src="http://lorempixel.com/640/480/nature" />
            </div>
        </div>
    </div>
</div>

