--- 
layout: MainLayout 
title: Admissions 
--- 

{% include breadcrumb/breadcrumb.html %} 
{% include nav/nav.html %}

<section class="admin-home">

    {% include title/title.html %}

    <div class="row">

        <section class="article col-sm-8 pull-left">
            <div class="row">
                {% include cells/cells.html %}
                {% include cells/cells.html %}
                {% include cells/cells.html %}
            </div>

            {% include top-images/top-images.html %}

        </section>

        <aside class="rig ht-column col-xs-12 col-sm-4 pull-right">
            <div class="row">
                <div class="col-xs-6 col-sm-12 pull-left">
                    {% include dept-events/dept-events.html %}
                </div>

                <div class="col-all-12 col-xs-6 col-sm-12 pull-left">
                    {% include contact-info/contact-info.html %}
                </div>
                <div class="col-xs-6 col-sm-12 pull-left">
                    {% include institutional-message/institutional-message.html %}
                </div>
            </div>
        </aside>
    </div>
</section>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/admin-home.min.css" />