<style type="text/css">
.banner img {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}
.grape {
  background-color: #883f5c;
}
.orange {
  background-color: #f08a01;
}
.red {
  background-color: #d8583b;
}
.green {
  background-color: #aba800;
}
.light-gray {
  background-color: #e4e4e4;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
.merriweather {
  font-family: "Merriweather";
}
.opensans {
  font-family: "Open Sans";
  font-size: 13px;
}
.small {
  font-size: 10pt;
}
.big {
  font-size: 12pt;
}
.banner {
  margin: 0;
  padding: 0;
}
.textbox {
  padding: 1.5em;
}
.tablet.light-gray>.textbox {
  padding-top: 0;
  padding-bottom: 0;
}
.colorbox {
  padding-bottom: 0.5em;
  line-height: 0.1em;
  color: white;
}
.colorbox .uppercase {
  letter-spacing: 0.1em;
}
.banner-indicator {
  min-height: 420px;
  width: 953px;
  max-width: 100%;
}
.btn-box {
  bottom: 0;
  float: right;
}
.col {
  height: 100%;
}
.carousel-indicators {
  left: 4.5em;
}
.carousel-indicators li {
  background-color: #ffffff;
  border-color: #888888;
}
.carousel-indicators .active {
  background-color: #888888;
}
</style>

<div class="opensans">
  <div class="carousel slide" id="carousel-example" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#carousel-example"></li>
      <li data-slide-to="1" data-target="#carousel-example"></li>
      <li data-slide-to="2" data-target="#carousel-example"></li>
      <li data-slide-to="3" data-target="#carousel-example"></li>
    </ol><!-- /carousel-indicators -->
    <div class="carousel-inner light-gray">
      <div class="item active">
        <div class="banner banner-indicator light-gray" data-in-view="true">
          <div class="hidden-all hidden-xs hidden-sm col-md-8 col-lg-8 banner"><img src="http://lorempixel.com/output/nature-q-c-640-427-7.jpg" /></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 banner">
            <div class="grape textbox colorbox">
              <p class="uppercase small">Department of</p>
              <p class="bold big">English</p>
            </div>
            <div class="light-gray ">
              <div class="col-all-6 col-xs-6 col-sm-9 hidden-md hidden-lg banner"><img src="http://lorempixel.com/output/nature-q-c-640-427-7.jpg" /></div>
              <div class="textbox btn-box col-all-6 hidden-sm hidden-md hidden-lg"><a class="btn-primary btn uppercase" href="http://ingeniux.byui.edu/admin/xml/">Learn More</a></div>
             <div class="col-all-12 col-xs-12 col-sm-3 col-md-12 col-lg-12 textbox">
                <div class="banner">
                  <p>The study of litterature and writing develops skills that make people more effective students, more effective employees and more interesting people.</p>
                </div>
                <div class="banner btn-box hidden-all visible-sm visible-md visible-lg"><a class="btn-primary btn uppercase" href="http://ingeniux.byui.edu/admin/xml/">Learn More</a></div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /item -->
      <div class="item">
        <div class="banner banner-indicator light-gray" data-in-view="true">
          <div class="hidden-xs hidden-sm col-md-8 col-lg-8 banner"><img src="http://lorempixel.com/output/nature-q-c-640-427-9.jpg" /></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 banner">
            <div class="orange textbox colorbox">
              <p class="uppercase small">Department of</p>
              <p class="bold big">Languages &amp; International Studies</p>
            </div>
            <div class="light-gray ">
              <div class="col-all-6 col-xs-6 col-sm-9 hidden-md hidden-lg banner"><img src="http://lorempixel.com/output/nature-q-c-640-427-9.jpg" /></div>
              <div class="textbox btn-box col-all-6 hidden-sm hidden-md hidden-lg"><a class="btn-primary btn uppercase" href="http://ingeniux.byui.edu/admin/xml/">Learn More</a></div>
              <div class="col-all-12 col-xs-12 col-sm-3 col-md-12 col-lg-12 textbox">
                <div class="banner">
                  <p>Students have opportunities to study world languages and cultures, preparing them for a deeper understanding of the world in which we live, as well as advanced schooling and career options in a number of different disciplines.</p>
                </div>
                <div class="banner btn-box hidden-all visible-sm visible-md visible-lg"><a class="btn-primary btn uppercase" href="http://ingeniux.byui.edu/admin/xml/">Learn More</a></div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /item -->
      <div class="item">
        <div class="banner banner-indicator light-gray" data-in-view="true">
          <div class="hidden-xs hidden-sm col-md-8 col-lg-8 banner"><img src="http://lorempixel.com/output/nature-q-c-640-427-1.jpg" /></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 banner">
            <div class="red textbox colorbox">
              <p class="uppercase small">Department of</p>
              <p class="bold big">History/ Geography/ Political Science</p>
            </div>
            <div class="light-gray">
              <div class="col-all-6 col-xs-6 col-sm-9 hidden-md hidden-lg banner"><img src="http://lorempixel.com/output/nature-q-c-640-427-1.jpg" /></div>
              <div class="textbox btn-box col-all-6 hidden-sm hidden-md hidden-lg"><a class="btn-primary btn uppercase" href="http://ingeniux.byui.edu/admin/xml/">Learn More</a></div>
              <div class="col-all-12 col-xs-12 col-sm-3 col-md-12 col-lg-12 textbox">
                <div class="banner">
                  <p>History, geography and political science encourage a curiosity and love of learning about the human experience. Our students learn to read closely, write clearly and think critically by researching and evaluating documents and data.</p>
                </div>
                <div class="banner btn-box hidden-all visible-sm visible-md visible-lg"><a class="btn-primary btn uppercase" href="http://ingeniux.byui.edu/admin/xml/">Learn More</a></div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /item -->
      <div class="item">
        <div class="banner banner-indicator light-gray" data-in-view="true">
          <div class="hidden-xs hidden-sm col-md-8 col-lg-8 banner"><img src="http://lorempixel.com/output/nature-q-c-640-427-5.jpg" /></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 banner">
            <div class="green textbox colorbox">
              <p class="uppercase small">Department of</p>
              <p class="bold big">Humanities &amp; Philosophy</p>
            </div>
            <div class="light-gray">
              <div class="col-all-6 col-xs-6 col-sm-9 hidden-md hidden-lg banner"><img src="http://lorempixel.com/output/nature-q-c-640-427-5.jpg" /></div>
              <div class="textbox btn-box col-all-6 hidden-sm hidden-md hidden-lg"><a class="btn-primary btn uppercase" href="http://ingeniux.byui.edu/admin/xml/">Learn More</a></div>
              <div class="col-all-12 col-xs-12 col-sm-3 col-md-12 col-lg-12 textbox">
                <div class="banner">
                  <p>In the spirit of the ancient and proven curriculum of the liberal arts, studying humanities and philosophy prepares students to succeed in all aspects of life and work.</p>
                </div>
                <div class="banner btn-box hidden-all visible-sm visible-md visible-lg"><a class="btn-primary btn uppercase" href="http://ingeniux.byui.edu/admin/xml/">Learn More</a></div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /item -->
    </div><!-- /carousel-inner -->
  </div><!-- /carousel slide -->
</div><!-- /carousel -->

<!--

<div id="carousel-top" class="carousel slide">
    <!- Indicators ->
    <ol class="carousel-indicators">
      <li data-target="#carousel-top" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-top" data-slide-to="1"></li>
      <li data-target="#carousel-top" data-slide-to="2"></li>
    </ol>

    <!- Wrapper for slides ->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://lorempixel.com/940/400/nature/" alt="Alt tag info">
        <div class="carousel-caption">
          <h3>First Slide Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, eaque, officiis, enim officia error perspiciatis quae culpa mollitia cum consectetur impedit deleniti iste dicta dolorum accusantium pariatur doloremque odit architecto.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://lorempixel.com/940/400/transport/" alt="Alt tag info">
        <div class="carousel-caption">
          <h3>Second Slide Label</h3>
          <p>Ea, maiores, provident tempora fugit sapiente placeat asperiores doloribus quasi sunt sit accusamus quia aliquam unde. Dicta, autem, natus, asperiores officia architecto facere animi temporibus veritatis repellat esse nam quia.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://lorempixel.com/940/400/city/" alt="Alt tag info">
        <div class="carousel-caption">
          <h3>Third Slide Label</h3>
          <p>Debitis, reiciendis, ipsum tempora eaque velit unde enim asperiores cupiditate libero cumque aut alias aperiam consequuntur consectetur dignissimos repudiandae facere. Veritatis, repellat explicabo vitae voluptates nesciunt assumenda dolore saepe ipsam.</p>
        </div>
      </div>
    </div>

    <!- Controls ->
    <a class="left carousel-control" href="#carousel-top" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-top" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>

  -->