

<div id="carousel-top" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-top" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-top" data-slide-to="1"></li>
      <li data-target="#carousel-top" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://lorempixel.com/940/400/nature/" alt="Alt tag info">
        <div class="carousel-caption">
          <h3>First Slide Label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, eaque, officiis, enim officia error perspiciatis quae culpa mollitia cum consectetur impedit deleniti iste dicta dolorum accusantium pariatur doloremque odit architecto.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://lorempixel.com/940/400/transport/" alt="Alt tag info">
        <div class="carousel-caption">
          <h3>Second Slide Label</h3>
          <p>Ea, maiores, provident tempora fugit sapiente placeat asperiores doloribus quasi sunt sit accusamus quia aliquam unde. Dicta, autem, natus, asperiores officia architecto facere animi temporibus veritatis repellat esse nam quia.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://lorempixel.com/940/400/city/" alt="Alt tag info">
        <div class="carousel-caption">
          <h3>Third Slide Label</h3>
          <p>Debitis, reiciendis, ipsum tempora eaque velit unde enim asperiores cupiditate libero cumque aut alias aperiam consequuntur consectetur dignissimos repudiandae facere. Veritatis, repellat explicabo vitae voluptates nesciunt assumenda dolore saepe ipsam.</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-top" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-top" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>