---
layout: admissions
title: Admissions
---

<section class="administrative-home">
    <div class="page-header clearfix">
        <h1>Admissions</h1>
    </div>
    <div class="row">

        <section class="article col-sm-8 pull-left">
            <div class="row">
                <div class="col-all-12 col-xs-4 pull-left space-4">
                    <a href="#">
                        <img alt="Learn about the 3-track system." src="http://www.byui.edu/images/Admin_Offices/Admissions/ThreeTrack_Cell_230x285.jpg" class="center-block">
                    </a>
                </div>
                <div class="col-all-12 col-xs-4 pull-left space-4">
                    <a href="#">
                        <img alt="Ready to Apply to BYU Idaho? Apply Now." src="http://www.byui.edu/images/Admin_Offices/Admissions/ApplyNow_Cell_230x285.jpg" class="center-block">
                    </a>
                </div>
                <div class="col-all-12 col-xs-4 pull-left space-4">
                    <a href="#">
                        <img alt="Check Out Our Youtube Channel." src="http://www.byui.edu/images/Admin_Offices/Admissions/YouTubeAd_Cell_230x285.jpg" class="center-block">
                    </a>
                </div>
            </div>
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example" data-slide-to="1"></li>
                    <li data-target="#carousel-example" data-slide-to="2"></li>
                    <li data-target="#carousel-example" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://www.byui.edu/images/Admin_Offices/Admissions/MissionDeferment_Banner_710x216.jpg" alt="Going on a Mission? Make sure you defer.">
                    </div>
                    <div class="item">
                        <img src="http://www.byui.edu/images/Admin_Offices/Admissions/Deadlines_Banner_710x216.jpg" alt="Application Deadlines">
                    </div>
                    <div class="item">
                        <img src="http://www.byui.edu/images/Admin_Offices/Admissions/CampusTour_Banner_710x216.jpg" alt="Come visit us! Schedule a Campus Tour">
                    </div>
                    <div class="item">
                        <img src="http://www.byui.edu/images/Admin_Offices/Admissions/TuitionCost_Banner_710x216.jpg" alt="Tuition Costs">
                    </div>
                </div>
            </div>

        </section>

        <aside class="right-column col-xs-12 col-sm-4 pull-right">
            <div class="row">
                <div class="col-xs-6 col-sm-12 pull-left">
                    <div class="panel panel-primary">
                        <a href="http://calendar.byui.edu/" class="panel-heading">Upcoming Deadlines</a>
                        <div class="panel-body hidden"></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="event_date">Nov 19</span>
                                <a class="event_details" href="#">Last Day to Withdraw from Full Semester classes and receive a "W" instead of the grade earned</a>
                            </li>
                            <li class="list-group-item">
                                <span class="event_date">Nov 19</span>
                                <a class="event_details" href="#">Last Day to drop Second Block classes without receiving a "W"</a>
                            </li>
                            <li class="list-group-item">
                                <span class="event_date">Dec 1</span>
                                <a class="event_details" href="#">Last Day to Withdraw from Second Block classes and receive a "W" instead of the grade earned</a>
                            </li>
                            <li class="list-group-item">
                                <span class="event_date">Jan 6</span>
                                <a class="event_details" href="#">Winter Semester Begins</a>
                            </li>
                            <li class="list-group-item">
                                <span class="event_date">Feb 1</span>
                                <a class="event_details" href="#">Spring Semester Application Deadline</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-all-12 col-xs-6 col-sm-12 pull-left">
                  {% include contact-info.html %}
                </div>

                <div class="col-xs-6 col-sm-12 pull-left">
                  {% include university-message.html %}
                </div>
            </div>


        </aside>

    </div>
</section>
<link rel="stylesheet" href="/assets/css/admissions.min.css" />
