---
layout: admin
page-type: admin_events
---


<!-- CONTENT SECTION -->
<section id="top_content" class="span-18 last">	
	<!-- PAGE TITLE -->
	<div id="page_title">
		<h2>Social Activities</h2>
	</div>
</section>
<section id="main_content" class="span-18 last">
	
	<!-- COMING EVENTS -->
	<div id="events_bar_horizontal">
		<div class="events_header">
			<h3 class="span-4">HIGHLIGHTED DATES</h3>
			<a id="cal_help" href="http://stream.byui.edu/tutorials/calendar/calendar_intro.swf">
				CALENDAR HELP<img src="/images/interface/icon_calendar_18x18.jpg" alt="calendar icon"/>
			</a>
		</div>
		<div id="window">
			<div id="events_bar_control">
				<span class="prev"></span>
				<span class="next"></span>
			</div>
			<div id="pane">
				<div class="single_event">
					<a class="event_link" href="activities/social/activities---social-halloween-carnival">
						<span class="event_date">
							<span class="cal_day"> 29</span>
							<span class="cal_month">Oct</span>
						</span>
						<h4>Halloween Carnival ... </h4>
						<p>River of Stix, Carnival Games, Spook Alley, Dance</p>
					</a>
				</div>
				<div class="single_event">
					<a class="event_link" href="x10631.xml">
						<span class="event_date">
							<span class="cal_day"> 11</span>
							<span class="cal_month">Nov</span>
						</span>
						<h4 class="event_heading">Classic Movie Night</h4>
						<p class="event_content">Watch old movies for only $1 with I-card (free po... </p>
					</a>
				</div>
				<div class="single_event">
					<a class="event_link" href="activities/social/activities-social---mystery-dinner">
						<span class="event_date">
							<span class="cal_day"> 11</span>
							<span class="cal_month">Nov</span>
						</span>
						<h4 class="event_heading">Mystery Dinner</h4>
						<p class="event_content">A 1950's fiasco where you play the character. Com... </p>
					</a>
				</div>
				<div class="single_event">
					<a class="event_link" href="activities/social/activities-social-jane-austen-yule-ball">
						<span class="event_date">
							<span class="cal_day"> 02</span>
							<span class="cal_month">Dec</span>
						</span>
						<h4 class="event_heading">Jane Austen Yule Ba... </h4>
						<p class="event_content">In connection with the English Society we will be... </p>
					</a>
				</div>
				<div class="single_event">
					<a class="event_link" href="activities/social/activities-social---dance-party">
						<span class="event_date">
							<span class="cal_day"> 09</span>
							<span class="cal_month">Dec</span>
						</span>
						<h4 class="event_heading">Party in the Hart</h4>
						<p class="event_content">In the Hart. $1 w/I-card.</p>
					</a>
				</div>
			</div>
		</div>
		<a href="#" class="to_cal_link">See All Activities On The University Calendar</a>
	</div><!-- end of comming events -->	

	<!-- LIST OF EVENTS -->
	<div id="events_list">
		<table>
			<thead>
				<tr>
					<th>GALLERY</th>
					<th class="heading">THINGS YOU CAN BE DOING</th>
		          	<th>SUMMER</th>
		          	<th>FALL</th>
		          	<th>WINTER</th>
		          	<th>SPRING</th>
		        </tr>
		    </thead>
		</table>
		<div id="e_list">
			<table>
				<thead>
					<tr>
						<th>GALLERY</th>
						<th class="heading">THINGS YOU CAN BE DOING</th>
			          	<th>SUMMER</th>
			          	<th>FALL</th>
			          	<th>WINTER</th>
			          	<th>SPRING</th>
			        </tr>
			    </thead>
			    <tbody>
					<tr class="even">
						<td class="gal_active"><a href="activities/social/activities-social-chess-event-">&#160;</a></td>
						<td class="title"><a href="activities/social/activities-social-chess-event-">Chess Event / Tournament</a></td>
						<td class="summer_active"><a href="activities/social/activities-social-chess-event-">&#160;</a></td>
						<td class="fall_active"><a href="activities/social/activities-social-chess-event-">&#160;</a></td>
						<td class="winter_active"><a href="activities/social/activities-social-chess-event-">&#160;</a></td>
						<td class="spring_active"><a href="activities/social/activities-social-chess-event-">&#160;</a></td>
					</tr>
					<tr>
						<td></td>
						<td class="title"><a href="activities/social/activities-social---igenius">I-Genius</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="even">
						<td></td>
						<td class="title"><a href="activities/social/activities-social---latin-dancing">Latin Dancing</a></td>
						<td></td>
						<td class="fall_active"><a href="activities/social/activities-social---latin-dancing">&#160;</a></td>
						<td class="winter_active"><a href="activities/social/activities-social---latin-dancing">&#160;</a></td>
						<td class="spring_active"><a href="activities/social/activities-social---latin-dancing">&#160;</a></td>
					</tr>
					<tr>
						<td></td>
						<td class="title"><a href="activities/social/activities-social---ballroom-dancing">Ballroom Dancing</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="even">
						<td></td>
						<td class="title"><a href="activities/social/activities-social---swing-dancing">Swing Dancing</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="spring_active"><a href="activities/social/activities-social---swing-dancing">&#160;</a></td>
					</tr>
					<tr>
						<td></td>
						<td class="title"><a href="activities/social/activities-social---country-dancing">Country Dancing</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="even">
						<td></td>
						<td class="title"><a href="activities/social/activities-social---rodeo">Rodeo (Inside Arena at the Fairgrounds)</a></td>
						<td class="summer_active"><a href="activities/social/activities-social---rodeo">&#160;</a></td>
						<td class="fall_active"><a href="activities/social/activities-social---rodeo">&#160;</a></td>
						<td class="winter_active"><a href="activities/social/activities-social---rodeo">&#160;</a></td>
						<td class="spring_active"><a href="activities/social/activities-social---rodeo">&#160;</a></td>
					</tr>
					<tr>
						<td class="gal_active"><a  href="activities/social/activities-social-jane-austen-yule-ball">&#160;</a></td>
						<td class="title"><a href="activities/social/activities-social-jane-austen-yule-ball">Jane Austen Yule Ball</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="even">
						<td></td>
						<td class="title"><a href="activities/social/activities---social-halloween-carnival">Halloween Carnival and Dance</a></td>
						<td></td>
						<td class="fall_active"><a href="activities/social/activities---social-halloween-carnival">&#160;</a></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="title"><a href="activities/social/activities-social---ornament-extravaganza">Ornament Extravaganza</a></td>
						<td></td>
						<td class="fall_active"><a href="activities/social/activities-social---ornament-extravaganza">&#160;</a></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="even">
						<td class="gal_active"><a  href="activities/social/activities-social---remix-dance">&#160;</a></td>
						<td class="title"><a href="activities/social/activities-social---remix-dance">Remix Dance</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="spring_active"><a href="activities/social/activities-social---remix-dance">&#160;</a></td>
					</tr>
					<tr>
						<td></td>
						<td class="title"><a href="activities/social/activites-social---married-student-date-night">Married Student Family Date Night</a></td>
						<td></td>
						<td class="fall_active"><a href="activities/social/activites-social---married-student-date-night">&#160;</a></td>
						<td class="winter_active"><a href="activities/social/activites-social---married-student-date-night">&#160;</a></td>
						<td class="spring_active"><a href="activities/social/activites-social---married-student-date-night">&#160;</a></td>
					</tr>
					<tr class="even">
						<td class="gal_active"><a  href="activities/social/activities-social---game-night">&#160;</a></td>
						<td class="title"><a href="activities/social/activities-social---game-night">Game Night</a></td>
						<td></td>
						<td class="fall_active"><a href="activities/social/activities-social---game-night">&#160;</a></td>
						<td class="winter_active"><a href="activities/social/activities-social---game-night">&#160;</a></td>
						<td class="spring_active"><a href="activities/social/activities-social---game-night">&#160;</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div><!-- end of list of events -->
	<div id="exbanding_bar" onclick="expandEventsList()"></div>
<span class="clearall"></span>
</section>