---
layout: content
page-type: article_archive
---

        <!-- BEGIN TOP_CONTENT  -->           
		<section id="top_content" class="span-18 last">
            <div id="page_title">
                <h2>News Archive<span id="page_title_date">December 9, 2011</span></h2>
            </div><!-- OPTIONAL --> 
        </section><!-- END TOP_CONTENT  -->

        <!-- BEGIN MAIN_CONTENT  -->
        <section id="main_content" class="span-18 last"><!-- IF NO CONTENT IN RIGHT ASIDE, SPAN-18 LAST -->
            <ul class="span-2">
                <li>
                    <a href="newsroom/news-archive?year=2011">
                        <strong class="archive_years">2011 <span>»</span></strong>
                    </a>
                </li>
            </ul>
            
            <div id="archive_list" class="span-15 last">
                <ul>
                    <li><a href="newsroom/12-07-11-fall-commencement--x33251"><span class="archive_date">Dec 09</span><span class="archive_description">Rodents perform tricks at Rat Olympics</span></a></li>
                    <li><a href="newsroom/12-07-11-fall-commencement-"><span class="archive_date">Dec 07</span><span class="archive_description">Elder Quentin L. Cook to speak at Fall Commencement</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/11-22-11-swingin-christmas"><span class="archive_date">Nov 22</span><span class="archive_description">Miami sax player Ed Calle to jazz up the holidays</span></a></li>
                    <li><a href="newsroom/11-18-11-partner-schools"><span class="archive_date">Nov 18</span><span class="archive_description">Student teaching partnerships lead to jobs for students</span></a></li>
                    <li><a href="newsroom/11-11-11-medical-director"><span class="archive_date">Nov 11</span><span class="archive_description">New medical director named at Student Health Center</span></a></li>
                    <li><a href="newsroom/11-08-11-concert"><span class="archive_date">Nov 08</span><span class="archive_description">Broadway’s Brian Stokes Mitchell featured at Christmas concert</span></a></li>
                    <li><a href="newsroom/11-7-11-award"><span class="archive_date">Nov 07</span><span class="archive_description">Faculty member receives educational excellence award</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/10-31-11-bond-pads"><span class="archive_date">Oct 31</span><span class="archive_description">Engineering stronger microchips</span></a></li>
                    <li><a href="newsroom/10-28-11-civil-engineering"><span class="archive_date">Oct 28</span><span class="archive_description">Civil engineering degree now available</span></a></li>
                    <li><a href="newsroom/10-20-11-online-degrees"><span class="archive_date">Oct 20</span><span class="archive_description">Eight academic degrees go online</span></a></li>
                    <li><a href="newsroom/10-20-11-imani"><span class="archive_date">Oct 20</span><span class="archive_description">Grammy-nominated Imani Winds to perform at BYU-Idaho</span></a></li>
                    <li><a href="newsroom/10-13-11-soybeans"><span class="archive_date">Oct 13</span><span class="archive_description">Idaho’s newest crop</span></a></li>
                    <li><a href="newsroom/10-13-11-acrobats"><span class="archive_date">Oct 13</span><span class="archive_description">Golden Dragon Acrobats to perform at BYU-Idaho</span></a></li>
                    <li><a href="newsroom/10-05-11-hymn-festival"><span class="archive_date">Oct 05</span><span class="archive_description">Calling all hymn texts</span></a></li>
                    <li><a href="newsroom/10-05-11-jacobs"><span class="archive_date">Oct 05</span><span class="archive_description">Grammy-award winner Paul Jacobs gives concert</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/09-27-11-david-osmond"><span class="archive_date">Sep 27</span><span class="archive_description">David Osmond takes center stage</span></a></li>
                    <li><a href="newsroom/09-22-11-guru-awards"><span class="archive_date">Sep 22</span><span class="archive_description">Students awarded at prestigious Photoshop conference</span></a></li>
                    <li><a href="newsroom/09-21-11-fall-enrollment"><span class="archive_date">Sep 21</span><span class="archive_description">Fall semester sees largest enrollment to date</span></a></li>
                    <li><a href="newsroom/09-16-11-parkinson"><span class="archive_date">Sep 16</span><span class="archive_description">Pianist Del Parkinson to perform “My Favorite Liszt” program</span></a></li>
                    <li><a href="newsroom/09-16-11-ryan-shupe"><span class="archive_date">Sep 16</span><span class="archive_description">Ryan Shupe &amp; the RubberBand return to Rexburg</span></a></li>
                    <li><a href="newsroom/09-07-11-bible-celebration"><span class="archive_date">Sep 07</span><span class="archive_description">Celebration to commemorate the 400th anniversary of the King James Bible</span></a></li>
                    <li><a href="newsroom/09-06-11-chinese-orchestra"><span class="archive_date">Sep 06</span><span class="archive_description">Chinese Opera Orchestra makes a visit to Rexburg</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/08-29-11-center-stage"><span class="archive_date">Aug 29</span><span class="archive_description">Center Stage announces fall performing arts lineup</span></a></li>
                    <li><a href="newsroom/08-01-11-theater-camp"><span class="archive_date">Aug 01</span><span class="archive_description">High school kids go to camp — theater style</span></a></li>
                    </ul>
                    <ul>
                    <li><a href="newsroom/07-14-11-spring-commencement"><span class="archive_date">Jul 14</span><span class="archive_description">Paul K. Sybrowsky speaks at Spring Commencement</span></a></li>
                    <li><a href="newsroom/07-29-11-new-degree"><span class="archive_date">Jul 29</span><span class="archive_description">New Marriage and Family Studies degree offered in fall</span></a></li>
                    <li><a href="newsroom/07-08-11-education-week"><span class="archive_date">Jul 08</span><span class="archive_description">BYU-Idaho hosts annual Education Week</span></a></li>
                    <li><a href="newsroom/07-08-11-jazz-festival"><span class="archive_date">Jul 08</span><span class="archive_description">Trombonist Conrad Herwig headlines jazz festival</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/06-23-11-patriots-and-pioneers"><span class="archive_date">Jun 23</span><span class="archive_description">George Dyer to be featured at “Patriots and Pioneers” tribute</span></a></li>
                    <li><a href="newsroom/06-22-11-legacy-society"><span class="archive_date">Jun 22</span><span class="archive_description">LDS Philanthropies expresses gratitude through new society</span></a></li>
                    <li><a href="newsroom/06-21-11-taylor-quad"><span class="archive_date">Jun 21</span><span class="archive_description">Central campus gets a facelift</span></a></li>
                    <li><a href="newsroom/06-20-11-king-james-bible"><span class="archive_date">Jun 20</span><span class="archive_description">First-edition King James Bible on display</span></a></li>
                    <li><a href="newsroom/06-15-11-whitney-summit"><span class="archive_date">Jun 15</span><span class="archive_description">Professionals speak at Newel K. Whitney Summit</span></a></li>
                    <li><a href="newsroom/06-10-11-borealis"><span class="archive_date">Jun 10</span><span class="archive_description">Borealis String Quartet performs at BYU-Idaho</span></a></li>
                    <li><a href="newsroom/06-09-11-nkba-awards"><span class="archive_date">Jun 09</span><span class="archive_description">Interior design program awarded “Excellence in Education” by NKBA</span></a></li>
                    <li><a href="newsroom/06-09-11-stanford-olsen"><span class="archive_date">Jun 09</span><span class="archive_description">Stanford Olsen takes part in visiting professor program</span></a></li>
                    <li><a href="newsroom/06-06-11-nik-day"><span class="archive_date">Jun 02</span><span class="archive_description">Singer Nik Day and comedian Stephen Jones team up for show</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/05-24-11-rat-olympics"><span class="archive_date">May 24</span><span class="archive_description">Psychology Department hosts annual Rat Olympics</span></a></li>
                    <li><a href="newsroom/05-23-11-pathway"><span class="archive_date">May 23</span><span class="archive_description">New program takes the “distance” out of distance learning</span></a></li>
                    <li><a href="newsroom/05-05-11-spring-enrollment"><span class="archive_date">May 05</span><span class="archive_description">Spring enrollment statistics released</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/04-22-11-aaf"><span class="archive_date">Apr 22</span><span class="archive_description">Advertising team takes on jcpenney, makes history</span></a></li>
                    <li><a href="newsroom/04-18-11-1964"><span class="archive_date">Apr 18</span><span class="archive_description">1964 rocks the stage at BYU-Idaho</span></a></li>
                    <li><a href="newsroom/04-14-11-central-quad"><span class="archive_date">Apr 14</span><span class="archive_description">Construction begins on outdoor amphitheater</span></a></li>
                    <li><a href="newsroom/04-11-11-concurrent-enrollment"><span class="archive_date">Apr 11</span><span class="archive_description">Students get an early start on college</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/03-29-11-choir"><span class="archive_date">Mar 29</span><span class="archive_description">Students to sing for millions</span></a></li>
                    <li><a href="newsroom/03-18-11-math-conference"><span class="archive_date">Mar 18</span><span class="archive_description">Department of Math sponsors high school conference</span></a></li>
                    <li><a href="newsroom/03-18-11-auto-service-night"><span class="archive_date">Mar 18</span><span class="archive_description">BYU-Idaho hosts free vehicle-inspection night</span></a></li>
                    <li><a href="newsroom/03-14-11-wapi"><span class="archive_date">Mar 14</span><span class="archive_description">Faculty members guide Peruvians to safe waters</span></a></li>
                    <li><a href="newsroom/03-09-11-auto-competition"><span class="archive_date">Mar 09</span><span class="archive_description">BYU-Idaho to host regional automotive competition</span></a></li>
                    <li><a href="newsroom/03-07-11-kbyi-moves-to-943-fm"><span class="archive_date">Mar 07</span><span class="archive_description">KBYI moves to 94.3 FM, enhances programming</span></a></li>
                    <li><a href="newsroom/03-04-11-home-and-family-conference"><span class="archive_date">Mar 04</span><span class="archive_description">University features families and flowers at upcoming events</span></a></li>
                    <li><a href="newsroom/03-04-11-alfie-boe"><span class="archive_date">Mar 04</span><span class="archive_description">Tony Award-winning singer, Alfie Boe, to perform at BYU-Idaho</span></a></li>
                    <li><a href="newsroom/03-01-11-dodgeball-world-record"><span class="archive_date">Mar 01</span><span class="archive_description">Students attempt dodgeball world record</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/02-23-11-childrens-theatre-"><span class="archive_date">Feb 23</span><span class="archive_description">Children’s theatre to present original play for regional schools</span></a></li>
                    <li><a href="newsroom/02-23-11-rockets-and-physics"><span class="archive_date">Feb 23</span><span class="archive_description">Rockets rise from BYU-Idaho</span></a></li>
                    <li><a href="newsroom/02-18-11-poetry-contest"><span class="archive_date">Feb 18</span><span class="archive_description">Faculty member crowned Idaho Senior Poet Laureate</span></a></li>
                    <li><a href="newsroom/02-17-11-brothers-sing-on"><span class="archive_date">Feb 17</span><span class="archive_description">Men's choirs from BYU and BYU-Idaho sing together in Rexburg</span></a></li>
                    <li><a href="newsroom/02-09-11-rawmoves-dance-company"><span class="archive_date">Feb 09</span><span class="archive_description">RawMoves dance company to perform at BYU-Idaho</span></a></li>
                    <li><a href="newsroom/02-04-11-interior-design-competitions"><span class="archive_date">Feb 04</span><span class="archive_description">Five students win top awards in national design competitions</span></a></li>
                    <li><a href="newsroom/02-03-11-4troops-performance"><span class="archive_date">Feb 03</span><span class="archive_description">U.S. combat veterans, 4TROOPS, to perform at BYU-Idaho</span></a></li>
                    <li><a href="newsroom/02-01-11-tuition-increase"><span class="archive_date">Feb 01</span><span class="archive_description">Tuition increases planned for 2011-2012</span></a></li>
                </ul>
                <ul>
                    <li><a href="newsroom/01-24-11-new-building-open-house"><span class="archive_date">Jan 24</span><span class="archive_description">University hosts open house for new university buildings</span></a></li>
                    <li><a href="newsroom/01-21-11-vocal-point"><span class="archive_date">Jan 21</span><span class="archive_description">A Cappella group, Vocal Point, to perform at BYU-Idaho</span></a></li>
                </ul>
            </div>
        </section><!-- END TOP_CONTENT  -->
        <span class="clearall"></span>
		
   