---
layout: article
page-type: article
---


        <section id="top_content" class="span-18 last">
		<!-- PAGE TITLE -->
			<div id="page_title">
				<h2>Elder Quentin L. Cook</h2>
      			<h4 class="sub_title">to speak at Fall Commencement</h4>
			</div>
        </section>

        <section id="main_content" class="span-12 type">
			<div class="article_content">
				<span id="article_date">December 07, 2011</span>
				<span id="article_author"><em>Writer: Andy Cargal</em></span>

				<!-- BODY-COPY AREA -->	
				<p>Elder Quentin L. Cook, a member of the Quorum of the Twelve Apostles for The Church of Jesus Christ of Latter-day Saints, will address 1,533 graduates (a 5.36 percent increase over last fall) at Brigham Young University-Idaho's Fall Commencement on Dec. 16. The event will be held at 5:45 p.m. in the BYU-Idaho Center. </p>
				<p>Elder Quentin L. Cook was sustained as a member of the Quorum of the Twelve Apostles on Oct. 6, 2007, and had previously served as a General Authority since April 1996. Elder Cook has worked professionally as vice chairman of Sutter Health System, CEO of a California healthcare system, a business lawyer, and managing partner of a San Francisco Bay Area law firm. He has also been a board member of several for-profit and not-for-profit corporations.</p>
				<p>Elder Cook is a native of Logan, Utah, received a bachelor's degree in political science from Utah State University, and a doctor of jurisprudence from Stanford University.</p>
				<p>For more information about commencement, visit www.byui.edu/graduation. </p>
          		<!-- END OF BODY-COPY AREA -->
          		
          		<p>
					<a href="x32132.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">Graduation Fall 2011</a>
					<br>
					<a href="http://saas.byu.edu/registrar/graduation/">Commencment</a>
					<br>
					<a href="x9276.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">Graduates</a>
				</p>
				<div id="facebook_like">
					<iframe src="http://www.facebook.com/plugins/like.php?href=http://beta.byui.edu/newsroom/10-20-11-online-degrees&amp;layout=standard&amp;show_faces=true&amp;width=200&amp;action=like&amp;font&amp;colorscheme=light&amp;height=30" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:24px; margin-top:10px" allowTransparency="true"></iframe>
				</div>
			</div>			
        </section><!-- IF NO CONTENT IN RIGHT ASIDE, SPAN-18 LAST -->

        <aside id="right_aside" class="span-6 last">
            <div class="page_highlight">
				<h4>STORY HIGHLIGHTS</h4>
				<p class="abstract">BYU-Idaho will soon offer eight more of its academic degrees online. Students can begin enrolling in most online degree programs as soon as Winter 2012.</p>
			</div>
			<div id="social_media">
				<span class="share">Share</span>
				<div class="right addthis_toolbox addthis_default_style last">
					<a class="right addthis_counter addthis_bubble_style"></a>
					<a class="right addthis_button_compact"></a>
					<a class="right addthis_button_preferred_6"></a>
					<a class="right addthis_button_preferred_5"></a>
					<a class="right addthis_button_preferred_4"></a>
					<a class="right addthis_button_preferred_3"></a>
					<a class="right addthis_button_preferred_2"></a>
					<a class="right addthis_button_preferred_1"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ea5df5476bcd098"></script>
				<!-- AddThis Button END -->
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ea5de5e28180583"></script>
				<!-- AddThis Button END -->
			</div>
			<div class="page_highlight">
				<h4>RECENT NEWS</h4>
				<ul>
					<li><span class="date">November 08</span>
						<a href="newsroom/11-08-11-concert">Broadway’s Brian Stokes Mitchell featured at Christmas concert</a></li>
					<li><span class="date">November 07</span>
						<a href="newsroom/11-7-11-award">Faculty member receives educational excellence award</a></li>
					<li><span class="date">October 31</span>
						<a href="newsroom/10-31-11-bond-pads">Engineering stronger microchips</a></li>
					<li><span class="date">October 28</span>
						<a href="newsroom/10-28-11-civil-engineering">Civil engineering degree now available</a></li>
					<li><span class="date">October 20</span>
						<a href="newsroom/10-20-11-online-degrees">Eight academic degrees go online</a></li>
					<li><span class="date">October 20</span>
						<a href="newsroom/10-20-11-imani">Grammy-nominated Imani Winds to perform at BYU-Idaho</a></li>
					<li><span class="date">October 13</span>
						<a href="newsroom/10-13-11-soybeans">Idaho’s newest crop</a></li>
					<li><span class="date">October 13</span>
						<a href="newsroom/10-13-11-acrobats">Golden Dragon Acrobats to perform at BYU-Idaho</a></li>
				</ul>
			</div>
		</aside>
		<!-- *****  END CONTENT AREA  ***** -->
        <span class="clearall"></span>
		
