---
layout: admin
page-type: news_index
---


<section class="span-18 last" id="top_content">
    <div id="page_title">
        <h2>Newsroom<span id="page_title_date">August 14, 2013</span></h2>
    </div>
</section>

<section class="type span-12" id="main_content">
    <div class="article_abstract">
        <a class="span-4" href="newsroom/08-01-13-inl-collaboration"><img alt=
        "" src="/images/placeholders/newsroom/INL(thumb).jpg" width="120"></a>

        <p class="article_date">August 1</p>

        <div class="article_title">
            <a href="newsroom/08-01-13-inl-collaboration">BYU-Idaho physics
            students benefit from collaborative relationship with INL</a>
        </div>

        <p class="article_summary">Physics students are gaining valuable
        experience through a partnership with INL.</p><a class="readMore_link"
        href="newsroom/08-01-13-inl-collaboration">READ MORE &gt;&gt;</a>
    </div>

    <div class="article_abstract">
        <a class="span-4" href=
        "newsroom/07-23-13-nashville-tribute-band"><img alt="" src=
        "/images/placeholders/newsroom/Nashville(thumb).jpg" width="120"></a>

        <p class="article_date">July 23</p>

        <div class="article_title">
            <a href="newsroom/07-23-13-nashville-tribute-band">Nashville
            Tribute Band coming to BYU-Idaho as part of Education Week</a>
        </div>

        <p class="article_summary">The Nashville Tribute Band will perform
        August 2 at BYU-Idaho.</p><a class="readMore_link" href=
        "newsroom/07-23-13-nashville-tribute-band">READ MORE &gt;&gt;</a>
    </div>

    <div class="article_abstract">
        <a class="span-4" href=
        "newsroom/07-03-13-spring-2013-commencement"><img alt="" src=
        "/images/placeholders/newsroom/ElderGay(thumb).jpg" width="120"></a>

        <p class="article_date">July 3</p>

        <div class="article_title">
            <a href="newsroom/07-03-13-spring-2013-commencement">Member of the
            First Quorum of the Seventy to speak at spring commencement</a>
        </div>

        <p class="article_summary">Elder Robert C. Gay of the Seventy will
        address graduates at spring commencement.</p><a class="readMore_link"
        href="newsroom/07-03-13-spring-2013-commencement">READ MORE
        &gt;&gt;</a>
    </div>

    <div class="article_abstract">
        <a class="span-4" href="newsroom/06-24-13-patriots-pioneers"><img alt=
        "" src="/images/placeholders/newsroom/Patriots(thumb).jpg" width=
        "120"></a>

        <p class="article_date">June 24</p>

        <div class="article_title">
            <a href="newsroom/06-24-13-patriots-pioneers">Actor Edward Herrmann
            to be featured in BYU-Idaho "Patriots and Pioneers" tribute</a>
        </div>

        <p class="article_summary">The Tony and Emmy award-winning actor will
        be the featured artist at the musical tribute.</p><a class=
        "readMore_link" href="newsroom/06-24-13-patriots-pioneers">READ MORE
        &gt;&gt;</a>
    </div>

    <div class="article_abstract">
        <a class="span-4" href="newsroom/06-12-13-envision-madison"><img alt=""
        src="/images/placeholders/newsroom/madison(thumb).jpg" width="120"></a>

        <p class="article_date">June 12</p>

        <div class="article_title">
            <a href="newsroom/06-12-13-envision-madison">BYU-Idaho community
            invited to participate in Envision Madison</a>
        </div>

        <p class="article_summary">Madison County residents, including the
        BYU-Idaho community, are invited to take part.</p><a class=
        "readMore_link" href="newsroom/06-12-13-envision-madison">READ MORE
        &gt;&gt;</a>
    </div>

    <div id="pagination_link">
        <a class="active" href="x10260.xml?page=1">1</a> <a href=
        "x10260.xml?page=2">2</a> <a href="x10260.xml?page=3">3</a> <a href=
        "x10260.xml?page=2">&gt;</a>
    </div>
</section>

<aside class="span-6 last" id="right_aside">
    <div class="page_highlight">
        <h4 class="title">BYU-Idaho Publications</h4>

        <div class="highlight_item">
            <a href="http://www.byui.edu/upward/spring-2013"><img alt="Upward"
            src=
            "/images/placeholders/newsroom/060208taylor-sunset_9569_igxthumbnail.jpg"></a>

            <h3 class="article_date">Spring 2013</h3><a class="item_title"
            href="http://www.byui.edu/upward/spring-2013" target=
            "_blank">Upward</a>
        </div>
    </div>

    <div class="page_highlight">
        <h4 class="title">BYU-Idaho Publications</h4>

        <div class="highlight_item">
            <a href=
            "http://issuu.com/newsnotes/docs/july2013n_n_new_"><img alt="News and Notes"
            src=
            "/images/placeholders/newsroom/July2013NN.jpg"></a>

            <h3 class="article_date">July 2013</h3><a class="item_title" href=
            "http://issuu.com/newsnotes/docs/july2013n_n_new_" target=
            "_blank">News and Notes</a>
        </div>
    </div>

    <div id="social_network_links">
        <a href=
        "http://www.facebook.com/pages/BYU-Idaho/140492225964954"><img alt=
        "BYU-I on Facebook" src=
        "/images/facebook-32x32.png"></a> <a href=
        "http://www.youtube.com/user/byui"><img alt="BYU-I on YouTube" src=
        "/images/youtube-32x32.png"></a> <a href=
        "newsroom/rss"><img alt="RSS BYU-I News Article" src=
        "/images/rss-32x32.png"></a> <a href=
        "http://twitter.com/#!/byuid"><img alt="twitter BYU-I" src=
        "/images/twitter-32x32.png"></a>

        <p>Stay CONNECTED to BYU-Idaho</p>
    </div>

    <div class="append-bottom" id="fb_feed">
        <img alt="ss" class="fb_top_bar" src=
        "/images/facebook_header.jpg">

        <div class="scrollbar fff">
            <div class="fbcontent"></div>
        </div>
    </div>
</aside>