---
layout: default
page-type: GeneralAudiencePage
---


<aside class="span-8" id="left_aside">
    <div id="login">
        <span id="login_title">Login</span><span id="login_my"><a href=
        "https://web.byui.edu/services/login?RedirectURL=https://my.byui.edu"
        title="Login to MyBYU-I">MY.BYUI <span class=
        "smaller">&gt;&gt;</span></a></span><span id=
        "login_mail"><a href="https://owa.byui.edu/" title=
        "Login to BYU-I Email">EMAIL <span class=
        "smaller">&gt;&gt;</span></a></span><span id=
        "login_ilearn"><a href="http://www.byui.edu/ilearn" title=
        "Login to I-Learn">I-LEARN <span class=
        "smaller">&gt;&gt;</span></a></span>
    </div>

    <div class="link_box">
        <div class="box_header" id="howbyu-idahoisdifferent_link">
            How BYU-Idaho is Different
        </div>

        <div class="link_area" id="howbyu-idahoisdifferent_body">
            <ul>
                <li>
                    <a href="http://www.byui.edu/StudentHonor/">Honor
                    Code</a>
                </li>

                <li>
                    <a href=
                    "http://www.byui.edu/admissions/students/threetrack/default.shtml">
                    Track System</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href=
                    "http://www.byui.edu/PR/General/BYUIHistory.htm">History
                    of Ricks</a>
                </li>

                <li>
                    <a href=
                    "http://www.byui.edu/StudentHonor/trueatalltimes.htm">
                    True At All Times</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="link_box">
        <div class="box_header" id="academics_link">
            Academics
        </div>

        <div class="link_area" id="academics_body">
            <ul>
                <li>
                    <a href=
                    "http://beta.byui.edu/directories/colleges-and-departments">
                    Programs</a>
                </li>

                <li>
                    <a href=
                    "http://www.byui.edu/admissions/">Admissions</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href=
                    "http://igx.byui.edu/advising/FAQs/FAQs_about_Foundations.html">
                    Foundations Program</a>
                </li>

                <li>
                    <a href=
                    "http://igx.byui.edu/advising/Career_And_Academic_Advising.html">
                    Academic Advising</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="link_box">
        <div class="box_header" id="applytobyu-idaho_link">
            Apply to BYU-Idaho
        </div>

        <div class="link_area" id="applytobyu-idaho_body">
            <ul>
                <li>
                    <a href="http://www2.byui.edu/Admissions/" target=
                    "_blank">Admissions</a>
                </li>

                <li>
                    <a href="http://besmart.com/" target="_blank">Be
                    Smart</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href=
                    "http://www2.byui.edu/Admissions/costs/totalcosts.shtml"
                    target="_blank">Costs</a>
                </li>

                <li>
                    <a href="http://www.byui.edu/financial-aid" target=
                    "_blank">Financial Aid/Scholarships</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="link_box">
        <div class="box_header" id="studentlife_link">
            Student Life
        </div>

        <div class="link_area" id="studentlife_body">
            <ul>
                <li>
                    <a href=
                    "http://www.byui.edu/StudentEmployment/">Employment</a>
                </li>

                <li>
                    <a href="http://www.byui.edu/housing/">Housing</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href=
                    "financial-services/purchasing-and-disbursements/enterprise-carshare">
                    WeCar</a>
                </li>

                <li>
                    <a href=
                    "http://beta.byui.edu/activities">Activities</a>
                </li>

                <li>
                    <a href="http://www2.byui.edu/StudentHonor/">Honor
                    Code</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="link_box">
        <div class="box_header" id="newlyadmittedstudents_link">
            Newly Admitted Students
        </div>

        <div class="link_area" id="newlyadmittedstudents_body">
            <ul>
                <li>
                    <a href="https://my.byui.edu/ICS/" target=
                    "_blank">Newly Admitted Students Page</a>
                </li>

                <li>
                    <a href="student-support/parents">Parents</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="student-support/visit-days">Visit Days</a>
                </li>

                <li>
                    <a href=
                    "student-support/student-checklists">Student
                    Checklists</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="link_box">
        <div class="box_header" id="campusservices_link">
            Campus Services
        </div>

        <div class="link_area" id="campusservices_body">
            <ul>
                <li>
                    <a href=
                    "http://www.byui.edu/parkingservices/">Parking
                    Permits</a>
                </li>

                <li>
                    <a href=
                    "http://www.byui.edu/healthcenter/insurance.htm">Health
                    Center</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href=
                    "http://www.byui.edu/foodservices/onlinepurchasing/diningdollars/diningdollars.htm">
                    Meal Plans</a>
                </li>

                <li>
                    <a href="http://www.byui.edu/visitcampus/">Visiting
                    Campus</a>
                </li>
            </ul>
        </div>
    </div>
</aside>

<section id="content_region">
    <section class="span-16 last" id="main_content">
        <div class="message_block span-8" id="university_message">
            <div class="message_block_top_nav">
                <div class="message_title_block">
                    University Message
                </div>
            </div>

            <div class="message_block_content" style="">
                <a href=
                "http://www.byui.edu/admissions/current-students/deferments-time-off/lds-missionary-deferment">
                <img alt="" src=
                "/images/placeholders/message1.jpg"></a>
            </div>
        </div>

        <div class="message_block span-8 last" id=
        "calendar_highlights">
            <div class="message_block_top_nav">
                <a class="message_image_nav_block" href=""></a>

                <div class="message_title_block">
                    Calendar Highlights
                </div>
            </div>

            <div class="message_block_content">
                <div id="solo_event">
                    <div class="event_content" id="1">
                        <a href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J7ZWNNKH16JzitzkzvEZoGtES%2bW7mxD9SgJns9SPf6PeDDrE3c7lvzU">
                        Devotional</a>

                        <div class="expandable fff">
                            <p>8/20/2013</p>

                            <p>Taylor 190 Taylor Chapel</p>

                            <p>2:10 PM to 3:00 PM - Taylor 190 Taylor
                            Chapel: B. J. Rowe Religious Education
                            Faculty, BYU-Idaho</p>
                        </div>
                    </div>

                    <div class="event_content" id="2">
                        <a href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J5ob3g2ON%2b7DuJJM4Deqf%2bbKqy%2fWXCEJQoLs%2bnl%2fwEl5aAvGNxZ3pFA">
                        Employees Monthly Q&amp;A with President's
                        Executive Group</a>

                        <div class="expandable fff">
                            <p>8/23/2013</p>

                            <p>Manwaring Center 387 Special Events</p>

                            <p>12:00 PM to 1:00 PM - Manwaring Center
                            387 Special Events</p>
                        </div>
                    </div>

                    <div class="event_content" id="3">
                        <a href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J7ZWNNKH16JzitzkzvEZoGt9SbsqZuO5Qhj5YUFFJlmzAokGNOtRqZQ">
                        Devotional</a>

                        <div class="expandable fff">
                            <p>8/27/2013</p>

                            <p>Taylor 190 Taylor Chapel</p>

                            <p>2:10 PM to 3:00 PM - Taylor 190 Taylor
                            Chapel: Kent Davis Biology Faculty,
                            BYU-Idaho</p>
                        </div>
                    </div>

                    <div class="event_content" id="4">
                        <a href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J4dbFIz7iDXuIYi7GvygOKLon%2fZQDwRhKs4dJZTQ%2fclZzqu81oIiSEp">
                        Webcast with President Kim B. Clark</a>

                        <div class="expandable fff">
                            <p>8/29/2013</p>

                            <p>BYU-Idaho Center Auditorium</p>

                            <p>7:00 PM to 8:00 PM - BYU-Idaho Center
                            Auditorium: In his webcast, 'A Faithful and
                            Wise Steward: Preparing for a Successful
                            BYU-Idaho Experience,' President Kim B.
                            Clark will be sharing information about new
                            BYU-Idaho students, Alumni and Pathway.
                            Keep up-to-date with what is happening and
                            the vision of BYU-Idaho.</p>
                        </div>
                    </div>

                    <div class="event_content" id="5">
                        <a href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J7ZWNNKH16JzitzkzvEZoGtZ79DrhPDtt8rBZl7L0WSDhGw869mmMr9">
                        Devotional</a>

                        <div class="expandable fff">
                            <p>9/3/2013</p>

                            <p>Taylor 190 Taylor Chapel</p>

                            <p>2:10 PM to 3:00 PM - Taylor 190 Taylor
                            Chapel: Kari Archibald Health, Recreation,
                            and Human Performance Faculty,
                            BYU-Idaho</p>
                        </div>
                    </div>

                    <div class="event_content" id="6">
                        <a href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J79Lyfo3W1lzZ%2bRBqfi4CbqAI8CwmU9T988Z%2bhPZR4CQdfmqNQ24oT1">
                        CES Devotional</a>

                        <div class="expandable fff">
                            <p>9/8/2013</p>

                            <p>BYU-Idaho Center Auditorium</p>

                            <p>6:00 PM to 7:00 PM - BYU-Idaho Center
                            Auditorium: Elder Russell M. Nelson of the
                            Quorum of the Twelve Apostles will speak at
                            a CES Devotional for young adults ages 18
                            through 30, both married and single. Visit
                            CES Devotionals for more information.</p>
                        </div>
                    </div>

                    <div class="event_content" id="7">
                        <a href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J6AhscdoBfczFCe2aL5qN7RfnR%2bcfj05qRq8HR6Ih0er2c8sKPhyDOj">
                        Fall Employee Banquet</a>

                        <div class="expandable fff">
                            <p>9/10/2013</p>

                            <p>Manwaring Center 220 Grand Ballroom</p>

                            <p>5:30 PM to 7:00 PM - Manwaring Center
                            220 Grand Ballroom</p>
                        </div>
                    </div>

                    <div class="event_content" id="8">
                        <a href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J7B5%2b7tAsXOBolXcv2o7XjmcUx3FeZbDUFsZZtozA71HXiYisiG%2b1ir">
                        Faculty Conference</a>

                        <div class="expandable fff">
                            <p>9/11/2013</p>

                            <p>Hinckley 240 Hinckley Chapel</p>

                            <p>9:00 AM to 10:00 AM - Hinckley 240
                            Hinckley Chapel</p>
                        </div>
                    </div>

                    <div class="event_content" id="9">
                        <a href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J5ob3g2ON%2b7DuJJM4Deqf%2bbw4cs3jJvjI%2fpEzFj4S%2bOGuNY9tuMovQK">
                        Employees Monthly Q&amp;A with President's
                        Executive Group</a>

                        <div class="expandable fff">
                            <p>9/13/2013</p>

                            <p>Manwaring Center 387 Special Events</p>

                            <p>12:00 PM to 1:00 PM - Manwaring Center
                            387 Special Events</p>
                        </div>
                    </div>
                </div>

                <div id="event_list">
                    <ul class="fff events">
                        <li>
                            <a href="#1">Devotional</a>
                        </li>

                        <li>
                            <a href="#2">Employees Monthly Q&amp;A with
                            President's Executive Group</a>
                        </li>

                        <li>
                            <a href="#3">Devotional</a>
                        </li>

                        <li>
                            <a href="#4">Webcast with President Kim B.
                            Clark</a>
                        </li>

                        <li>
                            <a href="#5">Devotional</a>
                        </li>

                        <li>
                            <a href="#6">CES Devotional</a>
                        </li>

                        <li>
                            <a href="#7">Fall Employee Banquet</a>
                        </li>

                        <li>
                            <a href="#8">Faculty Conference</a>
                        </li>

                        <li>
                            <a href="#9">Employees Monthly Q&amp;A with
                            President's Executive Group</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="message_block span-8" id="campus_messaging">
            <div class="message_block_top_nav">
                <div class="message_title_block">
                    Campus Messaging
                </div>
            </div>

            <div class="message_block_content" id=
            "campus_messaging_body">
                <div id="cycle_gallery">
                    <div id="cycle_nav"></div>

                    <div id="cycle_control">
                        <div class="span-2 last right" id="cycle_next">
                        </div>

                        <div class="span-2" id="cycle_prev"></div>
                    </div>

                    <div class="fade" id="cycle">
                        <a href="https://my.byui.edu/ICS/"><img alt=
                        "New Student page" src=
                        "/images/placeholders/message2.jpg"><img alt="New Student Orientation"
                        src=
                        "/images/placeholders/message2.jpg"></a>
                        <a href="https://my.byui.edu/ICS/"><img alt=
                        "New Student page" src=
                        "/images/placeholders/message3.jpg"><img alt="New Student Orientation"
                        src=
                        "/images/placeholders/message3.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="message_block_short span-8 last" id="news">
            <div class="message_block_top_nav">
                <a class="message_image_nav_block" href=
                "x10260.xml"></a>

                <div class="message_title_block">
                    newsroom
                </div>
            </div>

            <div class="message_block_content">
                <img alt=
                "BYU-Idaho physics students benefit from collaborative relationship with INL"
                id="news_block_img" src=
                "/images/placeholders/newsroom/INL(thumb).jpg">

                <div id="news_block_content">
                    <a href="newsroom/08-01-13-inl-collaboration" id=
                    "news_title">BYU-Idaho physics students benefit
                    from collaborative relationship with
                    INL</a><a href="newsroom/08-01-13-inl-collaboration"
                    id="news_read_more">Read More</a>
                </div><span class="clearall"></span>
            </div>
        </div>

        <div class="message_block_short span-8 last" id="events">
            <div class="message_block_top_nav">
                <a class="message_image_nav_block" href=
                "http://calendar.byui.edu/"></a>

                <div class="message_title_block">
                    Events
                </div>
            </div>

            <div class="message_block_content">
                <ul class="fff">
                    <li>
                        <span class="event_date">Aug 20</span><a class=
                        "event_details" href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J7ZWNNKH16JzitzkzvEZoGtES%2bW7mxD9SgJns9SPf6PeDDrE3c7lvzU">Devotional</a>
                    </li>

                    <li>
                        <span class="event_date">Aug 23</span><a class=
                        "event_details" href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J5ob3g2ON%2b7DuJJM4Deqf%2bbKqy%2fWXCEJQoLs%2bnl%2fwEl5aAvGNxZ3pFA">Employees
                        Monthly Q&amp;A with President's Executive
                        Group</a>
                    </li>

                    <li>
                        <span class="event_date">Aug 27</span><a class=
                        "event_details" href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J7ZWNNKH16JzitzkzvEZoGt9SbsqZuO5Qhj5YUFFJlmzAokGNOtRqZQ">Devotional</a>
                    </li>

                    <li>
                        <span class="event_date">Aug 29</span><a class=
                        "event_details" href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J4dbFIz7iDXuIYi7GvygOKLon%2fZQDwRhKs4dJZTQ%2fclZzqu81oIiSEp">Webcast
                        with President Kim B. Clark</a>
                    </li>

                    <li>
                        <span class="event_date">Sep 03</span><a class=
                        "event_details" href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J7ZWNNKH16JzitzkzvEZoGtZ79DrhPDtt8rBZl7L0WSDhGw869mmMr9">Devotional</a>
                    </li>

                    <li>
                        <span class="event_date">Sep 08</span><a class=
                        "event_details" href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J79Lyfo3W1lzZ%2bRBqfi4CbqAI8CwmU9T988Z%2bhPZR4CQdfmqNQ24oT1">CES
                        Devotional</a>
                    </li>

                    <li>
                        <span class="event_date">Sep 10</span><a class=
                        "event_details" href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J6AhscdoBfczFCe2aL5qN7RfnR%2bcfj05qRq8HR6Ih0er2c8sKPhyDOj">Fall
                        Employee Banquet</a>
                    </li>

                    <li>
                        <span class="event_date">Sep 11</span><a class=
                        "event_details" href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J7B5%2b7tAsXOBolXcv2o7XjmcUx3FeZbDUFsZZtozA71HXiYisiG%2b1ir">Faculty
                        Conference</a>
                    </li>

                    <li>
                        <span class="event_date">Sep 13</span><a class=
                        "event_details" href=
                        "http://calendar.byui.edu/EventDetails.aspx?data=hHr80o3M7J5ob3g2ON%2b7DuJJM4Deqf%2bbw4cs3jJvjI%2fpEzFj4S%2bOGuNY9tuMovQK">Employees
                        Monthly Q&amp;A with President's Executive
                        Group</a>
                    </li>
                </ul>
            </div>
        </div>
    </section><span class="clearall"></span>
</section><span class="clearall"></span>

<!-- PAGE-SPECIFIC SCRIPTS -->
<script src="/js/libs/jquery.cycle.all.js"></script>
<script src="/js/libs/jquery.expander.js"></script>
<script src="/js/libs/jquery.color.js"></script>
<script src="/js/libs/jquery.scroll.min.js"></script>
<script src="/js/mylibs/audience.js"></script>


