---
layout: default
page-type: Home
---

<section id="main_content">

    <div id="cycle_gallery"> 
        
        <div id="cycle1" class="fade"><!-- You can set the type of transition you want by giving id 'cycle' a class name of a valid transition (default is fade).  blindX, blindY,  blindZ, cover, curtainX, curtainY, fade, fadeZoom, growX, growY, scrollUp, scrollDown, scrollLeft, scrollRight, scrollHorz, scrollVert, shuffle, slideX, slideY, toss, turnUp, turnDown, turnLeft, turnRight, uncover, wipe, zoom -->
            
            <div id="frame1" class="image_rotator">
                <a href="#"><img class="home_image" src="/images/byui_home/test_bkg1.jpg" width="950" width="348" alt="image alt text"></a>
            </div>
            
            <div id="frame2" class="image_rotator">
                <a href="#"><img class="home_image" src="/images/byui_home/homepage_image2.jpg" width="950" height="348" alt="image alt text"></a>
            </div>
            
            <div id="frame3" class="image_rotator">
                <a href="#"><img class="home_image" src="/images/byui_home/homepage_image3.jpg" width="950" height="348" alt="image alt text"></a>
            </div>
        </div>
        <div id="top_overlay">
            <div id="pillar_one_pulldown"><a href="">Innovative Teaching &amp; Learning</a></div>
            <div id="pillar_two_pulldown"><a href="">Lifelong Spirituality &amp; Leadership</a></div>
            <div id="shadow"></div>
            <div id="pillar_center_message"><div id="piller_center_shadow_box"></div></div>
        </div>
        <div id="cycle_control" >
            <div id="cycle_prev" class="left_image" alt="left arrow"></div>
            <div id="cycle_next" class="right_image" alt="right arrow"></div>
        </div>
        

    </div><!-- end of cycle gallery --> 
        
</section>


<section id="bottom_region">
    
    <div class="span-8">
        <div id="photo_album" class="message_block">
            <div class="message_block_top_nav">
                <a href="http://www.byui.edu/photo-galleries" class="message_title_block">Photo Galleries</a>                    </div>
            <div class="message_block_content">
                <a href="http://www.byui.edu/photo-galleries"><img src="/images/byui_home/univ_message_photo.png" alt="ss"></a>
            </div>
        </div>
    </div>

    <div class="span-8">
        <div class="message_block">
            <div  id="university_message" class="message_block_top_nav">
                <div><a href="#" class="message_title_block">University Message</a></div>
            </div>
            <div class="message_block_content">
                <a href="#"><img src="/images/byui_home/univ_message_photo2.png" alt="ss"></a>
            </div>
        </div>
    </div>
    <div class="span-8 last">
        <div id="news" class="message_block_short">
            <div class="message_block_top_nav">
                <div><a href="http://www.byui.edu/newsroom" class="message_title_block">Newsroom</a></div>
            </div>
            <div class="message_block_content">
            <!-- One news item will be chosen at random from a pool of the top newsroom article. data can be pulled from the article xml itself -->
                <a href="#"><img id="news_block_img" alt="news img" src="/images/placeholders/newsroom/INL(thumb).jpg"></a>
                <div id="news_block_content">
                    <a id="news_title" href="#readmore">BYU-Idaho physics students benefit from collaborative relationship with INL</a>
                    <a id="news_read_more" href="#readmore">Read More</a>
                </div>
                <span class="clearall"></span>
            </div>
        </div>

        <div id="events" class="message_block_short">
            <div class="message_block_top_nav">
                <div><a href="http://calendar.byui.edu/" class="message_title_block">Events</a></div>
            </div>
            <div class="message_block_content">
                <ul class="fff">
                    <li><span class="event_date">Jan&nbsp;05</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J6YEDinMMLRyu9GSp4U9Qt7nnCYUIzjPeyiUmEwSrPu3Q%3d%3d">First Year Forum</a></li>
                    <li><span class="event_date">Jan&nbsp;06</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J6Pba6yZtCkIpHPxP%2blTZQlWkPZHLONoDJoPhCpN5l5Sg%3d%3d">President's Q&amp;A</a></li>
                    <li><span class="event_date">Jan&nbsp;08</span><a href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J4aXfKWMFsNJMZRr4TsD%2buv7yKLUhvlj3jT2Rj6bNYjEw%3d%3d">Dance Party in the Hart</a></li>
                    <li><span class="event_date">Jan&nbsp;10</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J4PCtUWhiMfzwML9XvmllBjPQ%2bCfPYy6OqBWvNnmdSW4w%3d%3d">Devotional</a></li>
                    <li><span class="event_date">Jan&nbsp;14</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J6%2b0bTAGyY9gsqoYAOwDyLWLq2OK99%2fbueiMvsFr8sh7Q%3d%3d">Center Stage - Patrick McManus Comedy</a></li>
                    <li><span class="event_date">Jan&nbsp;15</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J6%2b0bTAGyY9gsqoYAOwDyLWg8y6Hiryfj5qKiwj%2bFOtlg%3d%3d">Center Stage - Patrick McManus Comedy</a></li>
                    <li><span class="event_date">Jan&nbsp;15</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J6KR437IiKNPcBAATnxl%2fsmZ5U1q7ntPEA%2fQUnk%2fyr2NA%3d%3d">Idaho Falls Youth Symphony</a></li>
                    <li><span class="event_date">Jan&nbsp;17</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J4PCtUWhiMfzwML9XvmllBjYYEGJYJ0cysHk4aE9%2bFvTw%3d%3d">Devotional</a></li>
                    <li><span class="event_date">Jan&nbsp;21</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J7Tb%2f7yfwcYhNBBNQG4uD2nAeT5uTuQZK2qyTgAAMa%2bbA%3d%3d">Talent Show</a></li>
                    <li><span class="event_date">Jan&nbsp;24</span><a class="event_details"  href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J4PCtUWhiMfzwML9XvmllBj7xuLRtjb2%2fe3LpaIeSW%2bTA%3d%3d">Devotional</a></li>
                    <li><span class="event_date">Jan&nbsp;26</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J5L%2fbODWmovoh03TaSexHNvhVaSSuPYpivFMoASoUsCxA%3d%3d">College of Business and Communication Summit Forum</a></li>
                    <li><span class="event_date">Jan&nbsp;27</span><a class="event_details" href="http://calendar.byui.edu//EventDetails.aspx?data=hHr80o3M7J5AHKXvCXwjjpJbgZBXtbJXlHpQuImZ1F03KpyT42xgQQ%3d%3d">Middle School Honor Band</a></li>
                </ul>
            </div>
        </div> 
    </div>   
</section>

<!-- *****  END CONTENT AREA  ***** -->
<span class="clearall"></span>

<!-- Page-Specific Scripts -->
<script src="/js/libs/jquery.scroll.min.js"></script>
<script src="/js/libs/jquery.cycle.all.js"></script>
<script src="/js/mylibs/home.js"></script>
