---
layout: content
page-type: Content
---


<!-- BEGIN TOP_CONTENT  -->           
<section id="top_content" class="span-18 last">
    <div id="page_title"><h2>THIS IS THE PAGE TITLE</h2></div><!-- OPTIONAL --> 
</section><!-- END TOP_CONTENT  -->

<!-- BEGIN MAIN_CONTENT  -->
<section id="main_content" class="span-12 type"><!-- IF NO CONTENT IN RIGHT ASIDE, SPAN-18 LAST -->
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>

    <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
</section><!-- END TOP_CONTENT  -->

<!-- BEGIN RIGHT_ASIDE  -->
<aside id="right_aside" class="type span-6 last">
    <img alt="fpo image" src="/images/placeholders/message3.jpg" class="span-6 last append-bottom" >
    <img alt="fpo image" src="/images/placeholders/message2.jpg" class="span-6 last append-bottom" >
</aside><!-- END RIGHT_ASIDE  -->

<!-- BEGIN QUICK_LINKS  -->
<div class="quick_links span-18 last">
    <div class="quick_link_column span-6" style="height: 168px; ">
    <h4>General</h4>
    <ul>
        <li><a href="">Sign Up for On-Campus Housing</a></li>
        <li><a href="https://web.byui.edu/housingasp" target="_blank">View/Edit On-Campus Contract</a></li>
        <li><a href="">Approved Housing for Single Students at BYU-Idaho</a></li>
        <li><a href="">University Village</a></li>
        <li><a href="">Information, Support &amp; Services Index</a></li>
    </ul>
</div>
<div class="quick_link_column span-6" style="height: 168px; ">
    <h4>Approved Housing</h4>
    <ul>
        <li><a href="http://web.byui.edu/tis/search" target="_blank">Search now for Approved Housing</a></li>
        <li><a href="">Learn More About Approved Housing</a></li>
        <li><a href="">Who can live in Approved Housing?</a></li>
        <li><a href="">Apartment Living Standards</a></li>
    </ul>
</div>
<div class="quick_link_column span-6 last" style="height: 168px; ">
    <h4>Academics</h4>
    <ul>
        <li><a href="http://www.apple.com" target="_blank">Apple</a></li>
        <li><a href="http://www.lds.org" target="_blank">Church Site</a></li>
        <li><a href="http://www.mormon.org" target="_blank">I'm A Mormon Site</a></li>
    </ul>
</div>
<!-- END QUICK_LINKS  -->
<span class="clearall"></span>
