---
layout: content
page-type: Employee_List
---

<!-- BEGIN RIGHT CONTENT AREA -->
<section id="main_content" class="type span-18 last">
	
	<h2 class="dept_title">
		Faculty &amp; Staff: <span class="department_page_name">Department of Business Management</span>
	</h2>
	
	<!-- START EMPLOYEE OBJECT -->
	<section class="employee_object">
	
	
		<div class="span-4">
			<a href="business-management/faculty/chris-andrews"><img class="emp_image" src="http://web.byui.edu/Directory/Employee/andrewsc.jpg"></a>
		</div>
		
		
		
		<section class="span-14 last">
			<div class="emp_name_dept">
				<span class="emp_name">
					<a href="business-management/faculty/chris-andrews">Chris&nbsp;Andrews</a>
				</span>
				: &nbsp;
				<span class="dept_office_name">Faculty</span>
			</div>
			<p class="clearall"></p>

			<div class="gray_box span-4">
				<p class="info_title">Office</p>
				<p class="info_value">SMI 308</p>
			</div>
			<div class="gray_box span-4">
				<p class="info_title">Email</p>
				<address class="info_value"><a href="mailto:andrewsc@byui.edu">andrewsc@byui.edu</a></address>
			</div>
			<div class="gray_box span-4 last">
				<p class="info_title">Phone</p>
				<address class="info_value">208-496-3623</address>
			</div>

			<div class="emp_bottom_links span-18 last">
				<a href="http://web.byui.edu/Directory/Employee/andrewsc@byui.edu"><img src="/images/schedule.png">Schedule</a>
			</div>
		</section>
		<p class="clearall"></p>
	</section>
	<!-- END EMPLOYEE OBJECT -->				<!-- START EMPLOYEE OBJECT -->
	<section class="employee_object">
	
	
		<div class="span-4">
			<a href="business-management/faculty/chris-andrews"><img class="emp_image" src="http://web.byui.edu/Directory/Employee/andrewsc.jpg"></a>
		</div>
		
		
		
		<section class="span-14 last">
			<div class="emp_name_dept">
				<span class="emp_name">
					<a href="business-management/faculty/chris-andrews">Chris&nbsp;Andrews</a>
				</span>
				: &nbsp;
				<span class="dept_office_name">Faculty</span>
			</div>
			<p class="clearall"></p>

			<div class="gray_box span-4">
				<p class="info_title">Office</p>
				<p class="info_value">SMI 308</p>
			</div>
			<div class="gray_box span-4">
				<p class="info_title">Email</p>
				<address class="info_value"><a href="mailto:andrewsc@byui.edu">andrewsc@byui.edu</a></address>
			</div>
			<div class="gray_box span-4 last">
				<p class="info_title">Phone</p>
				<address class="info_value">208-496-3623</address>
			</div>

			<div class="emp_bottom_links span-18 last">
				<a href="http://web.byui.edu/Directory/Employee/andrewsc@byui.edu"><img src="/images/schedule.png">Schedule</a>
			</div>
		</section>
		<p class="clearall"></p>
	</section>
	<!-- END EMPLOYEE OBJECT -->				<!-- START EMPLOYEE OBJECT -->
	<section class="employee_object">
	
	
		<div class="span-4">
			<a href="business-management/faculty/chris-andrews"><img class="emp_image" src="http://web.byui.edu/Directory/Employee/andrewsc.jpg"></a>
		</div>
		
		
		
		<section class="span-14 last">
			<div class="emp_name_dept">
				<span class="emp_name">
					<a href="business-management/faculty/chris-andrews">Chris&nbsp;Andrews</a>
				</span>
				: &nbsp;
				<span class="dept_office_name">Faculty</span>
			</div>
			<p class="clearall"></p>

			<div class="gray_box span-4">
				<p class="info_title">Office</p>
				<p class="info_value">SMI 308</p>
			</div>
			<div class="gray_box span-4">
				<p class="info_title">Email</p>
				<address class="info_value"><a href="mailto:andrewsc@byui.edu">andrewsc@byui.edu</a></address>
			</div>
			<div class="gray_box span-4 last">
				<p class="info_title">Phone</p>
				<address class="info_value">208-496-3623</address>
			</div>

			<div class="emp_bottom_links span-18 last">
				<a href="http://web.byui.edu/Directory/Employee/andrewsc@byui.edu"><img src="/images/schedule.png">Schedule</a>
			</div>
		</section>
		<p class="clearall"></p>
	</section>
	<!-- END EMPLOYEE OBJECT -->				<!-- START EMPLOYEE OBJECT -->
	<section class="employee_object">
	
	
		<div class="span-4">
			<a href="business-management/faculty/chris-andrews"><img class="emp_image" src="http://web.byui.edu/Directory/Employee/andrewsc.jpg"></a>
		</div>
		
		
		
		<section class="span-14 last">
			<div class="emp_name_dept">
				<span class="emp_name">
					<a href="business-management/faculty/chris-andrews">Chris&nbsp;Andrews</a>
				</span>
				: &nbsp;
				<span class="dept_office_name">Faculty</span>
			</div>
			<p class="clearall"></p>

			<div class="gray_box span-4">
				<p class="info_title">Office</p>
				<p class="info_value">SMI 308</p>
			</div>
			<div class="gray_box span-4">
				<p class="info_title">Email</p>
				<address class="info_value"><a href="mailto:andrewsc@byui.edu">andrewsc@byui.edu</a></address>
			</div>
			<div class="gray_box span-4 last">
				<p class="info_title">Phone</p>
				<address class="info_value">208-496-3623</address>
			</div>

			<div class="emp_bottom_links span-18 last">
				<a href="http://web.byui.edu/Directory/Employee/andrewsc@byui.edu"><img src="/images/schedule.png">Schedule</a>
			</div>
		</section>
		<p class="clearall"></p>
	</section>
	<!-- END EMPLOYEE OBJECT -->				<!-- START EMPLOYEE OBJECT -->
	<section class="employee_object">
	
	
		<div class="span-4">
			<a href="business-management/faculty/chris-andrews"><img class="emp_image" src="http://web.byui.edu/Directory/Employee/andrewsc.jpg"></a>
		</div>
		
		
		
		<section class="span-14 last">
			<div class="emp_name_dept">
				<span class="emp_name">
					<a href="business-management/faculty/chris-andrews">Chris&nbsp;Andrews</a>
				</span>
				: &nbsp;
				<span class="dept_office_name">Faculty</span>
			</div>
			<p class="clearall"></p>

			<div class="gray_box span-4">
				<p class="info_title">Office</p>
				<p class="info_value">SMI 308</p>
			</div>
			<div class="gray_box span-4">
				<p class="info_title">Email</p>
				<address class="info_value"><a href="mailto:andrewsc@byui.edu">andrewsc@byui.edu</a></address>
			</div>
			<div class="gray_box span-4 last">
				<p class="info_title">Phone</p>
				<address class="info_value">208-496-3623</address>
			</div>

			<div class="emp_bottom_links span-18 last">
				<a href="http://web.byui.edu/Directory/Employee/andrewsc@byui.edu"><img src="/images/schedule.png">Schedule</a>
			</div>
		</section>
		<p class="clearall"></p>
	</section>
	<!-- END EMPLOYEE OBJECT -->
</section>
<!-- END RIGHT CONTENT AREA -->


<!-- *****  END CONTENT AREA  ***** -->