---
layout: default
page-type: EmployeeInfo
---

		<!-- BEGIN BREADCRUMBS AREA -->

		<nav id="breadcrumbs" class="span-24">
			<a href="">BYU-Idaho Home &gt; </a>
			<a href="activities">Activities &gt; </a>
			<a href="activities/resources">Resources &gt; </a>
			<a href="activities/resources/exercise-facilities-and-play-fields">Exercise Facilities and Play Fields &gt; </a>
			<a href="activities/resources/exercise-facilities-and-play-fields/hart-building">Hart Building &gt; </a>
			<a href="activities/resources/exercise-facilities-and-play-fields/hart-building/swim-suit-policy">Swim Suit Policy</a>
		</nav>

		<!-- END BREADCRUMBS AREA -->
		
		<!-- *****  BEGIN CONTENT AREA  ***** -->


		<!-- BEGIN LOCAL NAVIGATION AREA -->
		<nav id="local_nav" class="span-6">
			<section class="left_upper">
				<span class="emp_name">Edwin Sexton</span>
				<img class="emp_image" src="http://web.byui.edu/Directory/Employee/sextone.jpg">
				<span class="emp_dept_office">Department Chair and Professor of All Sorts of Super-Cool Things</span>
				<h6 class="info_object">Office</h6><span>208A Smith</span>
				<h6 class="info_object">Zip</h6><span>83460-0815</span>
				<h6 class="info_object">Phone</h6><span>208-496-3808</span>
				<h6 class="info_object">E-Mail</h6><span><a href="mailto:sextone@byui.edu">sextone@byui.edu</a></span>
				<h6 class="info_object">Homepage</h6><span><a href="homepage_address">Edwin Sexton's Homepage for the Masses to View</a></span>
			</section>
			<hr>
			<section class="left_lower">
				<span class="icon_container">
					<a href="http://web.byui.edu/Directory/Employee/sextone">
						<img class="left_icon" src="/images/schedule.png" />See Schedule
					</a>
				</span>
				<span class="icon_container">
					<a href="../"><img class="left_icon" src="/images/back_arrow.png">Back to Employee List</a>
				</span>
			</section>	
		</nav> 
		<!-- END LOCAL NAVIGATION AREA -->


		<!-- BEGIN RIGHT CONTENT AREA -->
		<section id="content_region" class="span-18 last">
			<section id="main_content" class="type span-18 last">
				<h2>Education</h2>
				<section class="section_content">
					<ul>
						<li>Ph.D., Economics, 1988, University of Illinois</li>
						<li>M.S., Economics, 1985, University of Illinois</li>
						<li>B.A., Economics, 1982, Brigham Young University</li>
					</ul>
				</section>
				<h2>Areas of Interest</h2>
				<section class="section_content">
					<span>Labor Economics</span>
					<span>Econometrics and Statistics</span>
				</section>
				<h2>Peer-reviewed Publications</h2>
				<section class="section_content">
					<p>&nbsp;"Using The Major Field Test - Business as an Assessment Tool and Impetus for Program Improvement:&nbsp; Fifteen Years of Experience at Virginia Military Institute," February 2008, Journal of College Teaching and Learning, Volume 5, Number 2 (with H. Francis Bush, Floyd H. Duncan and Clifford T. West.)</p>
					
					<p>"International Support For U.S. Foreign Policy:&nbsp; The Role Of Foreign Aid, Trade Integration And Social Development", June 2004, International Business and Economics Research Journal (with Atin Basu and Tinni Sen)&nbsp; This paper also appeared in the refereed proceedings of the International Applied Business Research Conference in March 2004.</p>
					
					<p>"Gender Differences in the Returns to and the Acquisition of On-The-Job Training" In Women in the Labor Market (part of the Series The International Library of Critical Writings in Economics), edited by Marianne A. Ferber; London, Edward Elgar Press, 1998 (with Reed Neil Olsen)</p>
					
					<p>"Gender Differences in the Returns to and the Acquisition of On-the-Job Training:&nbsp; 1976-1985", January 1996, Industrial Relations (with Reed Neil Olsen)</p>
					
					<p>"Returns to On-the-Job Training:&nbsp; Are They the Same for Blacks and Whites" Volume 61, No. 2, October 1994, Southern Economic Journal (with Reed Neil Olsen)&nbsp;</p>
					
					<p>"Computer-Aided Instruction in the Learning of the Principles of Economics," Social Science Computer Review, Volume 12, No. 3, Fall 1994, (with Michael Reclam)</p>
					
					<p>"Managerial Perceptions of Labor-Management Cooperation"&nbsp; Industrial Relations, Vol. 33, No. 3, July 1994, (with Martin M. Perline).</p>
					
					<p>"The Effect of Education on Self-Employment Success," Journal of Business Venturing, Vol. 9, No. 2, March 1994, (with Peter B. Robinson).</p>
					
					<p>"The Public Rate of Return on Investments in U.S. Higher Education" The Journal of Social, Political and Economic Studies Vol. 18, No. 4, Winter 1993 (with Jay R. Highfill)</p>
					
					<p>"U.S. Foreign Aid:&nbsp; Is it for Friends, Development, or Politics?"&nbsp; Journal of Social, Political, and Economic Studies, Volume 17, Numbers 3 &amp; 4, Fall/Winter 1992, (with Terence N. Decker)</p>
					
					<p>"The Impact of Tax Exemptions on Economic Development:&nbsp; The Case of Wichita and Sedgwick County"&nbsp; Business and Economic Report, Volume XXII, No. 1, Spring, (1992), (with C. H. Forrest).</p>
					
					<p>&nbsp;"The Effects of School Location on the Earnings of Black and White Youths"&nbsp; Economics of Education Review, Volume 11, Number 1, (1992) (with Janet F. Nickel).</p>
					
					<p>"Residential Location, Workplace Location, and Black Earnings"&nbsp; The Review of Regional Studies&nbsp; Volume 21, Number 1, (Spring 1991).</p>
					
					<p>"Succeeding at Self-Employment:&nbsp; Is There a Geographical Component?" Frontiers of Entrepreneurship Research, 1990, (with Peter B. Robinson).</p>
					
					<p>"The Economic and Demographic Determinants of Self-Employment" Frontiers of Entrepreneurship Research, 1989, (with Peter B. Robinson).</p>
				</section>	
			</section>
		</section>
		<!-- END RIGHT CONTENT AREA -->


		<!-- *****  END CONTENT AREA  ***** -->
		
		<span class="clearall"></span>
