---
layout: content
page-type: event
---

<section id="top_content">
<!-- PAGE TITLE -->
	<div id="page_title" class="span-18 last">
		<h2>Acoustic Cafe</h2>
	</div>
</section>
<span class="clearall"></span>

<section id="main_content" class="span-18 type last">
<!-- BODY-COPY AREA -->
	<!-- <img class="right span-6" src="placehold.it/270x450" alt="FPO image" /> -->
	<img class="right span-6" src="/images/placeholders/message1.jpg" alt="FPO image">
	<p>
		Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; 
	</p>
	<p>
		Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; Come and enjoy an evening of Acoustic Guitar by our very own BYU-Idaho students. 8 p.m. in the Crossroads.&#160; Free!&#160;&#160; 
	</p>
						
	<p>
		<span>  Like BYU-Idaho Talent Activities on Facebook!</span>
		<iframe frameborder="0" scrolling="no" src="http://www.facebook.com/plugins/like.php? app_id=124396454327538&amp;href=www.facebook.com %2Fbyuitalent&amp;send=false&amp;layout=button_count&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height =20" style="border: none; overflow: hidden; height: 20px; width:100px; position:relative;top:5px;left:5px;"></iframe>
	</p>
	<!-- END OF BODY-COPY AREA -->	
		
	<div id="event_available" class="span-18 last">
		<span>GALLERY</span>
		<span>SUMMER</span>
		<span>FALL</span>
		<span>WINTER</span>
		<span>SPRING</span>
		<div class="clearall"></div>
		<ul><!-- Events below will all have text representing their availability for ADA purposes -->
			<!-- If an event is not available, the active id will be removed, and the word "not"  --> 
			<!-- will be added to the availability description -->
			<li id="galleryActive" >This event has a gallery</li>
			<!-- <li id="summerActive" ></li> -->
			<li >This event is not available during the Summer term</li>
			<li id="fallActive" >This event is available during the Fall term</li>
			<li id="winterActive" >This event is available during the Winter term</li>
			<li id="springActive" >This event is available during the Spring term</li>
		</ul>
	</div>
	<div class="clearall"></div>

	<!-- SECOND BODY-COPY AREA -->
		<p id="event_date">September 30</p>
		<p>Auditions are Thurs. Sept. 22.&nbsp; Sign up for a time in M.C. 101.&nbsp;</p>
		<!-- END OF SECOND BODY-COPY AREA -->
</section><!-- IF NO CONTENT IN RIGHT ASIDE, SPAN-18 LAST -->

