---
layout: content
page-type: PolicyPage
---


<!-- BEGIN TOP_CONTENT  -->           
<section id="top_content" class="span-18 last">
<!-- PAGE TITLE -->
   <div id="page_title"><h2>Policies</h2></div><!-- OPTIONAL --> 
</section><!-- END TOP_CONTENT  -->

<!-- BEGIN MAIN_CONTENT  -->
<section id="main_content" class="type span-18 last"><!-- IF NO CONTENT IN RIGHT ASIDE, SPAN-18 LAST -->

   <div class="article_abstract">
      <div class="article_title"><a href="x32789.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">Deferring Financial Aid</a></div>
      <p class="article_summary">Students who intend on deferring a semester(s) for LDS Mission, Medical/Health, or Continuing Education Student reasons, need to consider the following regarding financial aid awards: </p>
      <a class="readMore_link" href="x32789.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">FULL POLICY &gt;&gt;</a>
   </div>
   <div class="article_abstract">
      <div class="article_title"><a href="x32784.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">Federal Aid Priority Deadline</a></div>
      <p class="article_summary">This deadline applies to all FAFSA applicants who want their Federal Aid awards released by the tuition payment deadline (typically 1 week after the start of term). Student's must complete and submit all applications, documents, and forms required to process their FAFSA. This includes any verification documents. All requirements need to be completed by the student by this date. </p>
      <a class="readMore_link" href="x32784.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">FULL POLICY &gt;&gt;</a>
   </div>
   <div class="article_abstract">
      <div class="article_title"><a href="x32759.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">Financial Aid Determination Date</a></div>
      <p class="article_summary">Schools who disburse Federal Aid are required to evaluate students once a semester to confirm that their federal aid was disbursed correctly. This date is referred to as the Financial Aid Determination Date (FADD). </p>
      <a class="readMore_link" href="x32759.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">FULL POLICY &gt;&gt;</a>
   </div>
   <div class="article_abstract">
      <div class="article_title"><a href="x32790.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">Petitions</a></div>
      <p class="article_summary">Petitions and requests for the the adjustment of financial aid awards need to be conducted under the recommendation and consultation of a student's Financial Aid Advisor. Students may contact their Financial Aid Advisor with any questions or concerns regarding the procedures of these requests. </p>
      <a class="readMore_link" href="x32784.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">FULL POLICY &gt;&gt;</a>
   </div>
   <div class="article_abstract">
      <div class="article_title"><a href="x32792.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">Tution and Test Fee Waivers</a></div>
      <p class="article_summary">Test fee waivers and reduction programs that BYU-Idaho students are able to participate in. </p>
      <a class="readMore_link" href="x32784.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">FULL POLICY &gt;&gt;</a>
   </div>
   <div id="pagination_link">
      <a class="active" href="x10260.xml?page=1"> 1 </a>
      <a href="x10260.xml?page=2"> 2 </a>
      <a href="x10260.xml?page=3"> 3 </a>
      <a class="next_prev_page" href="x10260.xml?page=2"> NEXT &gt;</a>
    </div>

</section>