---
layout: content
page-type: PolicyPage
---


<!-- BEGIN TOP_CONTENT  -->           
<section id="top_content" class="span-18 last">
    <div id="page_title"><h2>Federal Aid Priority Deadline</h2></div><!-- OPTIONAL --> 
</section><!-- END TOP_CONTENT  -->

<!-- BEGIN MAIN_CONTENT  -->
<section id="main_content" class="span-18 last type"><!-- IF NO CONTENT IN RIGHT ASIDE, SPAN-18 LAST -->

    <span id="article_date">December 07, 2011</span>

    <style><!--
        p { font-family:Arial; font-size:12px; margin-bottom:8px; }
        strong { display:inline; }
        p strong { display:inline; }
        h2 { font-size:1.25em; margin-top:12px; margin-bottom:5px; }
        h3 { font-size:14px; margin-top: 10px; margin-bottom: 2px; display: inline; font-weight:bold; }
        ul { margin: 5px 0 0 40px; font-family:Arial; font-size:12px; list-style-type: square; font-weight: normal; font-variant: normal; text-transform: none; text-decoration: none; text-indent: 0; list-style-position: outside; }
        li { font-family:Arial; font-size:12px; margin-bottom:4px; }
        span { display:inline; } -->
    </style>

    <div style="float: right; background-color: black; color: white; margin: 5px; padding: 10px;">
        <h6 style="font-weight: bold;">Federal Aid Priority Deadline</h6>
        <p style="margin: 5px 0 3px 0;"><span style="font-family: Arial;">2011 Fall - </span><span style="font-family: Arial; color: #b4f014; font-weight: bold; font-size: 14px;">July 12, 2011</span></p>
        <p style="margin: 0 0 3px 0;"><span style="font-family: Arial;">2012 Winter - </span><span style="font-family: Arial; color: #b4f014; font-weight: bold; font-size: 14px;">Nov. 4, 2011</span></p>
    </div>
    <p>This deadline applies to all FAFSA applicants who want their Federal Aid awards released by the tuition payment deadline (typically 1 week after the start of term). Student's must complete and submit all applications, documents, and forms required to process their FAFSA. This includes any verification documents. All requirements need to be completed by the student by this date.</p>
    <a href="https://my.byui.edu/ICS/Finances/Financial_Aid.jnz?portlet=Financial_Aid_Document_Tracking">
        <img alt="Financial Aid Document Tracking" src="http://ingeniux.byui.edu/beta/xml/Images/Admin_Offices/Financial%20Aid/tracking_box_link.png" style="float: left; margin: 15px 10px 5px 0;" title="Link to Financial Aid Document Tracking" width="300" />
    </a>
    <br />
    <p>Students will not know if they need to complete and submit documents for <strong>verification</strong> (mandatory audit performed on 1/3 of submitted FAFSA's) until after their FAFSA has been correctly completed and received by the school. Student's can still receive federal aid (if they are eligible) after the deadline, however there is no guarantee that their aid will be available by the tuition payment date. Student's might become subject to late fee's.</p>
    <p>Student's are encouraged to visit their <a href="https://my.byui.edu/ICS/Finances/Financial_Aid.jnz?portlet=Financial_Aid_Document_Tracking" style="font-family: Arial; font-weight: bold;">Financial Aid Document Tracking</a> page to determine if they are required to submit and complete documents for verification.</p>
    <h4>Correctly complete and submit documents</h4>
    <p>It is important that students complete and submit their documents and forms (such as verification documents) correctly the first time. Any corrections or re-submissions of documentation also need to be completed and submitted by this deadline.</p>
    <h4>Federal Aid awarded on academic year basis</h4>
    <p>Federal Aid is awarded on an academic year basis. Once a student has been awarded federal aid, he/she does not need to reapply for it for any subsequent semesters during that academic year. For ex: The 2011-2012 Academic Year spans from August 2011 to July 2012. A student who submits a FAFSA and receives a federal aid award package for Fall 2011 will also have an award package for the remaining semesters of the academic year.</p>
    <h4>Priority deadline for Federal Aid only</h4>
    <p>This deadline does not apply to University Aid or Outside Aid awards. Applying and processing for Federal Aid after the deadline does not affect a student's eligibility. It only affects the timing of when Federal Aid awards (if the student is eligible) will be released. To re-clarify, applying for Federal Aid after the deadline does not prevent a student from receiving their federal awards (if the student is eligible).</p>
    <br />
</section><!-- END MAIN_CONTENT  -->


<span class="clearall"></span>
