---
layout: default
page-type: search
---

<div id="top_search_field">
    <form action="search" id="gs" method="get" name="gs">
        <input id="search_box_top_input" name="q" size="32" type="text"
        value="awesome">&nbsp;<input id="search_box_top_submit" name=
        "btnG" type="submit" value="Search">

        <div id="advanced_search_box">
            &nbsp;&nbsp;<a href=
            "search?access=p&amp;entqr=0&amp;entsp=a&amp;output=xml_no_dtd&amp;sort=date%3AD%3AL%3Ad1&amp;ie=UTF-8&amp;client=beta_frontend&amp;q=awesome&amp;ud=1&amp;site=default_collection&amp;y=-27&amp;oe=UTF-8&amp;proxystylesheet=beta_frontend&amp;ip=65.129.103.244&amp;x=-1043&amp;proxyreload=0&amp;proxycustom=%3CADVANCED/%3E">BYU-Idaho
            Advanced Search</a><br>
            &nbsp;&nbsp;<a href="/user_help.html">Search Tips</a><br>
        </div><input name="entqr" type="hidden" value="0"> <input name=
        "entsp" type="hidden" value="a"> <input name="output" type=
        "hidden" value="xml_no_dtd"> <input name="sort" type="hidden"
        value="date:D:L:d1"> <input name="client" type="hidden" value=
        "beta_frontend"> <input name="ud" type="hidden" value="1">
        <input name="y" type="hidden" value="-27"> <input name="oe"
        type="hidden" value="UTF-8"><input name="ie" type="hidden"
        value="UTF-8"> <input name="proxystylesheet" type="hidden"
        value="beta_frontend"> <input name="x" type="hidden" value=
        "-1043"> <input name="proxyreload" type="hidden" value="0">
        <input name="site" type="hidden" value="default_collection">
    </form>
</div>

<div id="search-container"></div>

<div id="result_bar">
    <div id="results_meta">
        Results <strong>1</strong> - <strong>10</strong> of about
        <strong>50</strong> for <strong>awesome</strong>. Search took
        <strong>0.21</strong> seconds.
    </div>
</div>
<hr class="z">

<div id="search-container">
    <div class="result" id="sorting_pagination" style=
    "text-align: left">
        <div id="result_pages" style="text-align: center">
            <div class="left"></div>&nbsp;<a href=
            "search?access=p&amp;entqr=0&amp;entsp=a&amp;output=xml_no_dtd&amp;sort=date%3AD%3AL%3Ad1&amp;ie=UTF-8&amp;client=beta_frontend&amp;q=awesome&amp;ud=1&amp;site=default_collection&amp;y=-27&amp;oe=UTF-8&amp;proxystylesheet=beta_frontend&amp;ip=65.129.103.244&amp;x=-1043&amp;proxyreload=0&amp;start=10">Next
            &gt;</a>
        </div>

        <div class="floatLeft">
            <a href=
            "search?access=p&amp;entqr=0&amp;entsp=a&amp;output=xml_no_dtd&amp;ie=UTF-8&amp;client=beta_frontend&amp;q=awesome&amp;ud=1&amp;site=default_collection&amp;y=-27&amp;oe=UTF-8&amp;proxystylesheet=beta_frontend&amp;ip=65.129.103.244&amp;x=-1043&amp;proxyreload=0&amp;sort=date%3AD%3AS%3Ad1">
            Sort by date</a> / Sort by relevance
        </div>
        <p>
    </div><!--tro2-->

    <div class="keymatch_div">
        <p></p>

        <table border="0" cellpadding="10" cellspacing="0" id=
        "keymatch_info" style="float: left;" width="100%">
            <tr>
                <td class="keymatch_icon"><img src=
                "http://www.byui.edu/prebuilt/search/images/thumbs-up.png"><br>

                <br></td>

                <td height="40" nowrap="0" style=
                "background-color: #FFFFFF">
                    <a class="keymatch_word" href=
                    "http://qcwalker.com/">Quinn Walker</a><br>
                    <a href="http://qcwalker.com/"><span class=
                    "a">http://qcwalker.com/</span></a>
                </td>

                <td align="right" class="best-match" height="40" style=
                "background-color: #FFFFFF" valign="top"><strong>Best
                Match</strong><br>
                <br></td>
            </tr>
        </table>
        <p><!-- end keymatch div -->

        <h2><strong></strong><a href=
        "http://www.byui.edu/badger-creek/programs-and-camps/adventure-for-youth-afy/program-details/testimonials">Testimonials</a></h2>

        <p class="g"><strong>...</strong> Every activity was really,
        really good! It was an <strong>awesome</strong> week full of
        fun, the<br>
        spirit, challenge, adventure and new friends.
        <strong>...</strong> That was <strong>awesome</strong>!
        <strong>...</strong><br>
        <a href=
        "http://www.byui.edu/badger-creek/programs-and-camps/adventure-for-youth-afy/program-details/testimonials">
        www.byui.edu/badger-creek/programs-and-camps/adventure-for-youth-afy/program-details/testimonials
        - 25k</a></p>

        <h2><strong></strong><a href=
        "http://www.byui.edu/badger-creek/programs-and-camps/outdoor-youth-adventure-oya/program-details/testimonials">OYA
        Testimonials</a></h2>

        <p class="g"><strong>...</strong> You never get bored @ OYA!
        This camp was <strong>awesome</strong>. I had the most
        spiritual experience<br>
        here and I will never forget it. <strong>...</strong> OYA is
        <strong>awesome</strong>! I love Badger Creek.
        <strong>...</strong><br>
        <a href=
        "http://www.byui.edu/badger-creek/programs-and-camps/outdoor-youth-adventure-oya/program-details/testimonials">
        www.byui.edu/.../programs-and-camps/outdoor-youth-adventure-oya/program-details/testimonials
        - 26k</a></p>

        <h2><strong></strong><a href=
        "http://www.byui.edu/foreignlanguage/web/hunsakervina.htm">Department
        of Foreign Languages and Literatures – BYU–Idaho</a></h2>

        <p class="g"><strong>...</strong> I'll give you the names,
        numbers, and addresses of some <strong>awesome</strong>
        families here.". <strong>...</strong><br>
        They are <strong>awesome</strong>. I have 2 sisters (15 and 23)
        and a brother (20). <strong>...</strong><br>
        <a href=
        "http://www.byui.edu/foreignlanguage/web/hunsakervina.htm">www.byui.edu/foreignlanguage/web/hunsakervina.htm
        - 15k</a></p>

        <h2><strong></strong><a href=
        "http://www.byui.edu/housing/on-campus-apartments/volunteers">Volunteers</a></h2>

        <p class="g"><strong>...</strong> "Volunteering was a great way
        to get involved. It was an <strong>awesome</strong> way to<br>
        get to know the other girls that lived in the apartments.
        <strong>...</strong><br>
        <a href=
        "http://www.byui.edu/housing/on-campus-apartments/volunteers">www.byui.edu/housing/on-campus-apartments/volunteers
        - 26k</a></p>

        <h2><strong></strong><a href=
        "http://www.byui.edu/activities/sports/sports-events/whats-your-rec/photo-submission-rules">Photo
        Submission Rules</a></h2>

        <p class="g"><strong>...</strong> 2. Write a short 2-3
        sentences on why you enjoy that sport. 3. Email your
        <strong>awesome</strong><br>
        picture to recsportsactivities@byui.edu by Friday August 24th.
        <strong>...</strong><br>
        <a href=
        "http://www.byui.edu/activities/sports/sports-events/whats-your-rec/photo-submission-rules">
        www.byui.edu/activities/sports/sports-events/whats-your-rec/photo-submission-rules
        - 35k</a></p>

        <h2><strong></strong><a href=
        "http://www.byui.edu/activities/social/activities-social-like-us-on-facebook">Like
        Us on Facebook</a></h2>

        <p class="g"><strong>...</strong> Like Us on Facebook. How do I
        get one of those <strong>awesome</strong> yellow wristbands?
        Step<br>
        one:Like us on Facebook. Step two: Visit us in MC 101 (Student
        Activities). <strong>...</strong><br>
        <a href=
        "http://www.byui.edu/activities/social/activities-social-like-us-on-facebook">
        www.byui.edu/activities/social/activities-social-like-us-on-facebook
        - 37k</a></p>

        <h2><strong></strong><a href=
        "http://www.byui.edu/activities/sports/recreational-sports/whats-your-rec/photo-submission-rules">Photo
        Submission Rules</a></h2>

        <p class="g"><strong>...</strong> 2. Write a short 2-3
        sentences on why you enjoy that sport. 3. Upload your
        <strong>awesome</strong><br>
        picture to the What's Your Rec? contest page on Facebook.
        <strong>...</strong><br>
        <a href=
        "http://www.byui.edu/activities/sports/recreational-sports/whats-your-rec/photo-submission-rules">
        www.byui.edu/activities/sports/recreational-sports/whats-your-rec/photo-submission-rules
        - 37k</a></p>

        <blockquote>
            <h2><strong></strong><a href=
            "http://www.byui.edu/activities/sports/recreational-sports/whats-your-rec/contestants">Contestants</a></h2>

            <p class="g"><strong>...</strong> Good thing there were
            only 4 contestants, your odds to win are huge! J/K, but<br>
            you win an <strong>awesome</strong> RecSports Champ shirt.
            Here we go... First. <strong>...</strong><br>
            <a href=
            "http://www.byui.edu/activities/sports/recreational-sports/whats-your-rec/contestants">
            www.byui.edu/activities/sports/recreational-sports/whats-your-rec/contestants
            - 36k</a></p>
        </blockquote>

        <h2><strong></strong><a href=
        "http://www.byui.edu/performance-tours/symphony-band/tours">Symphony
        Band - Tours</a></h2>

        <p class="g"><strong>...</strong> I made some
        <strong>awesome</strong> friends and met even more amazing
        people from this part of the<br>
        country. The love and care I felt from everyone exceeded
        everything! <strong>...</strong><br>
        <a href=
        "http://www.byui.edu/performance-tours/symphony-band/tours">www.byui.edu/performance-tours/symphony-band/tours
        - 37k</a></p>

        <h2><strong></strong><a href=
        "http://www.byui.edu/planetarium/show-descriptions/secret-of-the-cardboard-rocket">Secret
        of the Cardboard Rocket</a></h2>

        <p class="g"><strong>...</strong> In "Secret of the Cardboard
        Rocket", two children turn an old cardboard box into<br>
        a rocket and blast-off on an <strong>awesome</strong> adventure
        with a close-up tour of each <strong>...</strong><br>
        <a href=
        "http://www.byui.edu/planetarium/show-descriptions/secret-of-the-cardboard-rocket">
        www.byui.edu/planetarium/show-descriptions/secret-of-the-cardboard-rocket
        - 25k</a></p>
    </div>

    <div class="n">
        <div id="result_pages" style="text-align: center">
            <div class="left">
                Result Page &nbsp;
            </div>

            <div class="left"></div>&nbsp;<a href=
            "search?access=p&amp;entqr=0&amp;entsp=a&amp;output=xml_no_dtd&amp;sort=date%3AD%3AL%3Ad1&amp;ie=UTF-8&amp;client=beta_frontend&amp;q=awesome&amp;ud=1&amp;site=default_collection&amp;y=-27&amp;oe=UTF-8&amp;proxystylesheet=beta_frontend&amp;ip=65.129.103.244&amp;x=-1043&amp;proxyreload=0&amp;start=10">Next</a>

            <div id="sidebar-container">
                <p id="sidebar-top">Alternative Search Options</p>

                <div id="gray-style"></div>

                <div id="gray-menu">
                    <p></p>

                    <div class="search">
                        <div class="sidebar-title">
                            <img alt="image of magnifying glass"
                            height="27" src=
                            "http://www.byui.edu/Images/Internal_Use/system/search_icon.gif"
                            width="27"><span>Search Google</span>
                        </div>

                        <form action="http://www.google.com/search?"
                        id="search_form" method="get" name="searchform"
                        target="_blank">
                            <input class="header_search_box" id=
                            "input_1" name="q" type="text" value=
                            "byui awesome"><input type="submit" value=
                            "Search">
                        </form>
                    </div>
                    <hr>

                    <div class="search">
                        <div class="sidebar-title">
                            <img alt="image of magnifying glass"
                            height="27" src=
                            "http://www.byui.edu/Images/Internal_Use/system/search_icon.gif"
                            width="27"><span>Search McKay
                            Library</span>
                        </div>

                        <form action=
                        "http://chipri20lsna.hosted.exlibrisgroup.com/primo_library/libweb/action/search.do?"
                        id="search_form" method="get" name="searchform"
                        target="_blank">
                            <input class="header_search_box" id=
                            "input_1" name="vl(freeText0)" type="text"
                            value="awesome"><input class=
                            "header_search_box" id="input_1" name="fn"
                            type="hidden" value="search"><input class=
                            "header_search_box" id="input_1" name="vid"
                            type="hidden" value="BYUID"><input type=
                            "submit" value="Search">
                        </form>
                    </div>
                    <hr>

                    <div class="sidebar-title" id="recommended_links">
                        <div>
                            <img alt="computer mouse pointer" height=
                            "27" src=
                            "http://www.byui.edu/Images/Internal_Use/system/explore_icon.gif"
                            width="27"><span>Explore</span>
                        </div>

                        <ul>
                            <li>
                                <a href=
                                "http://www.byui.edu/student-records/site-index"
                                target="_blank" title=
                                "Site index of major pages of the university">
                                Site Index</a>
                            </li>

                            <li>
                                <a href=
                                "http://www.byui.edu/directories/colleges-and-departments"
                                target="_blank" title=
                                "Listing of all colleges and departments">
                                Colleges &amp; Departments</a>
                            </li>

                            <li>
                                <a href=
                                "http://www.byui.edu/directories/administrative-offices"
                                target="_blank">Administrative
                                Offices</a>
                            </li>

                            <li>
                                <a href=
                                "http://web.byui.edu/directory/employees/"
                                target="_blank">Employee Directory</a>
                            </li>

                            <li>
                                <a href=
                                "http://web.byui.edu/directory/students/"
                                target="_blank">Student Directroy</a>
                            </li>
                        </ul>
                    </div>
                    <hr>

                    <div class="sidebar-title" id="askbyui">
                        <div>
                            <img alt="two quote bubbles" height="27"
                            src=
                            "http://www.byui.edu/Images/Internal_Use/system/chat_icon.gif"
                            width="27"><span><em>Ask</em>BYUI</span>
                        </div>

                        <p style="padding-top: 5px;"><a href=
                        "http://www.byui.edu/ask/live-chat" target=
                        "_blank" title=
                        "Launches a live chat session with the campus operator.">
                        <em>Ask</em>BYUI (Live Chat)</a></p>

                        <div>
                            <strong>Mon - Fri:</strong> 8:00am to
                            7:00pm<br>
                            <strong>Sat - Sun:</strong> Closed<br>
                            <strong>Other:</strong> Leave a message and
                            they will contact you later.
                        </div><br>

                        <p><a href=
                        "https://server.iad.liveperson.net/hc/1132447/?cmd=file&amp;file=visitorWantsToChat&amp;site=1132447&amp;byhref=1&amp;SESSIONVAR!skill=Help%20Desk"
                        target="_blank">Help Desk (Live Chat)</a></p>

                        <div>
                            For technical questions call the Help Desk
                            at 208.496.9000.<br>
                            <strong>Mon - Fri:</strong> 7:00am –
                            9:00pm<br>
                            <strong>Sat:</strong> 9am - 5pm<br>
                            <strong>Sun:</strong> Closed<br>
                            <strong>Other:</strong> Leave a message and
                            they will contact you later.
                        </div>
                    </div>
                </div>
            </div><br clear="all">
            <br>

            <div id="bottom_search_field">
                <div id="top_search_field">
                    <form action="search" id="gs" method="get" name=
                    "gs">
                        <input id="search_box_top_input" name="q" size=
                        "32" type="text" value=
                        "awesome">&nbsp;<input id=
                        "search_box_top_submit" name="btnG" type=
                        "submit" value="Search">

                        <div id="advanced_search_box">
                            &nbsp;&nbsp;<a href=
                            "search?access=p&amp;entqr=0&amp;entsp=a&amp;output=xml_no_dtd&amp;sort=date%3AD%3AL%3Ad1&amp;ie=UTF-8&amp;client=beta_frontend&amp;q=awesome&amp;ud=1&amp;site=default_collection&amp;y=-27&amp;oe=UTF-8&amp;proxystylesheet=beta_frontend&amp;ip=65.129.103.244&amp;x=-1043&amp;proxyreload=0&amp;proxycustom=%3CADVANCED/%3E">BYU-Idaho
                            Advanced Search</a><br>
                            &nbsp;&nbsp;<a href=
                            "/user_help.html">Search Tips</a><br>
                        </div><input name="entqr" type="hidden" value=
                        "0"> <input name="entsp" type="hidden" value=
                        "a"> <input name="output" type="hidden" value=
                        "xml_no_dtd"> <input name="sort" type="hidden"
                        value="date:D:L:d1"> <input name="client" type=
                        "hidden" value="beta_frontend"> <input name=
                        "ud" type="hidden" value="1"> <input name="y"
                        type="hidden" value="-27"> <input name="oe"
                        type="hidden" value="UTF-8"><input name="ie"
                        type="hidden" value="UTF-8"> <input name=
                        "proxystylesheet" type="hidden" value=
                        "beta_frontend"> <input name="x" type="hidden"
                        value="-1043"> <input name="proxyreload" type=
                        "hidden" value="0"> <input name="site" type=
                        "hidden" value="default_collection">
                    </form>
                </div>

                <div id="search-container"></div>
            </div>
        </div>
    </div>
</div>