---
layout: content
page-type: content
---


<!-- BEGIN MAIN_CONTENT  -->
<section id="main_content" class="span-18 last"><!-- IF NO CONTENT IN RIGHT ASIDE, SPAN-18 LAST -->
		<style type="text/css">
			.college_block {min-height: 190px;}
		.college_block h3 {border-bottom: 1px dotted #000000; padding: 0 0 10px 15px; width: 320px;}
		.college_block h3 a {color: #277ABE; font-family: Georgia,Times,serif; font-size: 18px; font-style: italic; text-decoration: none;}
		.college_block ul {margin: 15px 0; padding-right: 20px; list-style-type: none;}
		.college_block ul li {font-size: 15px; line-height: 14px; background-image: url("images/interface/arrow_bullet_gray_5x9.png"); background-position: 0 3px; background-repeat: no-repeat; padding: 0 0 6px 9px;}
		.college_block ul li a { color: #252525; font-family: helvetica,Arial,sans-serif; font-size: 12px; text-decoration: none;}
		.college_block ul li a:hover, .college_block h3 a:hover {text-decoration: underline;}
	</style>

<!-- ****************************************************************************************************************************
		College Blocks 
     **************************************************************************************************************************** -->

<div class="college_block span-9">
	<h3><a href="http://www.byui.edu/AgandLifeSci">College Agriculture and Life<br />Sciences</a></h3>
	<ul>
		<li><a href="http://www.byui.edu/AgBusPlandAnScs/">Department of Agribusiness, Plant &amp; Animal Sciences</a></li>
		<li><a href="http://www.byui.edu/biology/">Department of Biology</a></li>
		<li><a href="http://beta.byui.edu/health-recreation-human-performance">Department of Health Recreation and Human Performance </a></li>
		<li><a href="http://www.byui.edu/Horticulture/">Department of Horticulture</a></li>
		<li><a href="http://www.byui.edu/Nursing/">Department of Nursing</a></li>
	</ul>
</div>
<div class="college_block span-9  last">
	<h3><a href="http://beta.byui.edu/business-communication">College of Business and<br />Communication</a></h3>
	<ul>
		<li><a href="http://www.byui.edu/Accounting/">Department of Accounting</a></li>
		<li><a href="http://beta.byui.edu/business-management/">Department of Business Management</a></li>
		<li><a href="http://www.byui.edu/Comm/">Department of Communication</a></li>
		<li><a href="http://www.byui.edu/CIT">Department of Computer Information Technology</a></li>
		<li><a href="http://www.byui.edu/Economics/">Department of Economics</a></li>
	</ul>
</div>
<div class="college_block span-9">
	<h3><a href="http://www.byui.edu/Education">College of Education and Human Development</a></h3>
	<ul>
		<li><a href="http://www.byui.edu/homeandfamily/">Department of Home and Family</a></li>
		<li><a href="http://www.byui.edu/Psychology/">Department of Psychology</a></li>
		<li><a href="http://www.byui.edu/RelEd/">Department of Religious Education</a></li>
		<li><a href="http://www.byui.edu/Sociology/">Department of Sociology and Social Work</a></li>
		<li><a href="http://www.byui.edu/TeacherEd/">Department of Teacher Education</a></li>
	</ul>
</div>
<div class="college_block span-9 last">
	<h3><a href="http://www.byui.edu/LangLet">College of Language and<br />Letters</a></h3>
	<ul>
		<li><a href="http://www.byui.edu/Academicsupport/">Department of Academic Support Centers</a></li>
		<li><a href="http://www.byui.edu/English/">Department of English</a></li>
		<li><a href="http://www.byui.edu/ForeignLanguage/">Department of Foreign Languages and Literatures</a></li>
		<li><a href="http://www.byui.edu/History/">Department of History</a></li>
		<li><a href="http://www.byui.edu/Geography/">Department of Geography</a></li>
		<li><a href="http://www.byui.edu/internationalstudies/">Department of International Studies</a></li>
		<li><a href="http://www.byui.edu/PoliSci/">Department of Political Science</a></li>
		<li><a href="http://www.byui.edu/Humanities/">Department of Humanities and Philosophy</a></li>
	</ul>
</div>
<div class="college_block span-9">
	<h3><a href="http://www.byui.edu/PhysSciandEngr">College of Physical Sciences and Engineering</a></h3>
	<ul>
		<li><a href="http://www.byui.edu/ArchitectureandConstruction/">Department of Architecture and Construction</a></li>
		<li><a href="http://www.byui.edu/Automotive/">Department of Automotive Technology</a></li>
		<li><a href="http://www.byui.edu/Chemistry/">Department of Chemistry</a></li>
		<li><a href="http://www.byui.edu/CSEE/default.htm">Department of Computer Science and Electrical Engineering</a></li>
		<li><a href="http://www.byui.edu/Geology/">Department of  Geology</a></li>
		<li><a href="http://www.byui.edu/Math/">Department of Mathematics</a></li>
		<li><a href="http://www.byui.edu/MechEngr/">Department of Mechanical Engineering</a></li>
		<li><a href="http://www.byui.edu/Physics/">Department of Physics</a></li>
	</ul>
</div>
<div class="college_block span-9 last">
	<h3><a href="http://beta.byui.edu/performing-visual-arts">College of Performing and<br />Visual Arts</a></h3>
	<ul>
		<li><a href="http://www.byui.edu/Art/">Department of Art</a></li>
		<li><a href="http://www.byui.edu/Dance/">Department of Dance</a></li>
		<li><a href="http://www.byui.edu/InteriorDesign/">Department of Interior Design</a></li>
		<li><a href="http://www.byui.edu/Theatre/">Department of Theatre</a></li>
		<li><a href="http://www.byui.edu/Music/">Department of Music</a></li>
	</ul>
</div>

<!-- ****************************************************************************************************************************
		END  College Blocks
     **************************************************************************************************************************** -->

</section><!-- END MAIN_CONTENT  -->



