<div class="highlighted-links-variant panel panel-info">
    <span class="panel-heading">
        Highlighted Links
        <span class="icon-link pull-right"></span>
    </span>
    <div class="panel-body hidden"></div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#">A Link</a>
        </li>
        <li class="list-group-item">
            <a href="#">A Link</a>
        </li>
        <li class="list-group-item">
            <a href="#">A Link</a>
        </li>
    </ul>
</div>
