#mainBody {
	width:650px;
}
div.caption-container {
	width:650px;
}
div.caption div {
	display:inline;
	float:left;
	padding:2px 5px 0;
	border-right:1px solid #000;
}
div.caption-container, span.image-caption {
	display:inline;
	float:left;
	background-image:white;
}
div.caption-container div.download {
	border:none;
	margin:0px;
}
div.slideshow-container, div.loader, div.slideshow a.advance-link {
	/* width:438px; */
}

div.slideshow img {
/*
	border-style:solid;
	border-width:1px;
	float:left;
	height:auto;
	max-width:450px;
	width:auto;
*/
	/* border-style:solid; */
	/* border-width:1px; */
	max-width:650px;
	max-height:570px;
/*
	width:auto;
	height:auto;
*/
}

/*
div.photo-index {
	padding:5px 12px;
	position:absolute;
	
}
*/
div.photo-index {
	/*
left:-462px;
	padding:2px 5px;
	position:absolute;
	top:20px;
*/
	font-size:12px;
	color:#959595;
	border-right:1px solid #959595;
}
div.image-title {
	background-color:#FFFFFF;
	color:#000000;
	font-size:12px;
	font-weight:normal;
	display:inline;
	float:left;
	/*
left:-380px;
	position:relative;
*/
}
div.loader, 
div.slideshow a.advance-link, 
div.caption-container {
	/* min-height: 640px; */
	/* max-height: 570px; */
}
div.content {
	/* width:651px; */
	width:650px;
}
.image-wrapper a img {
	/* margin-top: -15px; */
}
