<div class="homepage-news list-group">
    <a href="http://www.byui.edu/newsroom" class="list-group-item homepage-heading panel-heading">
       News
       <span class="hidden-xs panel-sub-heading">Newsroom <span class="icon-angle-right"></span></span> 
    </a>
    <a href="#" class="list-group-item">
        <div class="news-thumbnail">
            <img class="pull-left media-object" alt="Bill Murray" src="//www.fillmurray.com/147/147">
        </div>

        <div class="media-body">
            <div class="media-content">
                <p class="media-heading">See the New Center Stage Lineup for Fall</p>
                <p class="hidden-sm hidden-xs">The Center Stage Performing Arts Series at Brigham Young University-Idaho has announced its lineup of events for Fall Semester 2014.</p>
            </div>
        </div>
        <span class="icon-angle-right visible-xs"></span>
    </a>
</div>