<div class="dept-events panel panel-primary">
    <a href="http://calendar.byui.edu/" class="panel-heading">Important Dates <span class="icon-calendar pull-right"></span></a>
    <div class="panel-body hidden"></div>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="event_date">
                September 8
            </span>
            <a class="event_details" href="#">Join us on Barsoom!</a> 
        </li>
        <li class="list-group-item">
            <span class="event_date">
                September 8
            </span>
            <a class="event_details" href="#">Join us on Barsoom!</a> 
        </li>
        <li class="list-group-item">
            <span class="event_date">
                September 8
            </span>
            <a class="event_details" href="#">Join us on Barsoom!</a> 
        </li>
        <li class="list-group-item">
            <span class="event_date">
                September 8
            </span>
            <a class="event_details" href="#">Join us on Barsoom!</a> 
        </li>
        <li class="list-group-item">
            <span class="event_date">
                September 8
            </span>
            <a class="event_details" href="#">Join us on Barsoom!</a> 
        </li>
        <li class="list-group-item">
            <span class="event_date">
                September 8
            </span>
            <a class="event_details" href="#">Join us on Barsoom!</a> 
        </li>
        
    </ul>
</div>