<div class="contact-info panel panel-primary">
  <div class="panel-heading">
    Dance Office
    <span class="icon-address-book pull-right"></span>
  </div>
  <div class="panel-body">
    <address>
        <p><span aria-hidden="true" class="icon icon-office">&nbsp;</span>
        <a href="#">214 Manwaring Center</a></p>
        <p><span aria-hidden="true" class="icon icon-phone">&nbsp;</span>
        <a href="tel:12084963767">(555) 555-5555</a></p>
        <p><span aria-hidden="true" class="icon icon-mail">&nbsp;</span>
        <a href="mailto:#">asdf@asdf.com</a></p>        
    </address>
  </div>
</div>
