---
layout: MainLayout
---

<main id="page-content academic-home" class="col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2 row">
  {% include test/test.html %}
  {% include breadcrumb.html %}

  {% include nav.html %}

  {% include carousel.html %}

  {% include title.html %}
  <!--main page content-->
  <div class="row">
    <section class="article col-sm-8 pull-left">
      <h2>Story Title</h2>
      <hr />{% include dept_news_article.html %}
      <h2>Story Title</h2>
      <hr />{% include dept_news_article.html %}
      <h2>Story Title</h2>
      <hr />{% include dept_news_article.html %}

      <h2>Welcome to BYU Idaho Dance!</h2>
      <p>The BYU Idaho Department of Theatre and Dance offers a Bachelor of Arts degree in Dance. This degree is designed to prepare students to find successful career opportunities as a dance professional. During their studies students will acquire the
        knowledge and experience necessary to become a highly qualified and sound dance educator. The Department of Theatre and Dance also offers a minor in dance.</p>
      <p>This site is designed to provide you with contact and program information that will help you to be better informed and complete a program of study more smoothly. Use the navigation menu to the left to locate information that you need.</p>
      <p>For information on how to become a dance major check out&nbsp; "Degrees".</p>
      <p>For information on who can apply for scholarships and scholarship deadlines check out "Scholarships".</p>
      <p>For information about our Dance Companies including Dance Alliance and Collegiate Dancers click on "Get Involved".</p>
      <p>For our dress code click on "What to wear!".</p>
      <p>If you have any questions you can email us at dance_dept@byui.edu</p>

      <h3><em>News Flash!</em></h3>
      <p>If you are having trouble registering for a class (for example: New freshmen trying to get into DA 240R or DA 290R) you can email the instructor and ask him or her to authorize you to add the class!</p>
      <p>Email addresses are available on our "Faculty" tab to the right.</p>
    </section>

    <aside class="right-column col-xs-12 col-sm-4 pull-right">
      <div class="row">
        <div class="col-xs-6 col-sm-12 pull-left">
          <div class="panel panel-primary">
            <a href="http://calendar.byui.edu/" class="panel-heading">Important Dates <span class="icon-calendar pull-right"></span></a>
            <div class="panel-body hidden"></div>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="event_date">Dec 11</span>  <a class="event_details" href="#">Senior Capstone Show</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-all-12 col-xs-6 col-sm-12 pull-left">
          {% include contact-info.html %}
        </div>

        <div class="col-xs-6 col-sm-12 pull-left">
          {% include university-message.html %}
        </div>
      </div>


    </aside>
  </div>
  @{ //render the quick links Html.RenderPartial("../Shared/PageLayout/ThreeColumnQuickLinks"); }
</main>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/dance.css.min" />
