<table class="eventsTable">
    <tr class="eventRow" itemscope itemtype="http://schema.org/Event">
        <td>
            <a href="#">
                <h3 itemprop="name">Awesome Activity</h3>
            </a>
            <div class="circle">
                <div class="sign collapsed">+</div>
            </div>
            <a href="#">
                <div class="eventDescription" itemprop="description">
                    <img class="eventThumb" src="{{ site.baseurl }}/assets/placeholders/eldergray-thumb.jpg" alt="A thumbnail" itemprop="image" />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem temporibus eligendi rerum dolores ipsum voluptates recusandae voluptatem atque sapiente eveniet id quia officiis, quidem aliquam quo nam dolor in reprehenderit!...
                </div>
            </a>
            <a href="#">
                <div class="collapsed-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione corporis tempora atque excepturi, porro facilis! Sapiente, provident natus unde odit quod ea, laborum est assumenda consequatur cum optio, beatae vel!
                </div>
            </a>
        </td>
    </tr>
    <tr class="eventRow" itemscope itemtype="http://schema.org/Event">
        <td>
            <a href="#">
                <h3 itemprop="name">Awesome Activity</h3>
            </a>
            <div class="dCircle">
                <div class="dSign dExpanded">-</div>
            </div> 
            <a href="#">
                <div class="eventDescription" itemprop="description">
                    <img class="eventThumb" src="{{ site.baseurl }}/assets/placeholders/eldergray-thumb.jpg" alt="A thumbnail" itemprop="image" />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem temporibus eligendi rerum dolores ipsum voluptates recusandae voluptatem atque sapiente eveniet id quia officiis, quidem aliquam quo nam dolor in reprehenderit!
                </div>
            </a>
        </td>
    </tr>
    <tr class="eventRow" itemscope itemtype="http://schema.org/Event">
        <td>
            <a href="#">
                <h3 itemprop="name">Awesome Activity</h3>
            </a>
            <div class="circle">
                <div class="sign collapsed">+</div>
            </div>
            <a href="#">
                <div class="eventDescription" itemprop="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem temporibus eligendi rerum dolores ipsum voluptates recusandae voluptatem atque sapiente eveniet id quia officiis, quidem aliquam quo nam dolor in reprehenderit!...
                </div>
            </a>
            <a href="#">
                <div class="collapsed-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione corporis tempora atque excepturi, porro facilis! Sapiente, provident natus unde odit quod ea, laborum est assumenda consequatur cum optio, beatae vel!
                </div>
            </a>
        </td>
    </tr>
    <tr class="eventRow" itemscope itemtype="http://schema.org/Event">
        <td>
            <a href="#">
                <h3 itemprop="name">Awesome Activity</h3>
            </a>
            <div class="dCircle">
                <div class="dSign dExpanded">-</div>
            </div> 
            <a href="#">
                <div class="eventDescription" itemprop="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem temporibus eligendi rerum dolores ipsum voluptates recusandae voluptatem atque sapiente eveniet id quia officiis, quidem aliquam quo nam dolor in reprehenderit!
                </div>
            </a>
        </td>
    </tr>
</table>
