---
layout: MainLayout
---


{% include nav/nav.html %}
{% include breadcrumb/breadcrumb.html %}

<section class="adc adc-article">

  {% include title/title.html %}

  <!--main page content-->
  <div class="row">
    <section class="article col-sm-8 pull-left">
      <p><p>
            It is important when interviewing to find out as much as you can about what the organization needs and then demonstrate that your abilities match the needs of the employer.  Be sure to present yourself well and honestly. The interview process is for both the company and you to ascertain your compatibility. A few ways to find preparatory information are studying the company website and job description in-depth and utilizing your network.
          </p>
          <p>
            Discussion strong families true beardless manwaring no shorts on campus intellect covenants wholesome, scriptures. With commitment, at studious, worldly homework reflection, immorality. True immorality testimony, just essay financial aid revelation intellect at. Courses internalize learn learning model review books, byu-idaho experience. Faith foundations covenants syllabus sabbath assignments discussion refining, in. At on with with another wonderful day strong families interdisciplinary.
          </p>

          <h2>Interview Resources</h2>
          <ul class="media-list">
            <li><a href="#">Sign up for a Practice Interview</a></li>
            <li><a href="#">Preparing for Successful Interviews</a></li>
            <li><a href="#">Professional Dress for Interviews</a></li>
            <li><a href="#">Power of Personal Appearance</a></li>
            <li><a href="#">Interview Seminar - by Christopher Galbraith (1-hour video)</a></li>
          </ul>

        <h2>Possible Behavioral Interview Questions</h2>
        <h4>Tell me about a time when you:</h4>
        <ul>
          <li>Worked effectively under pressure.</li>
          <li>Handled a difficult situation/conflict with a co-worker/supervisor.</li>
          <li>Were creative in solving a problem.</li>
          <li>Missed an obvious solution to a problem.</li>
          <li>Had to deal with an angry customer.</li>
          <li>Delegated a project effectively.</li>
          <li>Surmounted a major obstacle.</li>
          <li>Demonstrated time management skills.</li>
        </ul>

        <h2>Interviewing Etiquette</h2>
        <h4>Genuine Interest</h4>
        <p>Schedule interviews only for positions for which you have a genuine interest. Do not waste employer's time by setting up "practice interviews." If you are interested in receiving feedback on your interviewing skills, schedule a practice interview with a Career Prep Mentor.</p>

        <h4>Arrive On-time (Early)</h4>
        <p>Plan to arrive at your interview 5-10 mintues early. If you arrive at the scheduled time, you are late. When you arrive late, an implicit message is sent that your time is more important than the interviewer's time.</p>

        <h4>Be Honest</h4>
        <p>As a student at BYU-Idaho, you represent not only yourself but the institution as well. When you submit application materials, and in the interviewing process, make sure the information you give is accurate and does not exaggerate your qualifications.</p>

        <h4>Send a Thank-you Note</h4>
        <p>Be sure to send a short note thanking the interviewer for his or her time after the interview. Use the thank you note as an opportunity to highlight your strengths with respect to the position, as well as one last chance to express your interest in working for the organization.</p>

        <h4>Do Not Withdraw Your Acceptance</h4>
        <p>It is inconsiderate to refuse an offer for employment that you had previously accepted. If you are waiting to hear from another offer or are unsure it is acceptable to offer conditional acceptance. </p>

        <h4>Notify of Change</h4>
        Extenuating circumstances may necessitate cancellation of your interview, but make sure you notify the interviewer as far in advance as possible. Use your best judgment when deciding what constitutes "extenuating circumstances."</p>

    </section>

    <!--side content-->
    <aside class="right-column col-xs-12 col-sm-4 pull-right">
      <div class="row">
        <div class="col-all-12 col-xs-6 col-sm-12 pull-left">
          {% include events/events.html %}
        </div>
        <div class="col-all-12 col-xs-6 col-sm-12 pull-left">
          {% include institutional-message/institutional-message.html %}
        </div>
        <div class="col-xs-6 col-sm-12 pull-left">
          {% include facebook-integration/facebook-integration.html %}
        </div>
      </div>
    </aside>
  </div>
  {% include three-column-quick-links/three-column-quick-links.html %}
</section>
<link href="{{ site.baseurl }}/assets/css/adc-article.min.css" rel="stylesheet" />
