---
layout: FullWidthLayout
---

<div class="white-nav" >
  <div class="sub-container">
    {% include breadcrumb/breadcrumb.html %}
    {% include nav/nav.html %}
  </div>
</div>

{% include quick-guide/quick-guide.html %}

<div class=sub-container>
  <section class="adc adc-article">

    <!--main page content-->
    <div class="row">
      <section class="article col-sm-8 pull-left">
        {% include title/title.html %}
        <p>It is important when interviewing to find out as much as you can about what the organization needs and then demonstrate that your abilities match the needs of the employer.  Be sure to present yourself well and honestly. The interview process is for both the company and you to ascertain your compatibility. A few ways to find preparatory information are studying the company website and job description in-depth and utilizing your network.</p>

        <h2>Interview Resources</h2>
        <div class="indented">
          <ul class="media-list">
            <li><a href="#">Sign up for a Practice Interview</a></li>
            <li><a href="#">Preparing for Successful Interviews</a></li>
            <li><a href="#">Professional Dress for Interviews</a></li>
            <li><a href="#">Power of Personal Appearance</a></li>
            <li><a href="#">Interview Seminar - by Christopher Galbraith (1-hour video)</a></li>
          </ul>
        </div>

        <h2>Possible Behavioral Interview Questions</h2>
        <div class="indented">
          <ol>
            <lh><h4>Tell me about a time when you:</h4></lh>
            <li>Worked effectively under pressure.</li>
            <li>Handled a difficult situation/conflict with a co-worker/supervisor.</li>
            <li>Were creative in solving a problem.</li>
            <li>Missed an obvious solution to a problem.</li>
            <li>Had to deal with an angry customer.</li>
            <li>Delegated a project effectively.</li>
            <li>Surmounted a major obstacle.</li>
            <li>Demonstrated time management skills.</li>
          </ol>
        </div>

        <h2>Interviewing Etiquette</h2>
        <div class="indented">
          <h4>Genuine Interest</h4>
          <p>Schedule interviews only for positions for which you have a genuine interest. Do not waste employer's time by setting up "practice interviews." If you are interested in receiving feedback on your interviewing skills, schedule a practice interview with a Career Prep Mentor.</p>
          <h4>Arrive On-time (Early)</h4>
          <p>Plan to arrive at your interview 5-10 mintues early. If you arrive at the scheduled time, you are late. When you arrive late, an implicit message is sent that your time is more important than the interviewer's time.</p>
          <h4>Be Honest</h4>
          <p>As a student at BYU-Idaho, you represent not only yourself but the institution as well. When you submit application materials, and in the interviewing process, make sure the information you give is accurate and does not exaggerate your qualifications.</p>
          <h4>Send a Thank-you Note</h4>
          <p>Be sure to send a short note thanking the interviewer for his or her time after the interview. Use the thank you note as an opportunity to highlight your strengths with respect to the position, as well as one last chance to express your interest in working for the organization.</p>
          <h4>Do Not Withdraw Your Acceptance</h4>
          <p>It is inconsiderate to refuse an offer for employment that you had previously accepted. If you are waiting to hear from another offer or are unsure it is acceptable to offer conditional acceptance. </p>
          <h4>Notify of Change</h4>
          <p>Extenuating circumstances may necessitate cancellation of your interview, but make sure you notify the interviewer as far in advance as possible. Use your best judgment when deciding what constitutes "extenuating circumstances."</p>
        </div>

        <h2>Recommended Year by Year Plan</h2>
        <div class="blue-bullets">
          <h4>Pre-Matriculation</h4>
          <ul>
            <li>Take a Type Focus career assessment.</li>
            <li>Do an informational interview with a JD faculty mentor.</li>
            <li>Job shadow an attorney.</li>
            <li>Volunteer in public service work.</li>
          </ul>
        </div>
        <div class="blue-bullets">
          <h4>Freshman</h4>
          <ul>
            <li>Establish a good academic foundation for a competitive GPA.</li>
            <li>Build strong relationships with professors for letters of recommendation.</li>
            <li>Create a grad plan, keeping in mind early grad school programs and requirements.</li>
            <li>Visit the college advising center to get your plan approved.</li>
          </ul>
        </div>
        <div class="blue-bullets">
          <h4>Sophomore</h4>
          <ul>
            <li>Prepare for LSAT.</li>
            <li>Create resume.</li>
            <li>Research law school programs.</li>
            <li>Seek leadership opportunities in the Pre Law Society.</li>
            <li>Meet with pre law faculty mentor.</li>
            <li>Do a practice interview.</li>
            <li>Attend law school recruiting events.</li>
          </ul>
        </div>
        <div class="blue-bullets">
          <h4>Junior</h4>
          <ul>
            <li>Take practice tests.</li>
            <li>Take the LSAT.</li>
            <li>Apply for early application deadline.</li>
            <li>Write personal statement.</li>
            <li>Attend a law fair or forum.</li>
            <li>Refine resume.</li>
            <li>Visit law schools of choice.</li>
          </ul>
        </div>
        <div class="blue-bullets">
          <h4>Senior</h4>
          <ul>
            <li>Have a work meeting with faculty mentor.</li>
            <li>Network with professional contacts.</li>
            <li>Submit your application to LSAC-CAS.</li>
            <li>Interview with targeted law schools.</li>
          </ul>
        </div>
        <div class="blue-bullets">
          <h4>Post-Grad</h4>
          <ul>
            <li>Get some work experience in the legal field.</li>
            <li>Pay off undergrad debt.</li>
          </ul>
        </div>


      </section>

      <!--side content-->
      <aside class="right-column col-xs-12 col-sm-4 pull-right">
        <div class="row">
          <div class="col-all-12 col-xs-6 col-sm-12 pull-left">
            {% include events/events.html %}
          </div>
          <div class="col-all-12 col-xs-6 col-sm-12 pull-left">
            {% include institutional-message/institutional-message.html %}
          </div>
        </div>
      </aside>
    </div>
  </section>
</div>

<link href="{{ site.baseurl }}/assets/css/adc-article.min.css" rel="stylesheet" />
