{% include header.html %}
{% include breadcrumbs.html %}

<!-- BEGIN TOP_REGION -->
<section id="top_region" class="span-24">
	<div id="cycle_gallery"> 
        
        <div id="cycle1"><!-- You can set the type of transition you want by giving id 'cycle' a class name of a valide transition (default is fade).  blindX, blindY,  blindZ, cover, curtainX, curtainY, fade, fadeZoom, growX, growY, scrollUp, scrollDown, scrollLeft, scrollRight, scrollHorz, scrollVert, shuffle, slideX, slideY, toss, turnUp, turnDown, turnLeft, turnRight, uncover, wipe, zoom -->
            <img class="home_image" src="/images/placeholders/academic_home/test_bkg1.jpg" alt="ss">
            <img class="home_image" src="/images/placeholders/academic_home/test_bkg2.jpg" alt="ss">
        </div>

    </div><!-- end of cycle gallery --> 
</section>
<!-- END TOP_REGION -->

{% include left_sidebar.html %}
<section id="content_region" class="span-18 last">
   {{ content }}
</section>

<!-- Page-Specific Scripts -->
<script src="/js/mylibs/accordionNav.js"></script>
<script src="/js/libs/jquery.cycle.all.js"></script>
<script src="/js/mylibs/academic_home.js"></script>

{% include footer.html %}
