{% include header.html %}
{% include breadcrumbs.html %}
{% include left_sidebar.html %}
<section id="content_region" class="span-18 last">
   {{ content }}

	
</section>

<section id="bottom_region" class="span-24">
		<div class="highlighted_ads">
			<div class="Ad_Column_1">
				<a href="http://activities.byui.edu/email_signup.htm">
					<img class="span-6" src="http://beta.byui.edu/images/Admin_Offices/Activities/email_newsletter_ad.jpg" alt="" >
				</a>
			</div>
			<div class="Ad_Column_2">
				<a href="activities/why/student-leaders-organization-chart">
					<img class="span-6" src="http://beta.byui.edu/images/Admin_Offices/Activities/create_an_activity_ad.jpg" alt="">
				</a>
			</div>
			<div class="Ad_Column_3">
				<a href="http://activities.byui.edu/">
					<img class="span-6" src="http://beta.byui.edu/images/Admin_Offices/Activities/Old-Website-ad.jpg" alt="">
				</a>
			</div>
			<div class="Ad_Column_4">
				<a href="activities/why/guiding-principles">
					<img class="span-6 last" src="http://beta.byui.edu/images/Admin_Offices/Activities/principle_one_ad.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="quick_links span-24">
			<div class="quick_link_column span-6">
				<h4 class="quick_links_header">Song Requests</h4>
				<ul>
					<li><a href="http://web.byui.edu/songrequest/" target="_blank">Request a Song</a></li>
					<li><a href="http://www.facebook.com/byuisocial" target="_blank">Social Facebook Page</a></li>
					<li><a href="http://activities.byui.edu/getinvolved/social.htm" target="_blank">Applications for Service Area Director</a></li>
				</ul>
			</div>
			<div class="quick_link_column span-6">
				<h4 class="quick_links_header">Dance and Event Pictures</h4>
				<ul>
					<li><a href="https://secure.byui.edu/cas/login?service=https://web.byui.edu/Services/Login/?RedirectURL=http%253a%252f%252fweb.byui.edu%252fdancephotos%252fdefault.aspx" target="_blank">Download Pictures Here</a></li>
					<li><a href="http://web.byui.edu/songrequest/" target="_blank">Request a Song</a></li>
					<li><a href="http://www.facebook.com/byuisocial" target="_blank">Social Facebook Page</a></li>
					<li><a href="http://activities.byui.edu/getinvolved/social.htm" target="_blank">Applications for Service Area Director, Directors, Coordinators, Managers, Volunteers</a></li>
				</ul>
			</div>
			<div class="quick_link_column span-6">
				<h4 class="quick_links_header">Applications</h4>
				<ul>
					<li><a href="http://activities.byui.edu/getinvolved/social.htm" target="_blank">Directors, Coordinators</a></li>
					<li><a href="http://www.facebook.com/byuisocial" target="_blank">Social Facebook Page</a></li>
				</ul>
			</div>
			<div class="quick_link_column span-6 last">
				<h4 class="quick_links_header">Social Media</h4>
				<ul class="last">
					<li><a href="http://www.facebook.com/byuisocial" target="_blank">Social Facebook Page</a></li>
					<li><a href="http://web.byui.edu/songrequest/" target="_blank">Request a Song</a></li>
					<li><a href="http://activities.byui.edu/getinvolved/social.htm" target="_blank">Directors, Coordinators, Managers, Volunteers</a></li>
				</ul>
			</div>
		</div>
	</section><!-- END BOTTOM_REGION -->

<!-- Page-Specific Scripts -->
<script src="/js/mylibs/accordionNav.js"></script>
<script src="/js/libs/jquery.cycle.all.js"></script>
<script src="/js/mylibs/cycle_gallery.js"></script>
<script src="/js/mylibs/leftNav_contactExpander.js"></script>
<script src="/js/mylibs/scrolling_events_bar.js"></script>
{% include footer.html %}
