{% include header.html %}
{% include breadcrumbs.html %}
<nav id="local_nav" class="span-6">
	<h2 class="box_header"><a href="newsroom">Newsroom</a></h2>
	<div class="imageList">
		<img alt="" title="" src="http://beta.byui.edu/images/Internal_Use/newsroom/Cook%20photo.jpg" />
		<p>Elder Quentin L. Cook</p>
		<img alt="" title="" src="http://beta.byui.edu/Images/Admin_Offices/Student%20Record%20and%20Registration/GradPhoto/GradBanner3497x200.jpg" />
		<img alt="" title="" src="http://beta.byui.edu/Images/Admin_Offices/Student%20Record%20and%20Registration/GradPhoto/AlumniAssc.png" />
		<p>Congratulations Online Graduates!</p>
		
	</div>
</nav>


<section id="content_region">
   {{ content }}
</section>

<!-- Page-Specific Scripts -->
<script src="/js/mylibs/accordionNav.js"></script>

{% include footer.html %}
