---
layout: Layout
showEmergency: false
---

{% if page.showEmergency == true %}

{% include emergency-global/emergency-global.html %}

{% endif %}

{% include header/header.html %}

{% if page.showEmergency == true %}

   {% if page.pageName == "home" %}

   {% include emergency-home/emergency-home.html %}

   {% endif %}
{% endif %}

<main role="main" class="site-content container full-width">
<!-- pause Main layout-->
    {{ content }}
<!-- re-begin Main layout-->
</main>

{% include footer/footer.html %}
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.min.js"></script>
<script src="http://localhost:35729/livereload.js?snipver=1" charset="utf-8"></script>
