<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.ico" />
    
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Brigham Young University - Idaho">
    <meta name="keywords" content="These are some key words yo!" />
    <meta name="robots" content="no-follow" />
    
    <title>Brigham Young University - Idaho</title>

    d<base href="/">
    
    <meta name="author" content="Brigham Young University - Idaho">


    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.min.css">

    <script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery-1.10.2.min.js"><\/script>')
    </script>
    
    <!-- Temporary placeholder for google analytics code -->

    {% include socialMedia/socialMedia.html %}

</head>

<body>
    {{ content }}
</body>

</html>
