<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Brigham Young University - Idaho</title>
  <meta name="description" content="Brigham Young University - Idaho">
  <meta name="author" content="Brigham Young University - Idaho">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.min.css">

  <script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery-1.10.2.min.js"><\/script>')
  </script>

  <style type="text/css">
    .site-navigation .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
    }
    .site-navigation .dropdown-menu {
      padding-top: 0;
      padding-bottom: 0;
    }
    /*.dropdown { border-top: 1px solid #333; }*/
  </style>

  <script>
    // Default states for element toggle:
    var page_title = 'off';
    var local_nav = 'on';
    var right_column = 'on';
    var quick_links = 'on';
  </script>

  {% include socialMedia/socialMedia.html %}

</head>

<body>
  {{ content }}
</body>

</html>
