<nav id="inner-nav">
    <a href="#" target="@linkTarget">Link One</a>
    <a href="#" target="@linkTarget">Link Two</a> 
    <a href="#" target="@linkTarget">Link Three</a> 
    <a href="#" target="@linkTarget">Link Four</a> 
    <a href="#" target="@linkTarget">Link Five</a> 
    <a href="#" target="@linkTarget">Link Six</a> 
</nav>

<nav id="rNavContainer">
    <h2>
        category
    </h2>

    <div id="rNavDivider"></div>
    <div id="rNavHome">

        <a href="#" target="@target">Link Two</a> 
        <div id="menuIcon">
            <img src="http://www.byui.edu/Images/activities/menuicon.gif" alt="menu" />
        </div>
    </div>

    <div id="rNavTriangle"></div>

    <div id="rNavLinks">
        <a href="#" target="@linkTarget">Link One</a>
        <a href="#" target="@linkTarget">Link Two</a> 
        <a href="#" target="@linkTarget">Link Three</a> 
        <a href="#" target="@linkTarget">Link Four</a> 
        <a href="#" target="@linkTarget">Link Five</a> 
        <a href="#" target="@linkTarget">Link Six</a> 
    </div>
</nav>