<div class="homepage-events list-group">
    <a class="list-group-item homepage-heading panel-heading" href="http://calendar.byui.edu/">
        Upcoming Events
        <span class="hidden-xs panel-sub-heading">Full Calendar <span class="icon-angle-right"></span></span>         
    </a>
    <a href="#" class="list-group-item">
        <span class="event-date">Sep 18</span>
        <span class="event-title">Country Dancing</span>
        <span class="icon-angle-right visible-xs"></span>
    </a>
    <a href="#" class="list-group-item">
        <span class="event-date">Sep 19</span>
        <span class="event-title">Center Stage: We Are the Strike</span>
        <span class="icon-angle-right visible-xs"></span>
    </a>
    <a href="#" class="list-group-item">
        <span class="event-date">Sep 23</span>
        <span class="event-title">Devotional: Elder Jeffery R. Holland</span>
        <span class="icon-angle-right visible-xs"></span>
    </a>
</div>
