---
layout: MainLayout
pageName: home
---
<section class="homepage">
    {% include home-image-rotator/home-image-rotator.html %}

  <div class="row">
    <div class="col-all-12 col-xs-6 col-sm-4">
        {% include home-photo-galleries/home-photo-galleries.html %}
    </div>

    <div class="col-all-12 col-xs-6 col-sm-4">
        {% include home-institutional-message/home-institutional-message.html %}
    </div>

    <div class="col-all-12 col-sm-4">
        {% include home-news-events/home-news-events.html %}
  </div>
</section>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/homepage.min.css">