---
layout: MainLayout
---

<section class="homepage">
    {% include home-image-rotator/home-image-rotator.html %}
    
  <div class="row">
    
    <div class="col-all-12 col-xs-12 col-sm-6 col-md-5 pull-right">
        {% include home-events/home-events.html %}
    </div>
    
    <div class="col-all-12 col-xs-12 col-sm-6 col-md-7">
        {% include home-news/home-news.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-all-12 col-xs-12 col-sm-6 col-md-7">
        <div class="row no-margin">
            {% include home-videos/home-videos.html %}
            {% include home-photo/home-photo.html %}
        </div>
    </div>

    <div class="col-all-12 col-xs-12 col-sm-6 col-md-5">
        {% include home-institutional-message/home-institutional-message.html %}
    </div>
  </div>
</section>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/homepage.min.css">