---
layout: MainLayout
title: Welcome Bill Murray!
---

<section class="admin-home">

    <div class="row">
        <div class="col-all-12 mybyui-nav">
            <div class="mybyui-btn-row row">
                <div class="col-all-12 col-xs-6 mybyui-btn">
                    <a href="#" class="btn btn-success btn-lg btn-block"><span class="icon-mail">&nbsp;</span>Email</a>                    
                </div>
                <div class="col-all-12 col-xs-6 mybyui-btn">
                    <a href="#" class="btn btn-primary btn-lg btn-block"><span class="icon-keyboard">&nbsp;</span>I-Learn</a>                    
                </div>                               
            </div>
            <div class="mybyui-btn-row row">
                <div class="col-all-12 col-xs-6 col-sm-2 mybyui-btn">
                    <a href="#" class="btn btn-default btn-lg btn-block">Student</a>                    
                </div>      
                <div class="col-all-12 col-xs-6 col-sm-2 mybyui-btn">
                    <a href="#" class="btn btn-default btn-lg btn-block">Classes</a>                    
                </div>
                <div class="col-all-12 col-xs-6 col-sm-2 mybyui-btn">
                    <a href="#" class="btn btn-default btn-lg btn-block">Finances</a>                    
                </div>     
                <div class="col-all-12 col-xs-6 col-sm-2 mybyui-btn">
                    <a href="#" class="btn btn-default btn-lg btn-block">Services</a>                    
                </div>
                <div class="col-all-12 col-xs-6 col-sm-2 mybyui-btn">
                    <a href="#" class="btn btn-default btn-lg btn-block">Profile</a>                    
                </div>  
                <div class="col-all-12 col-xs-6 col-sm-2 mybyui-btn">
                    <a href="#" class="btn btn-default btn-lg btn-block">My Pages</a>                    
                </div>                              
            </div>
        </div>

    </div>

    <div class="row">

        <section class="article col-all-12 col-sm-4 pull-left">
<div class="row">
  <div class="col-all-12 col-xs-6 col-sm-12">
    <div class="audience-links list-group">
        <a href="http://calendar.byui.edu/" class="list-group-item audience-heading">Pathway Students</a>
        <a href="#" class="list-group-item">Registration</a>
        <a href="#" class="list-group-item">Academic Deadlines</a>
        <a href="#" class="list-group-item">Pathway Locations</a>
        <a href="#" class="list-group-item">Online Tutoring</a>
        <button type="button" class="btn btn-default btn-xs audience-links-btn" data-toggle="modal" data-target="#pathwayModal">more</button>
        <!-- Modal -->
        <div class="modal fade" id="pathwayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="pathwayModalLabel">Pathway Students</h4>
              </div>
              <div class="modal-body">
              <div class="audience-links clearfix">
                <div class="col-all-12 col-xs-6">
                  <div class="links-box">
                    <h3>Academic Start</h3>
                    <ul>
                      <li><a href="//www.byui.edu/pathway/first-semester" >First Semester</a></li>
                      <li><a href="//www.byui.edu/pathway/second-semester" >Second Semester</a></li>
                      <li><a href="//www.byui.edu/pathway/third-semester" >Third Semester</a></li>
                      <li><a href="//www.byui.edu/pathway/advance" >Matriculate</a></li>
                    </ul>
                  </div>
                  <div class="links-box">
                    <h3>Student Resources</h3>
                    <ul>
                      <li><a href="https://www2.byui.edu/StudentHonor/" >Honor Code</a></li>
                      <li><a href="http://www.lib.byui.edu/" >Library</a></li>
                      <li><a href="http://calendar.byui.edu/" >BYU-Idaho Calendar</a></li>
                    </ul>
                  </div>
                  <div class="links-box">
                    <h3>Registration</h3>
                    <ul>
                      <li><a href="https://www.byui.edu/registration/registration-schedule" >When to register</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-all-12 col-xs-6">
                  <div class="links-box">
                    <h3>Finances</h3>
                    <ul>
                      <li><a href="https://www.byui.edu/financial-services/my-account" >Bursar's Office</a></li>
                      <li><a href="https://secure.byui.edu/cas/login?service=https://web.byui.edu/Services/Login/?RedirectURL=https%3a%2f%2fweb.byui.edu%2fPersonalAccounts%2fAccountInfo%2fpersonalAccounts.aspx" >Pay Tuition</a></li>
                    </ul>
                  </div>
                  <div class="links-box">
                    <h3>Academic Help</h3>
                    <ul>
                      <li><a href="//www.byui.edu/pathway/pathway-advising" >Pathway Advising</a></li>
                      <li><a href="https://www.byui.edu/academic-support-centers/tutoring-center/online-tutoring" >Online Tutoring</a></li>
                      <li><a href="https://www.byui.edu/academic-support-centers/study-skills" >Study Skills</a></li>
                    </ul>
                  </div>
                  <div class="links-box">
                    <h3>Support Services</h3>
                    <ul>
                      <li><a href="https://www.byui.edu/help-desk" >IT Help Desk</a></li>
                      <li><a href="https://www2.byui.edu/Disabilities/" >Disability Services</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="audience-links list-group">
        <a href="http://calendar.byui.edu/" class="list-group-item audience-heading">Online Degree Students</a>
        <a href="#" class="list-group-item">My Account</a>
        <a href="#" class="list-group-item">Financial Aid</a>
      </div>  
    </div>
  <div class="col-all-12 col-xs-6 col-sm-12">
    <div class="audience-links list-group">
      <a href="http://calendar.byui.edu/" class="list-group-item audience-heading">Academic Resources</a>
      <a href="#" class="list-group-item">IT Help Desk</a>
      <a href="#" class="list-group-item">Academic Deadlines</a>
      <a href="#" class="list-group-item">Advising &amp; Careers</a>
    </div>
    <div class="audience-links list-group">
      <a href="http://calendar.byui.edu/" class="list-group-item audience-heading">Pathway Students</a>
      <a href="#" class="list-group-item">Registration</a>
      <a href="#" class="list-group-item">Academic Deadlines</a>
      <a href="#" class="list-group-item">Pathway Locations</a>
      <a href="#" class="list-group-item">Online Tutoring</a>
    </div>
  </div>
</div>




        </section>

        <aside class="right-column col-xs-12 col-sm-8 pull-right">
            <div class="row">
                <div class="col-all-12 col-xs-6">
                    {% include institutional-message/institutional-message.html %}
                    <div class="audience-news list-group">
                        <a href="http://www.byui.edu/newsroom" class="list-group-item events-heading panel-heading">Newsroom</a>
                        <a href="#" class="list-group-item media">
                          <div class="news-thumbnail">
                            <img class="pull-left media-object" alt="BYU-Idaho releases enrollment figures for Fall Semester 2013 " src="http://www.byui.edu/images/Internal_Use/newsroom/Fall13Enrollment(thumb).jpg">
                          </div>

                          <div class="media-body">
                            <p class="media-heading">BYU-Idaho releases enrollment figures for Fall Semester 2013</p>
                          </div>
                        </a>
                        <a href="#" class="list-group-item media">
                          <div class="news-thumbnail">
                            <img class="pull-left media-object" alt="BYU-Idaho releases enrollment figures for Fall Semester 2013 " src="http://www.byui.edu/images/Internal_Use/newsroom/Fall13Enrollment(thumb).jpg">
                          </div>

                          <div class="media-body">
                            <p class="media-heading">BYU-Idaho releases enrollment figures for Fall Semester 2013</p>
                          </div>
                        </a>
                        <a href="#" class="list-group-item media">
                          <div class="news-thumbnail">
                            <img class="pull-left media-object" alt="BYU-Idaho releases enrollment figures for Fall Semester 2013 " src="http://www.byui.edu/images/Internal_Use/newsroom/Fall13Enrollment(thumb).jpg">
                          </div>

                          <div class="media-body">
                            <p class="media-heading">BYU-Idaho releases enrollment figures for Fall Semester 2013</p>
                          </div>
                        </a>
                    </div>
                </div>
                <div class="col-all-12 col-xs-6">
                    {% include institutional-message/institutional-message.html %}

                    <div class="events homepage-events list-group">
                        <a class="list-group-item events-heading" href="http://calendar.byui.edu/">Upcoming Events</a>
                        <a class="list-group-item" href="#"><span class="event-date">SEP 14</span> Chicken Restaurant in the Manwaring Center</a>
                        <a class="list-group-item" href="#"><span class="event-date">SEP 14</span> Chicken Restaurant in the Manwaring Center</a>
                        <a class="list-group-item" href="#"><span class="event-date">SEP 14</span> Chicken Restaurant in the Manwaring Center</a>
                        <a class="list-group-item" href="#"><span class="event-date">SEP 14</span> Chicken Restaurant in the Manwaring Center</a>
                        <a class="list-group-item" href="#"><span class="event-date">SEP 14</span> Chicken Restaurant in the Manwaring Center</a>
                        <a class="list-group-item" href="#"><span class="event-date">SEP 14</span> Chicken Restaurant in the Manwaring Center</a>
                        <a class="list-group-item" href="#"><span class="event-date">SEP 14</span> Chicken Restaurant in the Manwaring Center</a>
                        <a class="list-group-item" href="#"><span class="event-date">SEP 14</span> Chicken Restaurant in the Manwaring Center</a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</section>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/audience.min.css" />